[2021-07-26 10:38] dapplion commented on #2885
@protolambda very kindly tested memory usage of tree backed structures in Go and Python implementations, thanks! :pray:

----

[code]
Memory usage of deserialized state, after running hash-tree-root (i.e. filled cached hashes), in Go

[code]
And just the validators registry

(tooling: https://github.com/fjl/memsize)

I just checked the python version, that one is 672 MB;

[code]

- Pair node: 143

[2021-07-26 10:42] twoeths commented on #2885
Currently, to store the hash information in a persistent-merkle-tree Node, it takes 208 bytes
<img width="1270" alt="Screen Shot 2021-07-26 at 17 30 43" src="https://user-images.githubusercontent.com/10568965/126976129-e719665c-902f-46cd-8559-dd8f976bfae9.png">

this is confirmed by v8 developer here https://stackoverflow.com/questions/45803829/memory-overhead-of-typed-arrays-vs-strings . He confi

[2021-07-26 10:55] twoeths commented on #2878
I was able to resync from genesis to get state 49151 and inspect its current and next sync committee.
[preState_49151.zip](https://github.com/ChainSafe/lodestar/files/6876694/preState_49151.zip)

+ note that slot 49151 belongs to the 49152 sync period so potentially it's an issue at the edge case
+ the attached state shows that both validator 206 and 484 belong to `currentSyncCommittee` and `nextS

[2021-07-26 16:16] #2004 closed, assigned to dapplion

[2021-07-26 16:16] #1705 closed, assigned to dapplion

[2021-07-26 16:16] #1980 closed, assigned to dapplion

[2021-07-26 16:21] #2879 closed, assigned to twoeths

[2021-07-26 18:52] #2882 closed, assigned to twoeths

[2021-07-26 19:53] dapplion commented on #2878
Oh so you mean we should still check if we are in the current or next sync committee instead of just using whatever head has

[2021-07-26 20:20] #2686 closed, assigned to dapplion

[2021-07-27 02:40] twoeths commented on #2878
yeah, we have that logic in SyncCommitteeMessage validation, just need to apply that same logic everywhere to make sure. Also the spec always does that, for example
[code]

[2021-07-27 03:10] twoeths opened #2888 "Failed to publish to docker hub"
**Describe the bug**

As in https://github.com/ChainSafe/lodestar/runs/3166394582

[code]

**Expected behavior**

Should be able to publish to docker hub

[2021-07-27 07:36] #2888 closed, assigned to nobody

[2021-07-27 09:18] twoeths opened #2892 "Improve SyncAggregate"
**Is your feature request related to a problem? Please describe.**

Our SyncAggregate statistic is not good https://altair-devnet-1-explorer.ethdevops.io/blocks?q=lodestar

**Describe the solution you'd like**

Right now we do the preaggregate thing which means we use the first SyncCommitteeContribution, we should track and use best SyncAggregate instead

[2021-07-27 14:41] #2878 closed, assigned to twoeths

[2021-07-29 01:35] twoeths opened #2901 "Improve processEffectiveBalanceUpdates"
**Is your feature request related to a problem? Please describe.**

A state transition of mainnet takes 5.4s, 4.67s (86%) is used for `processEffectiveBalanceUpdates`.

In mainnet, I see that we have to update ~75000 effective balances of validator.

<img width="1075" alt="Screen Shot 2021-07-29 at 08 22 05" src="https://user-images.githubusercontent.com/10568965/127417862-abe8bdfc-9cd0-4131-b70a-

[2021-07-29 08:41] #2892 closed, assigned to twoeths

[2021-07-29 09:28] #2901 closed, assigned to twoeths

[2021-07-29 09:47] dapplion commented on #1985
Implemented

[2021-07-29 09:47] #1985 closed, assigned to nobody

[2021-07-29 10:09] dapplion opened #2903 "altair-devnet-1+2 recap"
This issue is just to persist relevant metrics for a node of us that ran the altair-devnet-1 multiclient testnet, charts below are for the 22 July 2021 to 29 July 2021 period.

Overall it went well, no major issues on our side. We improved our selection of attestations to include only those that are useful for the network

![Screenshot from 2021-07-29 12-01-46](https://user-images.githubuserconten

[2021-07-29 13:18] dapplion opened #2905 "altair-devnet-2 issues"
Compilation of issues during altair-devnet-2

[2021-07-29 13:19] dapplion commented on #2905
Block at slot 337 was missed, but our validator did propose it

[code]

Missed block from explorer https://altair-devnet-2-explorer.ethdevops.io/block/337

The beacon_node acknowledged the block and inserted it as head
[code]

Latter we processed the next block (which orphans us, and eventually became the head)

[code]

We eventually re-org at block 340

[code]

[2021-07-29 13:25] twoeths commented on #2905
Lodestar included attestations for a missed block https://altair-devnet-2-explorer.ethdevops.io/block/407#attestations (391 is a missed block)

**Edit**: tracked in #2909

[2021-07-29 13:27] twoeths commented on #2905
From Teku

At the same time I got the following invalid signed aggregate and proof (which I think comes from a lodestar validator):
[code]
Teku rejected it for a bad signature.

Tracked in #2908

------

**Update: ignore the below**

From Proto:

That decodes too:
[code]
That 64000000 is very suspicious: it's the first 4 bytes, like a SSZ offset. But the fields are all fixed-size (bitvector for sy

[2021-07-29 13:35] dapplion commented on #2905
Review this `ATTESTATION_ERROR_FUTURE_SLOT` errors. Is our clock logic right? We seem to reject some, accept some.

[code]

[2021-07-29 13:37] twoeths commented on #2905
Found this in validator log
[code]

=> maybe related to https://github.com/ChainSafe/lodestar/issues/3063

[2021-07-29 13:37] twoeths commented on #2905
Is this a configuration error?
[code]

=> maybe due to same root cause to https://github.com/ChainSafe/lodestar/issues/3063

[2021-07-29 13:40] twoeths commented on #2905
Error submitting attestations to pool
[code]

=> closed via https://github.com/ChainSafe/lodestar/issues/3063

[2021-07-29 14:15] dapplion commented on #2905
TODO:
- Persist invalid objects to disk for latter debugging (behind a flag). Help us debug this testnets better, also CI
- Investigate ERR_INVALID_ATTESTATION_DOUBLE_VOTE errors, and what can we do to debug them once they happen.

[2021-07-29 16:50] dapplion opened #2907 "Lodestar nodes ping too much"
**Describe the bug**

Metrics show that we ping more than we are pinged.

![Screenshot from 2021-07-29 18-51-31](https://user-images.githubusercontent.com/35266934/127532879-6cc12fdd-e441-4732-a1b5-7c2ff2993af5.png)

**Expected behavior**

Given than nodes as very overloaded, we should ping the minimum we could get away with.

[2021-07-30 01:20] twoeths opened #2908 "altair-devnet-2: Invalid signature SignedAggregateAndProof at the fork slot"
**Describe the bug**

From Teku:

"At the same time I got the following invalid signed aggregate and proof (which I think comes from a lodestar validator):"
[code]

This is decoded at:
[code]

**Expected behavior**

Lodestar should produce valid SignedAggregateAndProof at the fork slot

[2021-07-30 03:06] twoeths commented on #2908
I regen the state at slot 320 and verify that all signatures are correct (that's how it got through our gossip validation and published to other nodes).
However, the `beaconBlockRoot` and targetStateRoot was for block 319, not 320. At that time, our node may not get block 320 (the fork block) at the right time.
All participations of the AggregateAndProof above are lodestar validators: `10606,10613

[2021-07-30 03:23] twoeths commented on #2908
Gossip block 320 came after 1/3 slot and did not have enough time to validate so we ignored all attestations:
[code]

at 1/3 time of slot 320, all lodestar validators think block 319 as head so they voted the wrong SignedAggregateAndProof

block 319 and 322 were received right at the beginning of slot while block 320 is received right after 1/3 slot
[code]

not sure why block 320 came that late an

[2021-07-30 07:24] twoeths opened #2909 "Invalid attestations included in blocks"
**Describe the bug**

Lodestar blocks include attestations voted for orphaned head, for example https://altair-devnet-2-explorer.ethdevops.io/block/351#attestations and https://altair-devnet-2-explorer.ethdevops.io/block/407#attestations

**Expected behavior**

We should only include attestations with correct source, target and head.

**Steps to Reproduce**

Join `altair-devnet-2`

[2021-07-30 08:03] dapplion commented on #2909
:+1: Time to add those attestations checks on inclusion

[2021-07-30 08:14] dapplion commented on #2908
Maybe! It might be good idea to add additional logs (under a flag) for when a gossip object is received. Many things could slow the block processing. Busy regen, busy bls workers, busy node in general, where promises take a long time to resolve.

Probably it's time that we add a safe attestation cache back again https://github.com/ChainSafe/lodestar/issues/2788

[2021-07-31 16:35] dapplion commented on #2885
This script captures the approach memory footprint of different Javascript objects experimentally https://gist.github.com/dapplion/94dff8bbf92d45a75c10181e1a95100f all numbers below refer to the resident set size increase.

- `Uint8Array` with 32 bytes: 223 bytes / instance
- `FixedObject` (from proto): 105 bytes / instance
- native `bigint` with 32 bytes: 72 bytes / instance

Other options that r

[2021-07-31 16:39] dapplion commented on #2885
I did some analysis on the Prater state at slot 936600 to understand the impact of size of each field / type. The sizes are approximate and may not account for offsets

field | length | ser size per item | serialized size | tree size per item | tree leaf size
-- | -- | -- | -- | -- | --
blockRoots | 8192 | 32 | 262144 | 32 | 262144
stateRoots | 8192 | 32 | 262144 | 32 | 262144
historicalRoots | 11

[2021-08-04 08:23] #2866 closed, assigned to twoeths

[2021-08-06 01:13] twoeths commented on #2908
From Teku: `It was actually our validator that published block 320 and it was ontime - published at 2021-07-29T13:04:01,193 which is 1 second into the slot.` There are 2 issues

+ seems like we have an issue at gossip since we can only receive the message 4s into the slot and the job wait time is not big per metric
[code]
cc @wemeetagain
+ Teku found that it's an invalid signature but lodestar saw

[2021-08-06 02:24] twoeths commented on #2909
we don't have to validate attestation head and target but source, this is already an issue that caused us having a missed slot at 35500
[code]

[2021-08-06 02:25] twoeths commented on #2909
same issues for a couple of blocks:
[code]

[2021-08-06 04:40] twoeths commented on #2826
with the latest master, we ignored this error. Closing the issue.

[2021-08-06 04:40] #2826 closed, assigned to nobody

[2021-08-06 04:42] twoeths commented on #2847
there is an issue that we receive gossip blocks so late although validator published it on time, see https://github.com/ChainSafe/lodestar/issues/2908#issuecomment-893930201

this seems to be the root cause

[2021-08-06 09:40] twoeths opened #2924 "Altair v1.1.0 - beta.2"
See detail in https://github.com/ethereum/eth2.0-specs/releases

[2021-08-09 14:48] #2924 closed, assigned to twoeths

[2021-08-09 15:45] #2767 closed, assigned to twoeths

[2021-08-10 06:27] dapplion opened #2931 "Add Altair fork epoch of 61650 for Pyrmont"
https://github.com/eth2-clients/eth2-networks/pull/56

[2021-08-10 13:03] dapplion opened #2937 "Format error messages"
**Is your feature request related to a problem? Please describe.**

Having typed errors is very useful to programatically interact with them. However their e.message is very uninformative on its own. We rely on our logger to print the error metadata nicely. If the error is shown outside of Lodestar run time, the e.message will be displayed alone. Also, turning the error metadata into a string auto

[2021-08-11 06:54] dapplion commented on #2903
This issue is just to persist relevant metrics for a node of us that ran the altair-devnet-2 multiclient testnet, charts below are for the July 29 2021 to August 11 2021 period.

### General metrics

Very stable memory and CPU usage through the two weeks. Validator performance is good but it could be a bit better, still 3% of attestations missed

![Screenshot from 2021-08-11 08-47-34](https://user

[2021-08-11 07:16] #2909 closed, assigned to twoeths

[2021-08-11 13:01] q9f commented on #2005
This happens again to my node after upgrading from 0.18.0 to 0.27.0

[code]

Shall I open a new ticket or shall we stick to this one?

[2021-08-12 00:36] twoeths commented on #2005
@q9f recently we run the nodes with 6GB heap memory https://github.com/ChainSafe/lodestar/blob/0add9d11d619e8f096d5dbf54ec40a6cf7b14f8f/docker-compose.yml#L18

there's an ongoing effort to reduce memory now at https://github.com/ChainSafe/lodestar/issues/2885

[2021-08-12 09:34] q9f commented on #2005
Thanks, that works well! (for now)

[2021-08-12 09:46] q9f opened #2949 "beaconchain sync stuck on mainnet, pyrmont, and prater"
**Describe the bug**

Lodestar 0.28 does not sync Prater testnet. It get's stuck on epoch 126 / head https://prater.beaconcha.in/block/4095

**Expected behavior**

Lodestar 0.28 does sync Prater testnet. ;)

**Steps to Reproduce**

[code]

**Screenshots**

![Screenshot at 2021-08-12 11-40-51](https://user-images.githubusercontent.com/58883403/129175519-3ad8aae9-294b-44b3-bba7-980b0881224e.png)

[c

[2021-08-12 09:50] q9f commented on #2288
same as #2680 / duplicate

[2021-08-12 09:52] q9f commented on #2680
I'm still getting this with v0.28.0 on Pyrmont testnet.

[code]

[2021-08-12 10:01] q9f opened #2950 "lodestar --version should indicate release track"
**What is your question?**

Given a binary build from latester:

[code]

Couple of issues:
- it does not indicate release track (stable/beta/nightly...)
- it does not indicate code version (git commit, from a release, "dirty"/unstable...)
- in this case, it provides a wrong version number (because master is already ahead of `0.28.0` right?)

Happy to take this one.

[2021-08-12 10:06] q9f commented on #2949
Similar issue with Pyrmont actually. :(

[code]

https://pyrmont.beaconcha.in/block/10334

[2021-08-12 10:06] twoeths opened #2951 "altair-devnet-3: invalid signature attestation submitted by lodestar"
**Describe the bug**

Found this error in our node:
[code]

**Expected behavior**

No error

[2021-08-12 10:12] q9f commented on #2949
Mainnet ....

[code]

[2021-08-12 10:13] twoeths opened #2952 "altair-devnet-3: Time out producing attestation"
**Describe the bug**

From validator log:
[code]
Our node shows that it may takes up to 8s to produce attestations
<img width="841" alt="Screen Shot 2021-08-12 at 17 12 11" src="https://user-images.githubusercontent.com/10568965/129179851-5560c3f8-cb8f-4d93-89a2-6fa0c4924efc.png">

It looks like our node is very busy.

**Expected behavior**

No error

[2021-08-12 10:18] q9f opened #2953 "Cannot read property 'map' of null"
**Describe the bug**

Similar to #2680 I guess.

`[ETH1]            error: Error updating eth1 chain cache message=Cannot read property 'map' of null`

**Expected behavior**

No.

**Steps to Reproduce**

[code]

**Screenshots**

[code]

**Desktop (please complete the following information):**

- OS: Archlinux `kernel 5.10.11-arch1-1 #1 SMP PREEMPT Wed, 27 Jan 2021 13:53:16 +0000 x86_64 GNU/Linux`

[2021-08-12 10:21] q9f commented on #2953
Also that one:

[code]

🤣

[2021-08-12 12:38] q9f commented on #2949
Ok, I was resetting the databases and did fresh sync on all networks and they get stuck on the very same blocks again:

- mainnet `0xa35e75bf8bc3316d4c33fda7fadec35c363774467455def4591aa283511af52c` https://beaconcha.in/block/1439
- pyrmont `0x20b0c4f6c6d8c04f6cb2d0bce7a575454ae97582d5f892918a611116430052cc` https://pyrmont.beaconcha.in/block/10334
- prater `0xb02bcc109576d850bf4620d091181e988a0c8

[2021-08-12 13:38] dapplion commented on #2953
Thanks for reporting! Seems that our eth1 consumer doesn't do enough data validation.

The error `error: Error updating eth1 chain cache message=Cannot read property 'map' of null
TypeError: Cannot read property 'map' of null` seems to be caused by an response that does not follow the RPC format. We should add schema validation for all the fields that we expect to exist

[2021-08-12 13:46] dapplion commented on #2949
Thanks for reporting! Could you dump here the debug logs? If block processing of sync blocks fails it will be visible there

[2021-08-12 14:11] q9f commented on #2949
I think I already identified it:

[code]

[2021-08-12 16:51] dapplion commented on #2949
Oh damn! I wonder how is that possible, given that we pass specs tests. @tuyennhv Could you take a look?

[code]

[2021-08-12 16:54] dapplion commented on #2950
I agree with the suggestions! We just let `yargs` cli library handle the version for us. But it's time to print more info. We already do than on the first log line when running the beacon or validator cmds. We could do the same for --version

[2021-08-12 20:41] dapplion opened #2954 "Add flag to not return pubkeys in API calls"
**Describe the feature**

Eth2.0 API spec requires many API calls to return the index and pubkey of validators. Our validator never uses those pubkeys, and they take a non-trivial cost to get. We enable via flag the beacon node just returning a zero pubkey.

[code]

Related https://github.com/ethereum/beacon-APIs/issues/215

[2021-08-13 07:37] twoeths commented on #2951
I have no idea how can this happen but #2955 may be one of the causes. If we have wrong active validator indices, we'll get wrong committee and the aggregated signature verification may be failed due to that.

The issue does not happen in the mean time though. Perhaps the only way we can do with this is to log out the whole attestation hash so that we can recreate its struct data when we investiga

[2021-08-13 13:51] #2949 closed, assigned to twoeths

[2021-08-14 10:42] twoeths opened #2960 "altair-devnet-3: Invalid state root"
**Describe the bug**

Sync altair-devnet-3 and got:
[code]

**Expected behavior**

No error

[2021-08-14 10:52] twoeths commented on #2960
meanwhile the block explorer stops working at epoch 535
<img width="1517" alt="Screen Shot 2021-08-14 at 17 50 21" src="https://user-images.githubusercontent.com/10568965/129444033-74c34440-c761-4086-b745-75eb256a1097.png">

[2021-08-17 17:35] #2950 closed, assigned to q9f

[2021-08-18 00:51] twoeths opened #2966 "Improve updating balances to tree"
**Is your feature request related to a problem? Please describe.**

In altair when processing a block, we update balances multiple time and every time we update BeaconState tree root due to the hook, this is inefficient.

**Describe the solution you'd like**

Update balances on a cloned balances tree and once it's done, we escalate the change to BeaconState tree root

In `CachedBalanceList`

[code

[2021-08-18 09:52] twoeths commented on #2960
not a lodestar issue, I was able to sync to head from genesis.

[2021-08-18 09:52] #2960 closed, assigned to nobody

[2021-08-19 08:05] twoeths opened #2972 "Track balance as Number"
Currently a balance is of type Gwei, 1ETH is tracked as 1_000_000_000 and as a bigint.

We can track balance as a number for faster processing and for saving memory too, because it's unlikely that a validator balance has more than 9M ETH as calculated below

[code]

[2021-08-19 12:18] dapplion opened #2977 "query returned more than 10000 results"
**Describe the bug**

This issue is showing up again

[code]

Happens every slot

**Expected behavior**

No error level log

[2021-08-19 15:12] q9f commented on #2977
similar to #2680 #2953

[2021-08-20 02:55] twoeths opened #2981 "Track effectiveBalance as small number"
**Is your feature request related to a problem? Please describe.**

We should use number whenever possible as BigInt calculation is about x250 times slower as analysed by @dapplion

**Describe the solution you'd like**

1. effectiveBalance is always a multiple of 1e9 and it's <= 32*1e9 so should be able to track 30, 31, 32 instead of BigInt(30 * 1e9), BigInt(31 * 1e9), BigInt(32 * 1e9). This would

[2021-08-20 09:45] q9f commented on #2594
I also noticed that and traced through the code realizing that the presets are always overwritten by networks and none of the networks uses the minimal configuration, so even the default node options use a mainnet preset, therefore overriding any attempt to use a minimal preset.

That said, it might be worth refactoring the entire preset/network logic because there is literally no reason to use a

[2021-08-20 09:47] q9f commented on #2854
Closely related to #2594 - where I suggest that we remove `preset` altogether and instead let the network configurations handle this. I cannot think of any use case where you would want to run a certain testnet with a different preset.

[2021-08-20 10:37] dapplion opened #2983 "Persisted config overwrites new Pyrmont fork config"
**Describe the bug**

Our Pyrmont node did not apply the new config merged in https://github.com/ChainSafe/lodestar/pull/2975

The cause is that the cli beacon cmd had persisted a `config.yaml` in the rootDir with these values

[code]

When the command starts again, reads this config and overwrites the new default values with those. Note that it includes `ALTAIR_FORK_EPOCH`.

**Expected behavior**

[2021-08-20 13:05] dapplion opened #2984 "Add op pool metrics"
**Describe the feature**

Add a simple counter of items in each memory-based op pool

[2021-08-20 14:40] dapplion opened #2985 "Build separate light-client server"
**What is your question?**

Lodestar currently has a light-client server (updates + init proofs) built into the beacon node. We should develop a separate light-client server that connects to a beacon node via the API and builds the updates + proofs there in a separate process. This way Lighthouse could be a light-client server without extra development.

[2021-08-20 14:55] ColinSchwarz opened #2986 "Light Client Planning"
## Light Client Community Building
Community and consensus building around a vision for eth2 light clients is our top priority
- Create a new PR on the eth2 spec repo
- Cayman will write proposal for our vision for LCs and submit for community review
- Some in the community have suggested a separate node to serve light clients, something to think about further
    - Step 1 ideate on this
    - Ste

[2021-08-21 14:54] #2814 closed, assigned to g11tech

[2021-08-22 10:39] dapplion commented on #2854
+1 to remove the preset option. I've only used it for local devnets, and in that scenario I can craft a config.

[2021-08-22 10:41] dapplion commented on #2594
+1 to remove the preset option. Adding a dev dedicated network is a great idea too. We already craft the db paths of the dev command as if the network was "dev"

[2021-08-22 10:47] dapplion commented on #2981
NOTE! :warning: We must add a check in the Lodestar constructor to check
[code]

Otherwise if it's not too complicated we could compute effectiveBalances as the multiple of EFFECTIVE_BALANCE_INCREMENT, regardless of what it is. Most of the logic in state transition function computes the **ratio** of effectiveBalance to the effectiveBalance sum so EFFECTIVE_BALANCE_INCREMENT is factored out.

In th

[2021-08-23 01:06] twoeths commented on #2981
if `EFFECTIVE_BALANCE_INCREMENT` is not 1e9, it's not a problem to track effectiveBalance as 30, 31, 32 because it's always a multiple of `EFFECTIVE_BALANCE_INCREMENT`. We only have a problem if the `multiple of EFFECTIVE_BALANCE_INCREMENT` logic gets changed which is not likely to happen.

Anyway in node, when we want effectiveBalance as number, it means double, not integer. So let's think about

[2021-08-23 08:38] dapplion commented on #2981
Sounds good then, let's compute at ETH, regardless of EFFECTIVE_BALANCE_INCREMENT value

[2021-08-23 08:39] dapplion commented on #2449
Adoption is well underway in the lodestar repo

[2021-08-23 08:39] #2449 closed, assigned to nobody

[2021-08-23 08:40] q9f opened #2990 "review release tracks and versioning scheme"
follow-up after #2950 - continuing discussion from #2958

@dapplion I'm totally down to change the version strings to our custom format. This, however, might change the release process (and ci scripts) that basically just used `lerna publish`.

I'll leave this open for discussion and maybe I can find a suitable alternative to `lerna` during the week.

[2021-08-23 08:41] dapplion commented on #2507
Right now we use a `gossipTopicCache` to prevent parsing again

[2021-08-23 08:41] #2507 closed, assigned to nobody

[2021-08-23 08:42] dapplion commented on #2990
@q9f Doesn't lerna support providing a custom version string?

[2021-08-23 08:44] dapplion commented on #2715
Still happens sometimes

[2021-08-23 08:45] dapplion commented on #2720
@tuyennhv Once we merge all the memory related improvements we should do another round of heap snapshots to validate the improvements. Then we can review this issues :+1:

[2021-08-23 08:47] #2737 closed, assigned to nobody

[2021-08-23 10:32] q9f commented on #2990
Lerna just allows strict semver. We could hack the sha into the preid but I'm wondering if there are alternatives.

no custom versions: https://github.com/lerna/lerna/issues/2813

[2021-08-23 10:51] q9f opened #2996 "uncaughtException: cb is not a function"
**Describe the bug**

Mainnet sync throws:

[code]

It does continue to sync though.

**Expected behavior**

Handle that exception.

**Screenshots**

[code]

**Desktop (please complete the following information):**

- OS: Archlinux
- Version: 0.29.0 (tag)

[2021-08-23 17:06] dapplion commented on #2990
Or run a search an replace? hahaha

[2021-08-23 17:11] dapplion commented on #2996
That's so strange, what code can be parsing xml with `xml2js`?

[2021-08-24 10:19] dapplion opened #2999 "Releases not uploaded to Dockerhub"
**Describe the bug**

At least version 0.28.0 is not uploaded to Dockerhub. The publish to Dockerhub action failed. https://github.com/ChainSafe/lodestar/runs/3255490028

[code]

I think the problem is a race condition with NPM. We have a prior action that uploads that version to NPM, then run the Dockerfile that installs from NPM. Since the timing is tight, it may happen that NPM doesn't acknowle

[2021-08-24 10:44] dapplion opened #3000 "protons performance issue"
**Describe the bug**

`protons` takes 5% of total CPU time in the main thread, which is really bad.

![Screenshot from 2021-08-24 12-32-28](https://user-images.githubusercontent.com/35266934/130603295-38f895c9-919c-426f-b582-174756792f65.png)

Library `protons` has been deprecated by the libp2p js team. Latest versions of everything do not include it anymore.

@wemeetagain we must update all libp2

[2021-08-24 11:38] q9f commented on #2999
It stopped working 2 months ago apparently but the nightly builds still make it to Docker hub. I'll check the scripts.

[2021-08-24 13:33] q9f commented on #2999
It was potentially broken in ~~#2667~~ or #2672 or ~~#2705~~

[2021-08-24 13:59] q9f commented on #2999
Releases are delayed for 10-15 minutes https://github.com/npm/npm/issues/20056

https://npm.community/t/newly-published-packages-have-a-delay-before-they-are-consumable/952

Can't really tell why nightly is working though. (lucky us?)

[2021-08-24 15:25] dapplion commented on #2999
I think the easiest solution now is to:
1. Add a wait and pause step to ensure it's available before attempting the docker build
2. Restructure the skip checks such that re-running the workflow still attempts to build the image again even if the tag exists. Skipping only the publish to NPM step

[2021-08-24 16:14] q9f commented on #2854
You can still use `LODESTAR_PRESET` after #2995

[2021-08-24 16:38] #2576 closed, assigned to 3xtr4t3rr3str14l

[2021-08-24 16:38] #2854 closed, assigned to 3xtr4t3rr3str14l

[2021-08-24 16:51] wemeetagain opened #3008 "Add Lodestar to Staking Launchpad"
For when we're confident enough:

open an issue/pr at https://github.com/ethereum/staking-launchpad
we may need some intro like: https://launchpad.ethereum.org/en/prysm

[2021-08-24 22:21] dapplion opened #3010 "Reduce boilerplate in spec tests"
**What is your question?**

- We have a `minimal.test.ts` and a `mainnet.test.ts` for each test case. There could be a single test.ts file as switch between both via ENVs
- Rename `wrappedState` to `state`
- Add helper variables to reduce boilerplate ssz types and varibles
- Use deep.equal comparisions in all types, not only state

[2021-08-24 23:45] dapplion opened #3011 "Perf tests OOM"
**Describe the bug**

Perf test OOM quite frequently. I haven't been able to take a heap snapshot so I'm still on the black.

Latest time in CI it happened here, right after the `badcase_full_deposits` case

https://github.com/ChainSafe/lodestar/blob/99369b137a3575b2edd6aeb31c35f2bc134a461a/packages/beacon-state-transition/test/perf/phase0/epoch/processRegistryUpdates.test.ts#L41

[code]

**Expect

[2021-08-25 08:05] #2999 closed, assigned to q9f

[2021-08-25 13:27] q9f commented on #3011
All my PRs fail with this error now....

[2021-08-25 13:40] BeroBurny opened #3018 "Lodestar CLI is not working with 3rd party beacon nodes"
**Describe the bug**
running validator with 3rd party beacon node should run it

**Expected behavior**

To run and do work

**Steps to Reproduce**

version build from source

[code]

[2021-08-25 14:02] dapplion commented on #3011
Do you have any experience debugging memory leaks in NodeJS? If you want to try to get a heap snapshot I have the feeling it might be easy to pin point the cause.

[2021-08-25 14:53] dapplion opened #3020 "Fix failed phase0 minimal spec tests"
:warning: Some phase0 minimal tests are skipped, should be fixed in a new PR. The error is there because we were **not** running those test

https://github.com/ChainSafe/lodestar/blob/6a0d022a9eb432e23e4ca2c141c6be3e8eac9379/packages/spec-test-runner/test/spec/phase0/epoch_processing.test.ts#L58-L72

https://github.com/ChainSafe/lodestar/blob/6a0d022a9eb432e23e4ca2c141c6be3e8eac9379/packages/spec-

[2021-08-26 14:30] dapplion commented on #3018
Maybe related https://github.com/ChainSafe/ssz/issues/166 our casing transformation might be wrong

[2021-08-26 17:32] sonidhruv commented on #2209
hello, i am new to open source. and i wanted to work in open source project.
can anyone guide me?

[2021-08-26 19:53] dapplion commented on #2209
Hi @sonidhruv ! For sure, if you are interested in contributing you can take this issue! Feel free to ask any doubts here or in discord  https://discord.gg/yjyvFRP

[2021-08-27 04:44] twoeths opened #3029 "Altair v1.1.0-beta.3"
Implement altair v1.1.0-beta.3 at https://github.com/ethereum/consensus-specs/releases

Run new spec tests at https://github.com/ethereum/consensus-spec-tests/releases/tag/v1.1.0-beta.3

[2021-08-27 05:52] sonidhruv commented on #2209
Thanks @dapplion !!!! can you help me to understand this issue?

[2021-08-27 10:10] twoeths opened #3030 "Spec test for our altair optimized function getRewardsPenaltiesDeltas"
**Is your feature request related to a problem? Please describe.**

Modify our rewards spec test in order to cover our customized `getRewardsPenaltiesDeltas` function https://github.com/ChainSafe/lodestar/blob/cd6e6a4f3b51c9fbb48dfc73390da933e6fc5b8f/packages/beacon-state-transition/src/altair/epoch/balance.ts#L45

Here's the rewards spec test https://github.com/ChainSafe/lodestar/blob/master/pack

[2021-08-27 14:34] dapplion commented on #2209
Yes! So after so many months (years) of work there are files and code that's no longer used. The tool `ts-prune` scans the project and find that unused files and functions. Then you could remove them to make the project nicer, cleaner and easier to navigate for upcoming future contributors :+1:

[2021-08-28 14:42] dapplion commented on #2952
We need a metric to track how "busy" our node is.

A potential approach would be to track async event loop lag:

[code]

[2021-08-28 14:43] dapplion opened #3033 "Add async event loop lag metric"
We need a metric to track how "busy" our node is.

A potential approach would be to track async event loop lag:

[code]

_Originally posted by @dapplion in https://github.com/ChainSafe/lodestar/issues/2952#issuecomment-907635918_

[2021-08-28 15:14] dapplion commented on #1492
Closing since this should no longer be an issue. Please re-open if it happens again

[2021-08-28 15:14] #1492 closed, assigned to nobody

[2021-08-28 15:15] dapplion commented on #2459
@wemeetagain After merging SSZ repos and BLS repos we should apply this issue to them to on par with the Lodestar monorepo

[2021-08-29 16:04] dapplion opened #3034 "Improve gossip attestation processing capacity"
A busy Lodestar beacon node sometimes struggles to process all aggregates and attestations from gossip. I'm opening this issue to explore different queue and processing strategies to improve capacity.

### Sync batch validation

Currently all incoming gossip objects are placed in a queue and processed sequentially (LIFO) with a concurrency of 16.

A different approach would be modify our `validate

[2021-08-30 08:11] q9f opened #3036 "Road to Stability"
We currently to nightly "unstable" releases and biweekly "alpha" releases, however, at this early stage of the project, we do not have any strategies towards stabilizing the code and the releases.

I use this meta ticket to outline some strategies to revisit in future in case we want to move into a "beta" or "stable" phase.

Useful resouce:
- https://hackmd.io/HOaKGHWGT-aLzF6kh1KQfA
- I had this c

[2021-08-30 08:11] q9f commented on #2990
Closing in favor of #3036

[2021-08-30 08:11] #2990 closed, assigned to q9f

[2021-08-30 09:09] q9f opened #3037 "Error: Could not locate the bindings file."
**Describe the bug**

Lodestar latest master does not run `Error: Could not locate the bindings file.`

**Steps to Reproduce**

[code]

[2021-08-30 12:58] dapplion commented on #3037
Can you try removing node_modules in the root directory and try again?
[code]

[2021-08-30 13:13] q9f commented on #3037
Indeed that worked, thanks 🙏🏼

[2021-08-30 13:13] #3037 closed, assigned to nobody

[2021-08-30 17:31] dapplion opened #3039 "Don't store full pubkey in pubkey2index map"
**Describe the feature**

We don't need to store the full pubkey since the collision probability is low enough with just a few bytes. Note that ethereum addresses use 20 bytes only.

Check a safe minimum byte count and create a map that can extend the size of the key if it detects a collision. Keep an array of key bytes, starting at [10] for example, and if there's a collision extend to [11] and w

[2021-08-31 06:55] #2972 closed, assigned to twoeths

[2021-08-31 07:36] #2981 closed, assigned to twoeths

[2021-08-31 13:23] g11tech commented on #3018
yup @dapplion  this looks to be case related, for e.g. the current response received from lighthouse beacon was in UPPER_CASE/CONSTANT_CASE while we are expecting snake_case (most probably for network params fetch)
![image](https://user-images.githubusercontent.com/76567250/131509626-521849f7-e03a-4b7a-a102-b166463732a7.png)

while other we are receiving in snake, and hence parsing correctly, thou

[2021-08-31 13:57] dapplion commented on #1811
Lodestar is running in Mainnet with average performance. I would consider Lodestar productionized at this point with still work to do to be as performant as other popular clients

[2021-08-31 13:57] #1811 closed, assigned to wemeetagain

[2021-08-31 13:58] #1963 closed, assigned to dapplion

[2021-08-31 13:59] dapplion commented on #2152
Done

[2021-08-31 13:59] #2152 closed, assigned to g11tech

[2021-08-31 13:59] #2228 closed, assigned to nobody

[2021-08-31 14:00] #2458 closed, assigned to nobody

[2021-08-31 14:00] dapplion commented on #2458
Deprecated this function with latest ssz release

[2021-08-31 14:00] dapplion commented on #2517
Useful maps have been developed already

[2021-08-31 14:00] #2517 closed, assigned to dapplion

[2021-08-31 14:01] dapplion commented on #2523
Continue tracking work with https://app.zenhub.com/workspaces/eth20-5c46babc258a903ed6f71597/issues/chainsafe/lodestar/2044

[2021-08-31 14:01] #2523 closed, assigned to nobody

[2021-08-31 14:02] dapplion commented on #2528
Added local cache in altair attestation processing, closing for now

[2021-08-31 14:02] #2528 closed, assigned to twoeths

[2021-08-31 14:03] dapplion commented on #2644
Closing for now, re-open if it happens again

[2021-08-31 14:03] #2644 closed, assigned to twoeths

[2021-08-31 14:05] dapplion commented on #2907
Closed with https://github.com/ChainSafe/lodestar/pull/2974

[2021-08-31 14:05] #2907 closed, assigned to nobody

[2021-09-02 03:54] twoeths opened #3056 "Error starting docker"
**Describe the bug**

This happens when I start our node on an dockerized environment:
[code]

**Expected behavior**
No error
**Desktop (please complete the following information):**

- Commit hash: 1f44e0

[2021-09-02 04:19] twoeths commented on #3056
got this error when I run from command line or run docker with `--build` option:

[code]

this does not happen if I revert https://github.com/ChainSafe/lodestar/pull/3042

[2021-09-02 12:35] dapplion opened #3060 "Error proposing blocks Cannot get tree for index: 7865"
**Describe the bug**

Running Prater after fork

[code]

**Expected behavior**

Don't break proposing blocks

[2021-09-02 12:41] dapplion opened #3061 "Beacon node notifier says (empty) but head is progressing"
**Describe the bug**

In Prater fork, with many missing blocks this print happened

[code]

**Expected behavior**

Review (empty) tag logic

CC: @q9f

[2021-09-02 12:43] dapplion opened #3062 "Chain logs "expected" errors"
**Describe the bug**

In Prater fork many blocks were missed, causing many errors for the chain processor. However this errors are expected in such network conditions and should not be logged as full errors, maybe warning or just info.

[code]

**Expected behavior**

Log as errors bad unexpected things

[2021-09-02 12:48] dapplion opened #3063 "Prater altair fork: ATTESTATION_ERROR_INVALID_SIGNATURE"
**Describe the bug**

A single beacon node with one validator errors sometimes with

[code]

CPU is not too high, < 80%

**Expected behavior**

Validator should agree with beacon node on correct signature

[2021-09-02 13:22] dapplion commented on #3063
Happened again right after restarting the node

[code]

[2021-09-02 16:47] dapplion opened #3064 "Validator client should not rely on pubkeys"
**Describe the feature**

For performance reasons we can disable in the API impl, that the beacon node returns pubkeys with duties. As a previous step the validator client should only use validator indexes to organize its duties.

[2021-09-02 17:30] dapplion commented on #3063
@tuyennhv  I've tracked the issue to incorrect ordering of attestation duties. The problem is that getCommitteeAssignments() returns un-ordered duties while the api impl code assumes it does. This makes the validator client apply duties to wrong validator and sign with a different key

The issue is fixed with this commit https://github.com/ChainSafe/lodestar/pull/3046/commits/e53647ea4e053f0c98a7c

[2021-09-02 18:58] #2885 closed, assigned to nobody

[2021-09-02 18:58] #3063 closed, assigned to nobody

[2021-09-02 19:02] dapplion commented on #2885
After https://github.com/ChainSafe/lodestar/pull/3046

[code]

Adding some granularity to CachedBeaconState

[code]

[2021-09-03 01:23] twoeths commented on #3030
closing via https://github.com/ChainSafe/lodestar/pull/3051

[2021-09-03 01:23] #3030 closed, assigned to nobody

[2021-09-03 04:12] twoeths opened #3066 "Invalid state root"
**Describe the bug**

Got this on contabo-0 running Prater
[code]

after this, node stays out of synced

**Expected behavior**
No error

[2021-09-03 07:38] dapplion commented on #2885
After redoing the tests in my local env more times and in @tuyennhv 's the results are different:
[code]

[2021-09-03 08:11] dapplion commented on #3011
Fixed with https://github.com/ChainSafe/lodestar/pull/3026

[2021-09-03 08:11] #3011 closed, assigned to nobody

[2021-09-03 08:12] dapplion commented on #495
All relevant metrics should be implemented now

[2021-09-03 08:12] #495 closed, assigned to dapplion

[2021-09-03 08:13] dapplion commented on #467
Implemented

[2021-09-03 08:13] #467 closed, assigned to wemeetagain

[2021-09-03 08:13] dapplion commented on #302
We have a very solid benchmarking strategy now

[2021-09-03 08:13] #302 closed, assigned to nobody

[2021-09-03 08:13] dapplion commented on #1377
We have a very solid benchmarking strategy now

[2021-09-03 08:13] #1377 closed, assigned to nobody

[2021-09-03 08:14] #1469 closed, assigned to nobody

[2021-09-03 08:14] dapplion commented on #1675
Validator client has sufficient unit tests now

[2021-09-03 08:14] #1675 closed, assigned to dapplion

[2021-09-03 08:15] dapplion commented on #1770
I have never observed event loop lag over 1s in months. However if the main thread is busy things will timeout, regardless of how many sleep(0) we add everywhere.

[2021-09-03 08:15] #1770 closed, assigned to twoeths

[2021-09-03 08:16] dapplion commented on #1881
User guides were updates 2 months ago and are fairly updated

[2021-09-03 08:16] #1881 closed, assigned to wemeetagain

[2021-09-03 08:16] #1977 closed, assigned to mpetrunic

[2021-09-03 08:17] dapplion commented on #2033
Not necessary, now we use testLogger that turns on debug logs when running with ENV DEBUG=true

[2021-09-03 08:17] #2033 closed, assigned to nobody

[2021-09-03 08:18] dapplion commented on #2381
@tuyennhv Still happening?

[2021-09-03 08:19] dapplion commented on #2309
We are tracking epoch transition times fairly well with performance tests. Let's open dedicated issues for specific improvement strategies

[2021-09-03 08:19] #2309 closed, assigned to twoeths

[2021-09-03 08:19] dapplion commented on #2248
Increased ping interval with https://github.com/ChainSafe/lodestar/pull/2974

[2021-09-03 08:19] #2248 closed, assigned to nobody

[2021-09-03 08:20] #2217 closed, assigned to 3xtr4t3rr3str14l

[2021-09-03 08:20] #2153 closed, assigned to g11tech

[2021-09-03 08:21] dapplion commented on #2049
All useful ideas are already implemented

[2021-09-03 08:21] #2049 closed, assigned to twoeths

[2021-09-03 08:22] dapplion commented on #2046
Oh man, we have milked so much more performance out of this :tada:

Closing, add new issues for specific improvement strategies

[2021-09-03 08:22] #2046 closed, assigned to twoeths

[2021-09-03 08:24] dapplion commented on #2511
Closed with https://github.com/ChainSafe/lodestar/pull/3017

[2021-09-03 08:24] #2511 closed, assigned to nobody

[2021-09-03 08:26] dapplion commented on #2771
Fixed with https://github.com/ChainSafe/lodestar/pull/2760

[2021-09-03 08:26] #2771 closed, assigned to nobody

[2021-09-03 08:29] dapplion commented on #2573
Fixed with https://github.com/ChainSafe/lodestar/pull/2574

[2021-09-03 08:29] #2573 closed, assigned to 3xtr4t3rr3str14l

[2021-09-03 08:30] #2931 closed, assigned to nobody

[2021-09-03 08:32] dapplion commented on #2872
[code]

We are good now :+1:

[2021-09-03 08:32] #2872 closed, assigned to nobody

[2021-09-03 08:34] dapplion commented on #2862
@q9f Do you think the rest api should be enabled or disabled by default in the beacon node?

[2021-09-03 08:35] #2856 closed, assigned to twoeths

[2021-09-03 08:36] dapplion commented on #2805
Fixed, cause = https://github.com/ChainSafe/lodestar/issues/3063#issuecomment-911906811

[2021-09-03 08:36] #2805 closed, assigned to nobody

[2021-09-03 08:36] dapplion commented on #2796
@mpetrunic bump

[2021-09-03 09:21] dapplion commented on #2796
Thanks for reporting @dnkolegov . Closing since it has a clear path to resolution in https://github.com/ChainSafe/js-libp2p-noise/issues/102 and it's not urgent

[2021-09-03 09:21] #2796 closed, assigned to mpetrunic

[2021-09-03 09:51] dapplion commented on #3056
I'm able to up the latest :next build in our deploys :+1:

[2021-09-03 09:51] #3056 closed, assigned to twoeths

[2021-09-03 10:21] q9f commented on #3061
That's because it assumes that blocks are arriving at clock slots. Reasons can be manifold: local clock out of sync, block processing internally takes longer than expected, block propagation in the network takes longer than expected.

I know we just print out the `synced` logger message right on the clock slot (right on the second) where as it might be better to couple it with some internal events

[2021-09-03 10:25] twoeths commented on #3066
~~another error when I deserialize weak subjectivity state:~~

[code]
Update: this is not an error, it's an issue of my environment having the old config file.

[2021-09-03 10:34] q9f commented on #2862
It's really a matter of taste. Bitcoin nodes have it off by default (afair) whereas most Ethereum nodes have it enabled by default.

I would lean to enable it but it really doesn't matter. Doesn't the validator need it? Or is it bundled into one?

[2021-09-03 10:58] q9f opened #3069 "Prater beacon node does not initialize beacon state"
Even with _silly_ logging, I cannot get beyond:

[code]

latest master @ 8f0b41cf

[2021-09-03 10:59] q9f commented on #3069
Heisenbug.

[2021-09-03 10:59] #3069 closed, assigned to nobody

[2021-09-03 11:08] q9f commented on #3061
Just checked, we are already waiting for half a slot:

[code]

So, basically this means this is not a logger issue but rather something else, why would it take more than 6 seconds to receive and process a block?

Unless it's a clock issue?

[2021-09-03 13:03] dapplion commented on #2862
It is mandatory for the validator

[2021-09-03 13:15] dapplion commented on #3061
That was taken in very bad network conditions so blocks were arriving at random times + had to trigger a backwards search of previous blocks before being able to insert them. Definitely not the norm, but wondering if (empty) communicates what's actually going on

[2021-09-03 13:24] dapplion commented on #3010
Closed with https://github.com/ChainSafe/lodestar/pull/3017

[2021-09-03 13:24] #3010 closed, assigned to nobody

[2021-09-03 13:26] #2863 closed, assigned to nobody

[2021-09-03 13:29] #2744 closed, assigned to nobody

[2021-09-03 13:29] dapplion commented on #2720
Bump

[2021-09-03 13:34] dapplion commented on #2773
Should be fixed now

[2021-09-03 13:34] #2773 closed, assigned to nobody

[2021-09-03 13:35] #2439 closed, assigned to nobody

[2021-09-03 13:37] dapplion commented on #2252
Gossip logs have been reviewed already

[2021-09-03 13:37] #2252 closed, assigned to nobody

[2021-09-03 13:38] dapplion commented on #2244
@vasco-santos Can you take a look? Should we escalate this to some libp2p module?

[2021-09-03 13:38] dapplion commented on #2243
@vasco-santos Can you review? Is this expected behaviour in a normal setting? Is it safe to ignore this error?

[2021-09-03 13:41] dapplion commented on #2007
Relevant items to track in the validator:
- Is the connected beacon chain too busy / slow?
- Is the validator client too busy signing that it's delayed? May happen when it has attached a large number of keys
- Is there any config issue such that the beacon chain rejects signatures?

[2021-09-03 13:43] dapplion commented on #1748
Closing since init command usage has been deprecated

[2021-09-03 13:43] #1748 closed, assigned to 3xtr4t3rr3str14l

[2021-09-03 13:51] vasco-santos commented on #2244
If it tries, that is because they are advertised. Check the [announceFilters option](https://github.com/libp2p/js-libp2p/blob/master/doc/CONFIGURATION.md#customizing-libp2p)

I think this might be a re-connect attempt from both sides, resulting in a connection to happen from one side and the other is aborted as the connection was already established. Did you see if you have a connection after the

[2021-09-03 13:54] vasco-santos commented on #2243
`Error: Error occurred during XX handshake: Error occurred while verifying signed payload: Peer ID doesn't match libp2p public key.` this should only happen if a peer is advertising addresses with addresses including a different PeerId.

Other more strange case I can think on top of my head is old PeerStore persisted data where IPs actually match for a different peer.

Making this an error test sc

[2021-09-03 14:02] dapplion opened #3076 "Implement merge spec + spec tests"
**What is your question?**

See https://github.com/ethereum/consensus-specs/blob/dev/specs/merge/beacon-chain.md

- [x] #3093
- [x] #3185
- [x] #3194
- [x] #3196
- [x] #3198
- [x] #3254
- [x] #3259
- [x] #3263
- [x] #3252
- [x] Test merge interop with Geth Catalyst

--------

Pending updates:
- [x] https://github.com/ethereum/consensus-specs/pull/2605
- [x] https://github.com/ethereum/consensus-sp

[2021-09-03 15:25] wemeetagain opened #3077 "Light client integration into p2p network"
Integrating consensus light clients into the existing p2p network (rather than solely relying on a REST API) opens the door for light client gossip and other more efficient and decentralized communication.

At a high level, what changes would be required and what should be considered when integrating a light client, or light client functionality, into the p2p network?

Possible outcomes:
- Add web

[2021-09-03 15:35] wemeetagain opened #3078 "Reorg-capable light client"
Ideally a light client is able to sync to the head of the beacon chain, rather than sync only to the finalized block.

Investigate current light client reorg mechanisms.
Help build consensus, write specifications, implement pocs, etc to push this feature towards standardization and production.

[2021-09-03 15:40] wemeetagain opened #3079 "Light client API standardization"
The light client syncing API should be standardized and available as a REST API.

Build consensus, write specifications, implement pocs, etc to bring the syncing API to standardization and production.

[2021-09-03 15:42] wemeetagain commented on #2986
Linking #3077 #3078 #3079

[2021-09-03 15:46] dapplion commented on #2244
Hmm the node should not assume that a valuable peer is the same host, tho unlikely. Should we filter 0.0.0.0, 127.0.0.1 addresses out by default, providing a flag to undo that?

I will debug to see if the connection was established, would need more debugging to be sure

[2021-09-03 16:08] #2715 closed, assigned to nobody

[2021-09-03 16:44] dapplion opened #3080 "altair processAttestations performance issue"
**Describe the bug**

Looking at the metrics for our altair nodes processing a block takes way longer (300ms) than what the performance tests say (100ms).

Taking a profile shows that all the time is spent on processing attestations

![Screenshot from 2021-09-03 18-40-18](https://user-images.githubusercontent.com/35266934/132040200-2ae11cf5-dbdb-428d-b8a2-37eec8d7d463.png)

**Expected behavior**

[2021-09-03 16:53] dapplion opened #3081 "altair epoch processing slower than expected"
**Describe the bug**

In an overloaded Prater node in contabo an epoch transition takes > 2s

![Screenshot from 2021-09-03 18-52-16](https://user-images.githubusercontent.com/35266934/132041230-7f81543e-2cca-4fd5-9a6d-05b3cafe8d87.png)

**Expected behavior**

Not be that slow

------

Note: this CPU profile was taken in an overloaded contabo node.

Running the altair block performance benchmarks i

[2021-09-03 17:27] dapplion commented on #3080
The performance issue comes from having to traverse the tree many times to persist each single new status. If I comment this line out

https://github.com/ChainSafe/lodestar/blob/43972fb1b0d0e0d44c4244541b7a1c0e958d68e1/packages/beacon-state-transition/src/altair/block/processAttestation.ts#L81

the cost of processing the entire block goes from 100ms -> 23.1ms.

We must apply all the changes in bat

[2021-09-03 17:32] dapplion opened #3082 "processEth1Data performance issue"
**Describe the bug**

processEth1Data takes more time than it should (5-6ms, 25% of phase0 block processing times). Looks like iteration takes signficant time + it has to convert the root of each entry from hashObject to Uint8Array and then compare. A bit stupid when it could just use the hashObject numbers

![Screenshot from 2021-09-03 19-29-31](https://user-images.githubusercontent.com/35266934/

[2021-09-04 02:48] philknows commented on #1049
@dapplion Do we want to use this issue to address the setup of a continuous deployment server for production code monitoring? Or was the purpose of this issue to be used for something else? I can just create a brand new issue if req'd.

[2021-09-04 04:40] twoeths commented on #3066
attaching preState 1177407, signed block 1177408 and wrong postState 1177408

[state_1177407_invalid_root_0x17eb9ac943f2a3aa5b2a53640cd7c48088ef086eae7f825cda97dd9d6bd73ffb_pre_1630729091819.ssz.zip](https://github.com/ChainSafe/lodestar/files/7109193/state_1177407_invalid_root_0x17eb9ac943f2a3aa5b2a53640cd7c48088ef086eae7f825cda97dd9d6bd73ffb_pre_1630729091819.ssz.zip)

[state_1177408_invalid_roo

[2021-09-06 00:51] #3066 closed, assigned to twoeths

[2021-09-06 01:17] twoeths opened #3084 "Incorrect attestations submitted by lodestar validator in prater"
**Describe the bug**

Validator consistently submit incorrect source/target checkpoints and head block in prater after altair launched

<img width="1566" alt="Screen Shot 2021-09-06 at 08 15 46" src="https://user-images.githubusercontent.com/10568965/132147628-16ea32a8-5f41-4209-9bb0-5a2729b0fee9.png">

**Expected behavior**

Validator should submit correct attestations most of the time

[2021-09-06 01:24] twoeths opened #3085 "Lodestar validators are not able to propose blocks in prater"
**Describe the bug**

After altair forked in prater, I haven't seen lodestar validators being able to successfully propose blocks, there are different performance issues that may cause the issue but it's good to track this as a separate one.

**Expected behavior**

Lodestar should be able to propose blocks on time (< 1/3 slot time = 4s).

[2021-09-06 19:32] philknows opened #3089 "v0.29.3 docker syncing gets stuck at head 385215"
Running docker image v0.29.3 and starting beacon chain sync from genesis. Syncing gets stuck at head: 385215. Last finalized is stuck at head: 385120.

Lodestar should sync right to current head.

**Steps to Reproduce**

**Screenshots**

![Screenshot from 2021-09-06 14-16-34](https://user-images.githubusercontent.com/58080811/132255952-6c5c7151-c324-44e3-bc7b-611b74c30ce4.png)

Logs: https://drive

[2021-09-07 10:16] dapplion commented on #3039
pubkey2index map is retaining 320MB in Prater (220_000 validators) which averages 1454 bytes per pubkey :exploding_head:

![Screenshot from 2021-09-07 12-15-05](https://user-images.githubusercontent.com/35266934/132328103-4151715e-72f0-4248-ac57-cc1563307cf2.png)

[2021-09-07 10:47] twoeths commented on #3089
Thanks @philknows for the sync, I'm looking into the issue

[2021-09-07 13:37] philknows commented on #3089
I should also mention if I haven't already that I was trying to sync with prater.

[2021-09-07 14:26] dapplion opened #3093 "Implement merge types"

[2021-09-07 21:00] dapplion opened #3094 "Reference cached beacon states with WeakRefs"
Teku does it with good results. Since the cache memory size is technically unbounded this strategy is great for preventing OOMs.

- [ ] The head state should be kept separately with a strong reference.
- [ ] Test how JS chooses to garbage collect multiple WeakRef. By age? By least used?
- [ ] Test performance of WeakRef.unref() if it's called very often (attestation processing)
- [ ] Consider addi

[2021-09-08 02:02] twoeths commented on #3089
I cannot reproduce the issue in my local environment with my latest version `392b3d26`

[code]

the sync started from checkpoint 12037 - slot 385184 and can get through slot 385215 normally. I'm syncing from contabo-0 from scratch too, let's see how it works there ...

[2021-09-08 03:15] twoeths commented on #3084
this is due to the performance of gossip block, we tend to receive gossip block from previous epoch

[code]

+ at slot 1213434, we do receive gossip block 1213434
+ at slot 1213435, we receive `old/wrong` gossip block 1213403
+ at slot 1213436, we do receive gossip block 1213436
+ at slot 1213437, we receive `old/wrong` gossip block 1213417
+ at slot 1213438, we receive `old/wrong` gossip block 12

[2021-09-08 03:52] twoeths commented on #3061
right now we have a weird behavior that gossip block does not come on time, I think this is the root cause https://github.com/ChainSafe/lodestar/issues/3084#issuecomment-914876394

[2021-09-08 07:43] twoeths commented on #3089
it doesn't happen with contabo-0 too
![Screen Shot 2021-09-08 at 14 41 26](https://user-images.githubusercontent.com/10568965/132467497-8f55589f-4f47-4974-879d-32e5a17760cf.png)

@philknows could you please pull the latest beacon node image and try again?

[2021-09-09 05:30] philknows commented on #3089
Interesting. Will try and recreate! Thanks.

[2021-09-09 14:26] dapplion opened #3098 "Call produceAttestationData once for all validators"
**What is your question?**

To reduce API calls cost on large validator counts, just call produceAttestationData once in the validator flow, and edit the committeeIndex

[2021-09-09 17:17] philknows commented on #3089
@tuyennhv I definitely did not include `--weakSubjectivitySyncLatest --weakSubjectivityCheckpoint 0xcfa9f3adacab45c3a455e079752a38fedf4ebbdac17c2db107ccd46a055d4ed6:12037` when running it. This would be the proper way for any new users to start running the client?

[2021-09-09 17:45] dapplion opened #3099 "Unnecessary repeated epoch transitions when node is stuck"
**Describe the bug**

Due to the invalid head state root issue, our Prater node got stuck for a few days in limbo, memory is stable. However, many epoch transitions are done per epoch (32-50). Maybe the regen is not caching the state after advancing it? Or doesn't know how to query it.

Check in the REST API metrics the only external interaction with the node is getProposerDuties, there was no gos

[2021-09-09 17:47] dapplion opened #3100 "To many epoch transitions per epoch"
**Describe the bug**

Our Prater node in normal synced network conditions does 2-3 epoch transitions per epoch. Review if this is correct or the metrics are wrong (by adding some logs) first.

![Screenshot from 2021-09-09 19-46-10](https://user-images.githubusercontent.com/35266934/132736699-69b8a2bc-e6d6-4d8c-a7e4-a7cf66a8436a.png)

**Expected behavior**

Do 1 epoch transition per epoch

[2021-09-09 18:43] dapplion commented on #3089
Noo, tuyen used this flag to go directly to the block that you said causes your node to get stuck.

[2021-09-09 19:33] #2983 closed, assigned to g11tech

[2021-09-09 19:42] #2862 closed, assigned to nobody

[2021-09-09 19:43] #3029 closed, assigned to twoeths

[2021-09-09 19:44] #2012 closed, assigned to dapplion

[2021-09-09 20:27] philknows commented on #3089
Closing this. Can't concretely reproduce. Thanks for the help!

[2021-09-09 20:27] #3089 closed, assigned to twoeths

[2021-09-09 21:36] dapplion opened #3105 "Optimize fork choice methods that iterate"
**Describe the bug**

Some forkchoice methods are way too inneficient iterating all nodes unnecessarily

**Expected behavior**

Be more optimal

[2021-09-10 14:16] dapplion opened #3108 "Prater invalid state root at slot 1225921"
**Describe the bug**

Our Prater node running with 920 validators on a Contabo M machine got

[code]

![Screenshot from 2021-09-10 16-09-27](https://user-images.githubusercontent.com/35266934/132867476-1dc8e768-d6a1-4a14-b64a-578d95b209c2.png)

![Screenshot from 2021-09-10 16-13-43](https://user-images.githubusercontent.com/35266934/132867488-8ecf7ab8-7175-4f3a-a645-5eea291f7a84.png)

![Screenshot

[2021-09-10 14:54] twoeths commented on #3108
it looks like this is the old version

[code]

while this PR was merged 5 days ago #3083

we need to pull the latest docker image and try again to confirm

[2021-09-11 16:42] dapplion opened #3110 "Peer cronically behind"
**Describe the bug**

Our peer is cronically behind getting blocks very late from mesh peers.

In this logs you can see how three Lighthouse peers discover the same block 60s late and forward to us in sequence:
- peer1 16Uiu2HAmCWxz9iXTrstyF1YDbvmpN6ngG2R3cTw6bTAXMLZEN2b8
- peer2 16Uiu2HAmJj6y2ces4gjhRzPFXBEqRdB6NoKWSh3B1Mgevr41c4WA
- peer3 16Uiu2HAm3gcqtY6W5717jFQXSfcHkMzGYAag8XuYgcqgDCebeFbz

Sc

[2021-09-11 17:02] dapplion commented on #3110
Found a Prysm peer that's also cronically behind but consistently sending us the blocks afterwards

[code]

[2021-09-11 17:06] dapplion opened #3111 "Node doesn't head sync immediately after ws sync to latest finalized"
**Describe the bug**

When running with --weakSubjectivityLatest the node should immediately do a head sync, but it doesn't. It takes a long time to realize it's behind, then does a finalized sync and gets to the head.

**Expected behavior**

Quickly get to the head with `--weakSubjectivityLatest`

**Steps to Reproduce**

Run with `--weakSubjectivityLatest` on mainnet

[2021-09-11 18:34] dapplion commented on #3110
It's not true I've added more logging and peers are not being according to their status messages. All peers my node connects to, follow the head very closely (get the head block within a 2-3 seconds margin max). So why are they relaying old blocks?

[2021-09-11 19:11] dapplion opened #3112 "Add total synced blocks metrics"
Add block count metrics per sync type:

- [ ] Total count of block synced by unknown parent block sync
- [ ] Total count of block synced with head sync
- [ ] Total count of block synced with finalized sync

[2021-09-12 09:30] dapplion opened #3115 "Use libp2p metrics"
libp2p has some metrics, consume them in our prometheus metrics

https://github.com/libp2p/js-libp2p/blob/master/src/metrics/index.js

[2021-09-12 10:23] dapplion opened #3116 "Ban star exports"
**Describe the bug**

Due to NodeJS commonJS module standard star exports compile to an ugly slow patch that significantly slows hot path functions.

Typescript source

[code]

complies to

[code]

- Use eslint rule to ban star exports, just export what's needed externally

[2021-09-12 10:32] g11tech opened #3117 "script to prohibit exemplar use in grafana dashboard"
As in some grafana instances, exemplar query is giving 404 not found, add test script to prohibit exemplar use in grafana lodestar.json, as by default in new panel exemplar is on by default.

 https://github.com/ChainSafe/lodestar/blob/6fae28646d2b783acd0fe1b2d95f012efcc68769/.github/workflows/test.yml#L30

**Additional context**
context:
![image](https://user-images.githubusercontent.com/76567250

[2021-09-13 06:25] g11tech opened #3120 "investigate: getState related all regenFns's metric show empty data plus getPreState regenFn job metrics"
![image](https://user-images.githubusercontent.com/76567250/133033750-06a62ded-5f9a-4c1a-b451-83eeee603fcd.png)

![image](https://user-images.githubusercontent.com/76567250/133034063-9e316f1e-dd05-4298-b25f-a7fdd0ee734d.png)

[2021-09-13 09:40] dapplion opened #3123 "Spec tests download fails in CI"
**Describe the bug**

[code]

**Expected behavior**

Not fail, consider caching the result, and retrying

[2021-09-13 11:37] q9f commented on #3061
No, it's an assumption that there should be a block available in less than half a slot time. I lack a deeper understanding of the internal block processing routes to propose an alternative here. But maybe it's just fine for the notifier for now.

[2021-09-13 11:43] q9f opened #3127 "error: Block error slot=2059069, errCode=BLOCK_ERROR_PARENT_UNKNOWN"
**Describe the bug**

A fully synced mainnet note keeps complaining about unknown parents. It does, however, import the blocks anyways.

**Expected behavior**

Know all parents or handle this message properly.

**Steps to Reproduce**

`lodestar beacon`

**Screenshots**

[code]

**Desktop (please complete the following information):**

- OS: Archlinux
- Version: v0.29.3/master/+28/ec7e4192 (git)
-

[2021-09-13 11:45] q9f commented on #3127
Notably, the `empty` messages before that may be false positives. Something might happen internally that the previous block is not available. ref #3061

[2021-09-13 11:56] #3123 closed, assigned to nobody

[2021-09-13 19:47] dapplion commented on #3127
Caused by https://github.com/ChainSafe/lodestar/issues/3110

[2021-09-14 08:39] twoeths opened #3132 "Node stops getting gossip block due to error"
**Describe the bug**

This happens in my local environment with "tuyen/peer-score-params" branch. Node stays synced with good gossip block, after a while I got his error

[code]

I haven't received any gossip blocks since then.

I'll validate if we have this same issue in other environments and `master`.

**Expected behavior**

No error

[2021-09-14 09:00] dapplion commented on #3132
Stack trace points to this line https://github.com/alxhotel/nat-api/blob/e404453ebca7e386fbd20f8dd7d86b8c9611058e/index.js#L324

I didn't knew libp2p was messing with UPnP by default! Should this be enabled by default??

[2021-09-14 10:54] twoeths commented on #3108
closing the issue as it works fine in contabo-7 after pulling the latest docker image

[2021-09-14 10:54] #3108 closed, assigned to twoeths

[2021-09-14 10:59] q9f commented on #3127
Duplicate of #3110

[2021-09-14 10:59] #3127 closed, assigned to nobody

[2021-09-14 11:32] q9f commented on #3132
ref #2996

[2021-09-14 12:24] q9f opened #3136 "Gitcoin Grants link is 404"
should be updated in `FUNDING.yml`

[2021-09-14 14:27] dapplion opened #3137 "Memory spike at fork transition"
**Describe the bug**

Running a local devnet with 1000 validators in a single node, I noticed spikes at the fork boundary. Check how the next fork state is created.

![Screenshot from 2021-09-14 16-25-10](https://user-images.githubusercontent.com/35266934/133276394-7179cc50-1b5a-4464-8a8a-af87f9c4c2f3.png)

**Expected behavior**

Keep memory stable

[2021-09-14 18:46] q9f opened #3170 "CI does not install updated dependencies."
**Describe the bug**

CI does not check for failing builds.

**Expected behavior**

CI should fail early if `yarn build` returns an error.

**Steps to Reproduce**

The following PRs have all-green CI tests even though they do not build properly.
* #3166
* #3163
* #3158
* #3148
* #3144
* #3141

We might be caching dependencies too aggressively?

[2021-09-14 18:52] q9f commented on #3170
Yes, I can reproduce this locally:

`yarn clean && lerna run build` succeeds.

But:

`yarn install && yarn clean && lerna run build` fails.

We are caching dependencies and do not reinstall unless we change the ~~NodeJS version~~ yarn lock file.

[2021-09-14 18:55] dapplion opened #3171 "Fast OOM when syncing close to head"
**Describe the bug**

After stopping the node for a few minutes when it tries to sync to the head its memory spikes fast until it causes an OOM expection. The process is repeated after in loop.

![Screenshot from 2021-09-14 20-51-44](https://user-images.githubusercontent.com/35266934/133316975-86c82a13-5890-4b30-865b-4ee6f129c738.png)

![Screenshot from 2021-09-14 20-52-02](https://user-images.git

[2021-09-14 19:07] q9f commented on #3170
Ok, installing with `--frozen-lockfile` also fails correctly; however, since we are hashing the lock file with `hashFiles('**/yarn.lock')`, this value never changes. Thus, we never really install new dependencies.

[2021-09-14 19:48] #3171 closed, assigned to nobody

[2021-09-15 01:56] twoeths opened #3173 "Improve processInactivityUpdates"
**Is your feature request related to a problem? Please describe.**

1. Right now `processInactivityUpdates` takes the same amount of time to `processRewardsAndPenalties`, and all of the time is for the loop not for the update itself
[code]
this is due to `FLAG_ELIGIBLE_ATTESTER` being imported

![Screen Shot 2021-09-15 at 08 25 37](https://user-images.githubusercontent.com/10568965/133355931-3f93e

[2021-09-15 02:25] philknows opened #3175 "High GC rate and slow processing during altair blocks sync"
Machine:
Intel Core i5-11400
32 GB DDR4 3200mhz RAM
2TB WD Black SN850 M.2 2280 PCIe Gen4 NVMe SSD

Specs:
- OS: Ubuntu 20.04.3
- Version: 0.29.3
- Branch: master/+24
- Commit hash: 2c9ebf74

Tested on Prater: After starting Altair sync roughly 1900hrs, notice the changes in above screenshots for GC. Slower processing of post-Altair blocks. Sync completes around 0000hrs.

**Screenshots**

<img wid

[2021-09-16 02:23] twoeths opened #3180 "Don't use other module's functions and constants in long loops"
**Is your feature request related to a problem? Please describe.**

This is from https://github.com/ChainSafe/lodestar/pull/3178#issue-996944825

If we use functions and constants of other modules in a for loop, tsc would compile it from

[code]
to
[code]
as we can see, it keeps accesing `util_1.*` in a for loop and it makes the code slow, we should instead import functions/constants outside of th

[2021-09-16 07:33] dapplion opened #3182 "Go full ESM modules"
**Describe the bug**

As a more sustainable alternative to https://github.com/ChainSafe/lodestar/issues/3180 we can consider switching Lodestar from using comonJS modules to ESM modules.

As an example of how to migrate and the implications for downstream consumers read this doc by find-up mantainer https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

- [x] Proof viable in Lodest

[2021-09-16 09:06] #3093 closed, assigned to dapplion

[2021-09-16 09:07] dapplion opened #3185 "Implement merge state transition"

[2021-09-16 09:45] dapplion opened #3188 "Bump BLS dependencies"

[2021-09-16 15:03] #3170 closed, assigned to q9f

[2021-09-16 16:32] dapplion opened #3194 "Implement merge fork choice updates"

[2021-09-16 17:33] #3185 closed, assigned to dapplion

[2021-09-16 18:58] dapplion opened #3196 "Implement merge fork transition process"

[2021-09-16 19:29] #3194 closed, assigned to dapplion

[2021-09-16 20:12] dapplion opened #3198 "Implement merge block production"

[2021-09-16 21:33] #3196 closed, assigned to dapplion

[2021-09-17 06:41] twoeths commented on #3084
with #3186 we can receive gossip blocks more regularly but some blocks come quite late (>4s) after the slot starts
[code]

[2021-09-17 10:15] q9f opened #3199 "List of spec tests not covered by Lodestar"
I compared the tag release `v0.30.0` (alpha) which ran pipeline [3619666497](https://github.com/ChainSafe/lodestar/runs/3619666497) with the upstream spec test at tag `v1.1.0-beta.3`. I have put my findings in the linked Gists (if any).

### Phase 0

* `general/phase0/bls/` 60/60 (100%) ✅
* `general/phase0/ssz_generic/` 1795/1905 (94.2%, 110 [not covered](https://gist.github.com/q9f/3082ce2f694fe3

[2021-09-17 10:20] q9f commented on #3199
It would be beneficial to quickly get a list of available tests in the consensus repository. So I used a ruby script to parse the contents and generate the lists.

Also, I couldn't use the TypeScript utilities that are supposed to check test coverage. So, instead, I parsed the CI logs to get a clear image of what's being run. Also, here, it would be nice if I could figure out a way in the future,

[2021-09-18 10:55] dapplion commented on #3084
With metrics we can easily track the time elapsed between block slot time -> block received in gossip, then block slot time -> block processed

[2021-09-18 11:34] g11tech opened #3201 "getAttesterDuties is being called multiple times in an epoch by 1 validator process"
**Describe the bug**
In each epoch the validator calls for getAttesterDuties, which are supposed to be called once an epoch unless the reorg happens, but lodestar is consistently making 3-4 requests doesn't matter if the 1, 16 or 975 validators are attached (but through ONE VALIDATOR PROCESS) , and it seems to be doing calculation in all of the calls (may be in parallel)

**Expected behavior**
Sho

[2021-09-18 12:22] dapplion commented on #3201
@g11tech Note that this chart can be very misleading. A single dot does not mean 1 call. A single dot means that the average value in prometheus db for that metric was X, so it could mean 100, 1000 requests that average to that value. Similarly 3 dots may just represent a single call but because of interval polling between grafana and prometheus it renders as three reads for the same scraped value

[2021-09-18 12:25] dapplion commented on #3201
@g11tech You can review the validator attester duties flow here https://github.com/ChainSafe/lodestar/blob/6cf7c2c3f3df6012bd4ce773ab3b5310c347e884/packages/validator/src/services/attestationDuties.ts#L53

duties are requested twice per epoch
- 1 req for current epoch
- 1 req for next epoch
- (maybe) again if new indices are discovered during calls

[2021-09-18 13:08] g11tech commented on #3201
fair point, let me look at the counter of the metric:
in 15 second interval (the grafana interval for fetching data) it has gone up by 8-10 (in multiple times/epochs).
as per my understanding of histogram metric, counter for a metric goes each time one observes ( +1 for each observe/startTimer command).

![image](https://user-images.githubusercontent.com/76567250/133889763-f3c6fdfb-2c39-49ef-8ec5-

[2021-09-18 15:45] filipesmedeiros opened #3204 "[repo] sponsor link leads to 404 page"
I was trying to see how I could help the project, but the sponsor link leads to https://gitcoin.co/grants/79/lodestar-eth20-client which is a dead link.

Anything I can do to help?

[2021-09-18 19:23] g11tech commented on #3120
on a cursory glance, seems like queued `getState` seems to be never called (which is our entrypoint for starting any regen metric).
however will there is a getState in api/impl/beacon/state/index.ts that further calls resolveStateId:

resolveStateId either picks from stateCache, or stateArchive or constructs from stateArchive.
seems like getState is not being called from outside.

[2021-09-18 19:55] g11tech commented on #3120
seems like `getPreState` computation is never getting queued for computation and is getting resolved in cache only.
it does get called from `processBlocksInEpoch` but gets resolved using cache's only in regen/queued.ts and never further ahead.

here is an effort to look up any observation across last 30 days in a prater running node"
![image](https://user-images.githubusercontent.com/76567250/1339

[2021-09-18 19:58] g11tech commented on #3120
@dapplion  should these metrics panels be removed from regenFn Stats of the metrics dashboard? or should I aggregate all these metrics in a single widget (multiple targets), someday if something shows up we can dig deeper
atleast we can remove the crowding from regenFn Stats

[2021-09-19 12:56] dapplion commented on #3201
This chart is much better, clearly the validator is calling getAttesterDuties ~8 times during the first 3 epochs or your screen capture

[2021-09-19 13:12] dapplion commented on #3204
@GregTheGreek @aidanih

[2021-09-19 13:15] dapplion commented on #3120
Sounds good do a PR with screen captures and let's see how it looks. If you can make all panels by 2 per row format would be great, there are still 2 full row width panels.

[2021-09-19 13:24] dapplion commented on #1957
Fixed with https://github.com/ChainSafe/lodestar/pull/3134

[2021-09-19 13:24] #1957 closed, assigned to nobody

[2021-09-19 14:36] g11tech commented on #3201
:+1: will investigate further, may be can help us with our memory problem!

[2021-09-19 15:35] dapplion opened #3205 "Improve REST API metrics"
**Describe the bug**

Only successful requests are registered in metrics. Metrics should register incoming requests, then successful / error requests, and timed out requests

[2021-09-19 16:39] dapplion opened #3206 "Is the checkpoint's epoch useless for weak subjectivity sync?"
To start the ws sync you get the block, then the state of block.stateRoot. When processing the next non-skipped slot the block processor will naturally forward the state. Then what relevant necessary info is the epoch adding the checkpoint?

[2021-09-19 16:54] dapplion opened #3207 "LightClientIniter should store checkpoints not finalized checkpoint"
**Describe the bug**

LightClientIniter assumes the finalized state is in the cache. That's a big strech and will break in long non-finality

https://github.com/ChainSafe/lodestar/blob/6cf7c2c3f3df6012bd4ce773ab3b5310c347e884/packages/lodestar/src/chain/lightClient/LightClientIniter.ts#L97

Intead, store all checkpoints, or all checkpoints after N slots (i.e. 32) to guard against short lived forks

[2021-09-19 20:33] Aren49 opened #3208 "Errors when using brackets with eth1.providerUrls & network.localMultiaddrs flags"
**Describe the bug**

Docs and command-line options state that `eth1.provider` and `network.localMultiaddrs` flags require brackets however cause errors on the beacon node. To avoid errors, users should input commands without brackets e.g., `--eth1.providerUrls http://localhost:8545` and `--networklocalMultiaddrs /ip4/0.0.0.0/tcp/9000`.

[2021-09-20 01:27] twoeths commented on #3084
@dapplion  I'll implement this

[2021-09-20 08:37] twoeths commented on #3085
we're able to propose a lot of blocks https://prater.beaconcha.in/blocks?q=Lodestar

[2021-09-20 08:37] #3085 closed, assigned to nobody

[2021-09-20 13:53] dapplion commented on #3208
@philknows Would you mind taking a look?

[2021-09-20 13:58] dapplion commented on #1797
Actually it's already implemented by libp2p

[2021-09-20 14:02] dapplion commented on #2804
That's because we transfer all non-finalized blocks to the finalized blocks repository

[2021-09-20 14:02] #2804 closed, assigned to nobody

[2021-09-20 15:59] g11tech commented on #2645
hi @dapplion, as per my analysis, bls/blst's validate is checking if the signature is a (G2) group point. bls/herumi is checking the order of the signature point w.r.t. G2 order (in signature constructor: isValidOrder ). will continue digging.

[2021-09-20 19:40] dapplion commented on #2645
@g11tech Can you try to validate this test vector?

[code]

[2021-09-20 19:56] dapplion opened #3211 "ERR_INVALID_ATTESTATION_DOUBLE_VOTE"
**Describe the bug**

A user in discord reported  https://discord.com/channels/593655374469660673/593655641445367808/889555125448892427

[code]

Lodestar version=v0.30.0 (npm), network=prater
Neither my vc or bn node were restarting. I am running both in cli. I couldn't find any grafana dashboards for metrics. Can you please link it?
I plan on running  lodestar using systemd but will probably do t

[2021-09-20 21:01] dapplion opened #3213 "Epoch processing times oscilate in Prater every 24h"
**Describe the bug**

Epoch processing times on a Prater node with no validators oscillate widely upwards every 24h. The  times in the screenshot are CEST

![Screenshot from 2021-09-20 22-58-27](https://user-images.githubusercontent.com/35266934/134074937-e50eeff6-7c84-495b-8e1b-f6d32b544a19.png)

Memory and CPU remain very stable in those spikes. Node is running v0.29.3/master/+35/b37a4258 (git)

[2021-09-20 23:48] filipesmedeiros commented on #3204
Duplicate of #3136

[2021-09-20 23:48] #3204 closed, assigned to nobody

[2021-09-21 06:30] g11tech commented on #2645
this point fails sigValidate of bls/blst but passes isValidOrder of bls/herumi, which i guess is only checking the order of the point and not its group membership (of G2).

On further digging bls/herumi uses "bls-eth-wasm" under the hood to wrap the bls functionality in webassembley. however its signature class doesn't export any group validation method, just the order validation:

https://github.

[2021-09-21 06:36] twoeths commented on #3084
with #3209, gossip blocks are processed on time (<4s)

![Screen Shot 2021-09-21 at 13 32 48](https://user-images.githubusercontent.com/10568965/134122800-ae30f997-d13f-4703-9a01-ed51dd61856f.png)

but our validators still miss some block heads

![Screen Shot 2021-09-21 at 13 34 31](https://user-images.githubusercontent.com/10568965/134122894-c78ea9a2-42dc-4d29-abac-62b64bacfd08.png)

[2021-09-21 07:56] dapplion commented on #2645
From Antonio's messages:

this is how prysm used to do [group verification] (when they had support for herumi)

https://github.com/prysmaticlabs/prysm/blob/develop/shared/bls/herumi/init.go#L13

[2021-09-21 08:01] #3117 closed, assigned to g11tech

[2021-09-21 08:06] dapplion opened #3215 "libp2p UPnP usage by default"
**Describe the bug**

libp2p seems to interact with UPnP by default (which should not) and it causes errors.

**Expected behavior**

- Consider only interact with UPnP under a flag
- Review type errors https://github.com/ChainSafe/lodestar/issues/3132

[2021-09-21 08:06] dapplion commented on #3132
Probably both items are unrelated, gossip problems are now mostly fixed and opened and issue to track libp2p cb issue https://github.com/ChainSafe/lodestar/issues/3215

[2021-09-21 08:06] #3132 closed, assigned to twoeths

[2021-09-21 08:08] dapplion commented on #2951
Closing since it was likely to wrong duties

[2021-09-21 08:08] #2951 closed, assigned to twoeths

[2021-09-21 08:10] dapplion commented on #2874
Would you mind reviewing the docs with fresh eyes? It's not necessary to run init at all now

[2021-09-21 08:26] dapplion commented on #2905
All items are either resolved or tracked in other issues :+1:

[2021-09-21 08:28] #2905 closed, assigned to nobody

[2021-09-21 08:33] dapplion commented on #2758
All relevant naive code is gone now. Only some parts of weak subjectivity use naive code but that's tolerable since it's run once and under some usecases only

[2021-09-21 08:33] #2758 closed, assigned to nobody

[2021-09-21 08:35] dapplion commented on #2409
Done with https://github.com/ChainSafe/lodestar/pull/3212

[2021-09-21 08:35] #2409 closed, assigned to nobody

[2021-09-21 08:36] dapplion opened #3217 "Use synced peers only for unknown block sync"
is it better to only get peers with `status.head >= ours`? it's no use to ask for blocks from syncing peers

_Originally posted by @tuyennhv in https://github.com/ChainSafe/lodestar/pull/3212#discussion_r712649826_

[2021-09-21 08:37] dapplion commented on #1996
https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar/test/e2e/sync/finalizedSync.test.ts

this test does a finalized sync from genesis to first finalized checkpoint

[2021-09-21 08:37] #1996 closed, assigned to dapplion

[2021-09-21 08:38] dapplion commented on #1797
Tracked in https://github.com/ChainSafe/lodestar/issues/3215

[2021-09-21 08:38] #1797 closed, assigned to nobody

[2021-09-21 09:35] dapplion opened #3218 "Prune block operations db on finalized"
**Describe the bug**

This code

https://github.com/ChainSafe/lodestar/blob/d5e7b89732932d3e536658d6a4d760a91f27308b/packages/lodestar/src/chain/eventHandlers.ts#L255

prunes too much data too early since blocks can be re-org. Review what optimal to prune and do it per finalized checkpoint.

[2021-09-21 11:39] g11tech commented on #2645
ok, this looks easy solve:

accidentally tried the POINT_NOT_IN_G2  test vector  in the lodestar repository and realized that fromBytes was throwing error there for herumi as well, tried comparing the installed node_module's @chainsafe/eth with the @chainsafe/eth codebase.
finally figured out that yarn.lock of lodestar is using 0.4.8 (while package has ^0.4.4)
![image](https://user-images.githubus

[2021-09-21 11:47] asanso commented on #2645
thanks @g11tech  .
Question are you also passing `validate =true` or is it the default in https://github.com/ChainSafe/bls/blob/master/src/interface.ts#L42

[2021-09-21 11:59] g11tech commented on #2645
for bls/herumi this param is not even used and its signature deserialize request from the provided data itself fails (on updated bls-eth-wasm 0.4.8 which chainsafe/bls package uses)  so it seems its always being validated inside the wasm module in the updated version:

![image](https://user-images.githubusercontent.com/76567250/134166656-1e2f2545-7eba-4aed-b1c0-5a45c9aabf6b.png)

in previous bls-e

[2021-09-21 12:16] asanso commented on #2645
well this is nice from the security point of view but it might break the semantic of the method (what if you pass `validate=false` or omit the parameter that AFAIK defaults to `false`?)

[2021-09-21 12:30] g11tech commented on #2645
unfortunately herumi bls-eth-wasm API doesn't provide this option. But imho, semantically if not in G2 implies not a signature (for eth) and hence shouldn't be loadable into the signature structure.

Do you think there is a use of loading an invalid Signature point? my guess is not doing validation would be for the purposes of speed where one is sure of the correctness of signature.

[2021-09-21 12:34] asanso commented on #2645
no but at this point i would remove the boolean from the signature of the method otherwise is a bug

[2021-09-21 12:40] g11tech commented on #2645
I can make it to default true, those who would want to skip validation could be explicit to pass false but will make it throw error in herumi and hence only work in blst

@dapplion also,  let know what you would think interface/behavior should be?

(updated herumi wasm  always does validation)

[2021-09-21 12:44] asanso commented on #2645
nice this will also solve stuff like https://github.com/ChainSafe/lodestar/issues/2555

[2021-09-21 18:04] KBryan commented on #2874
Everything is working and `init` flag is no longer needed. I did see something referring to bigint: Failed to load bindings. It doesn't seem to stop the process. Here's a screenshot.

![lodestar_installation_test](https://user-images.githubusercontent.com/681817/134223847-d05098ed-85ee-4395-9faa-9b71252fb0ce.png)

[2021-09-22 03:37] jeyakatsa opened #3220 "Recurring Error while Synching Beaon with Lodestar"
Been getting this Error (recurring) while synching Beacon with Lodestar to mainnet:

[code]

[2021-09-22 05:52] g11tech commented on #2645
@asanso PR for the above resolution in the chainsafe/bls package. Have also added a test point for invalid signature for not in G2.
https://github.com/ChainSafe/bls/pull/106

Will create send another one for lodestar post merge of above for package update and making the validation flag to explicit true for readability purposes.  :+1:

[2021-09-22 07:23] dapplion commented on #3220
Hi @jeyakatsa ! Thank you so much for reporting :heart: What version of Lodestar are you running (paste `lodestar --version`)? Could you also paste the full command used to run it?

[2021-09-22 07:27] dapplion commented on #2874
@KBryan Could you try running npm run rebuild? Without native bindings the performance of your node may suffer

[2021-09-22 10:43] twoeths commented on #2847
duplicated to #3084

[2021-09-22 10:43] #2847 closed, assigned to nobody

[2021-09-22 12:55] dapplion opened #3227 "chain/blocks block processor is not properly tested"
**Describe the bug**

Block verification does some assumptions to speed up verification, such as validating the signatures afterwards. This code is not tested e2e against many test vectors like the spec tests. Consider running spec tests of block verification against the block processor, not only the state transition itself.

**Expected behavior**

Catch bugs such as https://github.com/ChainSafe/l

[2021-09-22 16:15] dapplion opened #3228 "Gossip params may not be applied"
**Describe the bug**

Gossip params may be ignored by GossipSub class. In the constructor GossipSub computes its own params

[code]

https://github.com/ChainSafe/js-libp2p-gossipsub/blob/efb8cba0b4f5a56dc0edc323ced0ae2d1bfeed86/ts/index.ts#L163

@tuyennhv does that invalidate the ones passed from Lodestar?

----

Also please @tuyennhv can you do a PR to remove this line?

https://github.com/ChainS

[2021-09-23 00:17] jeyakatsa commented on #3220
Hi @dapplion this is the full command used to run beacon: `lodestar beacon --network`. I'm using GitBash terminal to execute Beacon on Windows 10.

Will inform you which version of Lodestar I'm running right after the synch is complete (if I try to paste said request via the terminal right now, it'll cancel the synch and I'll have to start it again (which takes hours/days to complete)). I'll get b

[2021-09-23 01:19] twoeths opened #3233 "ATTESTATION_ERROR_INVALID_SIGNATURE"
**Describe the bug**

Found this in validator log
[code]

**Expected behavior**

No error

[2021-09-23 01:36] twoeths opened #3234 "BLOCK_ERROR_PRESTATE_MISSING"
**Describe the bug**

Error while syncing finalized
[code]

this happens on server contabo-7 and node is not able to sync to head, maybe this is due to #3221 and related PR

**Expected behavior**

no error

[2021-09-23 01:38] twoeths commented on #3211
this happens in our contabo-7 too:
`grep -e "ERR_INVALID_ATTESTATION_DOUBLE_VOTE" -nr validator*.log`

[code]
that's maybe the wrong assignment for that validator since node can't verify it

[code]

however we already push that attestation vote to the slashing protection db, hence when the real/latter assignment come in the same epoch (maybe), it throws double vote error

[code]

[2021-09-23 01:43] twoeths commented on #3211
meanwhile due to #3234 our node is not synced to head so maybe the duties is not correct (head is now 1320062 while clock slot is 1,321,087) but validator should be protected itself:
+ should only push to slashing protection db if the publish is a success
+ we want to log validator index in order to debug

[2021-09-23 01:51] twoeths commented on #3233
closing as it's part of #3211

[2021-09-23 01:51] #3233 closed, assigned to nobody

[2021-09-23 04:05] twoeths commented on #3234
it may not be an issue anymore as I can sync to head with contabo-0 and latest image, @dapplion could you confirm you fixed this in one of your PRs?

[2021-09-23 04:56] twoeths opened #3236 "UnknownBlockSync does not work"
**Describe the bug**

On server 07, we keep receiving gossip block with PARENT_UNKNOWN code but we're not able to recover our node and the node stays out of synced

[code]

**Expected behavior**

UnknownBlockSync should recover the node and stay synced

[2021-09-23 04:57] twoeths opened #3237 "headState does not exist"
**Describe the bug**

We're not able to validate sync_committee message

[code]

**Expected behavior**

No error

[2021-09-23 06:58] twoeths commented on #3228
no, we're good
![Screen Shot 2021-09-23 at 13 56 44](https://user-images.githubusercontent.com/10568965/134465955-7700cf18-f0a2-4072-a256-06818d678f9c.png)

I will remove it, got all params in the unit tests

[2021-09-23 07:42] twoeths commented on #3236
unknownBlockSync tried to ask for a block that's already processed in the past, this is logs for block slot 1320097

[code]

similarly block slot 1320099 tried to ask for his ancestor

[code]

0x1a8c39e43986b779a2dd1c62a1ba3a5cbd8bb565dedf7370fa492e277d0ebd6b, since it's processed it had BLOCK_ERROR_ALREADY_KNOWN

[code]

we should treat this error the same to a success and remove block slot 13200

[2021-09-23 10:48] twoeths commented on #3234
some more logs I found
+ this is the last finalized checkpoint we have
[code]

+ the issue happened at slot 1320035
[code]

I suppose this issue is due to #3236 where a lot of gossip blocks being held as pending blocks hence our state cache can't store all of them https://github.com/ChainSafe/lodestar/blob/17291db2e39484f833e9bb8de3528654249f21e9/packages/lodestar/src/chain/regen/regen.ts#L155

[2021-09-23 16:26] dapplion commented on #3234
@tuyennhv There is a metric to track the number of pending blocks, can you check the metrics to corroborate this theory?

https://github.com/ChainSafe/lodestar/blob/4e8e969fa4223749ce760a02563913f3dbb44a94/packages/lodestar/src/metrics/metrics/lodestar.ts#L265

Also, regen should be able to get the state anyway even if it's expensive right?

[2021-09-23 16:47] dapplion opened #3240 "RangeSync should handle PARENT_UNKNOWN errors"
**Describe the bug**

From this comment in the block processor, if the sync ignores WOULD_REVERT_FINALIZED_SLOT the sync must also be able to recover.

https://github.com/ChainSafe/lodestar/blob/4e8e969fa4223749ce760a02563913f3dbb44a94/packages/lodestar/src/chain/blocks/index.ts#L104-L117

[2021-09-23 17:01] dapplion commented on #3228
@tuyennhv then am I reading the code correctly? Why doesn't the `Gossipsub` override your scores? Please guide me through the source code.

[2021-09-23 17:23] #3236 closed, assigned to twoeths

[2021-09-23 17:24] #3228 closed, assigned to twoeths

[2021-09-23 18:17] g11tech commented on #3201
tried to investigate it on a local test setup, nothing went awry so then investigated this across 16vc and 975 vc,
on 16vc each slot there were two calls only, and the `delta(lodestar_api_rest_response_time_seconds_count{operationId="getAttesterDuties"}[1m])` was also 3 eevrywhere (grafana shows delta of 3 for 2 api calls registered)

also picked a point "Sep-23 08:01" where api_rest_response was

[2021-09-23 18:22] g11tech commented on #3201
RECOMMENDATION:
1. may be we can also track in metrics dashboard how many validator processes are connected on the beacon node. this will keep things straightforward and prevent any confusion.
2. a security check can be done when there are two calls (by different processes) asking for validator duties on some common index on the same epoch. may be there is, I am not sure of this.
3. further invest

[2021-09-23 18:22] #3201 closed, assigned to g11tech

[2021-09-24 00:11] jeyakatsa commented on #3220
Hi @dapplion here is the Lodestar version that I'm running:

[code]

Let me know if you need anything else.

[2021-09-24 00:40] twoeths commented on #3234
no, if regen traces back the forkchoice without finding a state in the state cache respective to the stateRoot in forkchoice then it'd throw this error

[2021-09-24 01:06] twoeths commented on #3234
![Screen Shot 2021-09-24 at 08 04 43](https://user-images.githubusercontent.com/10568965/134603011-4199e3de-0429-4009-b6f6-5a6a1c66ed96.png)

@dapplion yeah the metric does show that pendingBlock used to be up to 100 in contabo-7, now it's fine

[2021-09-24 01:11] twoeths commented on #3228
@dapplion yeah from the 1st look it seems like it uses its own score params
[code]

however `options` is from lodestar GossipSub so `createPeerScoreParams(options.scoreParams)` really get data from lodestar GossipSub

[code]

[2021-09-24 02:34] twoeths commented on #3211
Root cause of the issue is the Attester duties were reorged since the node is syncing at that time.
[code]
[code]

`0x1a8c39e43986b779a2dd1c62a1ba3a5cbd8bb565dedf7370fa492e277d0ebd6b` is block slot 1320000 and `0x4637b4b89fb80f59e317c37a6a716e7f5f32c555d2864dce7b79b660748285df` is block slot 1320031 which all belongs to epoch 41250

at the same time, the node was syncing

[code]

the conclusion is

[2021-09-24 03:49] twoeths commented on #3211
in fact, the 1st getAttesterDuties request to get duties for epoch 41252 while the head at 41250 should be failed, the node should check that it's not reliable to return attester duties at that time.

[2021-09-24 06:36] twoeths opened #3243 "slot less than finalized block"
**Describe the bug**

Got this error on contabo-0 with latest master (version=v0.30.0/master/+42/72628fb0 (git))

[code]

**Expected behavior**
No error

[2021-09-24 07:12] twoeths commented on #3240
the issue could be reproduced with "--weakSubjectivitySyncLatest` flag

[code]

[2021-09-24 15:08] philknows commented on #3208
Yep, been getting these errors too. Based on the documentation it should be able to handle the array format such as `--eth1.providerUrls ["http://localhost:8545","http://prater.infura.io/v3/blahblah"]`. But getting errors when done in that standard. Right now it only accepts `--eth1.providerUrls http://localhost:8545`

Is the documentation incorrect @dapplion ? Or do we actually want to implement

[2021-09-24 17:01] dapplion commented on #3201
What would be an issue here is how much regen the calls are causing compounded. If the validator clients call getAttesterDuties multiple times but always result in 1 epoch transition run, then it's okay. The problem would be if multiple epoch transitions are run due to those calls

[2021-09-24 17:15] g11tech commented on #3201
yes, this looks a good point to be investigated. i will create an issue for this and carry forward the investigation :+1:

[2021-09-24 17:19] g11tech opened #3246 "investigate: when multiple validator processes (attached to same bn) call getAttesterDuties in parallel, investigate if epoch transition is processed single or multiple times"
context:
#3201
![image](https://user-images.githubusercontent.com/76567250/134715334-4610f8ed-ecae-48bd-8f38-bf5faf27ed52.png)

[2021-09-24 17:31] dapplion commented on #3208
@philknows Yes the documentation is incorrect, that format won't work. Array arguments must be passed as
[code]

[2021-09-24 17:33] dapplion commented on #3246
@g11tech Please link the issue with a link too always so they are hyperlinked in both places

[2021-09-25 03:12] ajsutton opened #3247 "Lodestar fell out of sync on MainNet"
**Describe the bug**

Lodestar running in docker, initially sync'd correctly with checkpoint sync and then was correctly tracking head but after a while started listing all slots as empty then went back to sync mode and failed to recover.

**Expected behavior**

Lodestar should remain in sync with chain.

**Steps to Reproduce**

Ran Lodestar with the docker-compose config:
[code]

I did wind up re

[2021-09-25 03:13] ajsutton commented on #3247
Log file:
[lodestar.log](https://github.com/ChainSafe/lodestar/files/7229081/lodestar.log)

[2021-09-25 03:42] ajsutton commented on #3247
I restarted it with debug level logging and left it run for a while - it doesn't appear to have caught back up to head still.
[lodestar.log](https://github.com/ChainSafe/lodestar/files/7229105/lodestar.log)

[2021-09-25 12:44] g11tech commented on #3247
@tuyennhv  @dapplion  from my investigation of the logs it seems that lodestar is not getting  the blocks in synced state  causing it to assume empty blocks without moving head, but when current slot - current head difference >32 slots (which is i guess our tolerance of 1 epoch), it syncs up to head, and then the whole cycle starts again.

examples from attached log:
![image](https://user-images.g

[2021-09-25 16:45] g11tech commented on #3120
get preState graphs are now showing up when the node is experiencing the sync failure, which means these graphs can be retained,

![image](https://user-images.githubusercontent.com/76567250/134779532-30e8dbdc-8532-4cbd-9c8c-03cc1a2d044e.png)

will collapse only getState graphs (apart from also resizing the full width graphs into half width)

[2021-09-26 08:16] twoeths commented on #3247
thanks @ajsutton for the log, this should fix the issue https://github.com/ChainSafe/lodestar/pull/3245

[2021-09-26 09:47] #3240 closed, assigned to nobody

[2021-09-26 09:48] dapplion commented on #3120
@g11tech Why is the cache hit ratio negative sometimes?

[2021-09-27 00:28] jeyakatsa opened #3249 "Lodestar Validator Connection Unresponsive"
**Describe the bug**

After running `lodestar validator --network $NETWORK-NAME` on terminal for all networks "mainnet", "pyrmont", "prater", "altair-devnet-3", error:  `✖ keystoresDir C:\Users\Jeyak\.local\share\lodestar\pyrmont\keystores does not exist`

**Expected behavior**

After running `lodestar validator --network $NETWORK-NAME`, terminal should have shown example:
[code]
as stated through

[2021-09-27 01:32] twoeths commented on #3249
@jeyakatsa do you have any validator keystores for pyrmont network? Fyi, you can specify the path to your keystore dir with `--keystoresDir` and `--secretsDir`.

If there is no keystore, the validator won't start, hence it'll throw the above error.

[2021-09-27 02:16] twoeths commented on #3211
[code]
while the 1st attestation duty happened at `Sep-22 22:12:53.569`, attester duties reorg happened at `Sep-22 22:12:49.761` which is quite late (after the slot started)

dependentRoot is the last block of an epoch (`requestedEpoch - 2`), as shown above we should be able to detect attestation duties reorg much sooner

[2021-09-27 02:53] twoeths commented on #3234
it happens again in contabo-0, looks like the root cause of this time is the #3243

[code]
then the state is not added to cache, then the next block slot failed to get state
[code]

[2021-09-27 02:53] #3243 closed, assigned to dapplion

[2021-09-27 02:59] twoeths commented on #3237
looks like the root cause is #3243 where we're able to add a block to forkchoice but state is not added to the cache

[2021-09-27 06:31] dapplion opened #3251 "add ALTAIR_FORK_EPOCH for mainnet configuration"
See https://github.com/ethereum/consensus-specs/pull/2625

[2021-09-27 06:40] dapplion opened #3252 "Add merge spec tests v1.1.0"
For merge interop, implement https://github.com/ethereum/consensus-spec-tests/releases/tag/v1.1.0-beta.5

EDIT: Go for https://github.com/ethereum/consensus-spec-tests/releases/tag/v1.1.0

[2021-09-27 07:22] g11tech commented on #3120
because its an approximation as we skipped counting the queued but are deriving it from queued processing. so assume at sec 1 one gets 10 requests, which gets queued, on second 2 queued length processes those 10, so delta(total) - delta(queued processed) creates these artifacts.

the better solution will be to count queued in the same function scope as where we count total so that there is no drif

[2021-09-27 09:21] dapplion opened #3254 "Implement merge networking updates"

[2021-09-27 10:44] #3254 closed, assigned to nobody

[2021-09-27 14:50] #3198 closed, assigned to dapplion

[2021-09-27 15:12] dapplion opened #3259 "Implement merge ExecutionEngine via HTTP"

[2021-09-27 17:14] dapplion commented on #3237
Closing for now

[2021-09-27 17:14] #3237 closed, assigned to nobody

[2021-09-27 18:14] #3259 closed, assigned to nobody

[2021-09-27 18:15] #3251 closed, assigned to nobody

[2021-09-27 19:13] dapplion commented on #3234
Closing for now

[2021-09-27 19:13] #3234 closed, assigned to dapplion

[2021-09-27 22:50] dapplion opened #3263 "Integrate execution engine in BeaconNode"

[2021-09-28 00:10] jeyakatsa commented on #3249
Thanks @tuyennhv will look into that immediately and get back with said results.

[2021-09-28 00:41] jeyakatsa commented on #3249
@tuyennhv there are no keystores for any of the networks (mainnet or testnets)..
[code]

Shouldn't the keystores have installed/downloaded with the npm install or would I have to input them individually (at a later step in the lodestar documentation)?

Because the lodestar installation documentation doesn't specify this... https://chainsafe.github.io/lodestar/installation/#install-from-npm
After t

[2021-09-28 01:05] twoeths commented on #3249
Hi @jeyakatsa, please go with https://launchpad.ethereum.org/en/ to get keystores/secret keys for your validators then import that to lodestar:
+ `./bin/lodestar account validator import --help` for more information
+ once you import your keystores successfully, verify it in the above folders and start using your validators in lodestar

[2021-09-28 05:08] #3263 closed, assigned to nobody

[2021-09-28 06:55] g11tech commented on #3246
@dapplion  i don't think it is leading to multiple evaluations of the regenFn's getBlockSlotState called by getAttesterDuties as even if validators processes are parallel, they get queued in the jobProcessor which is single threaded with default maxConcurrency of 1.

this is confirmed by the distribution of delta's of duration spend in `getBlockSlotState` during the epoch transitions in both

16vc

[2021-09-28 06:55] #3246 closed, assigned to g11tech

[2021-09-28 13:32] KBryan commented on #2874
@dapplion sorry for the late response. Yes, all good works like a charm. I just wanted to mention it.

[2021-09-28 13:33] #2874 closed, assigned to philknows

[2021-09-28 20:56] philknows commented on #3008
https://github.com/ethereum/staking-launchpad/issues/430

[2021-09-29 03:56] twoeths opened #3267 "Unstable block processing time"
**Describe the bug**

After improving `processAttestations`, block processing time is increase~40%, however some block processing time grow significantly compared to others

Contabo-0
<img width="785" alt="Screen Shot 2021-09-29 at 10 52 57" src="https://user-images.githubusercontent.com/10568965/135200535-f94031c0-86de-4087-8b88-dde45e35d475.png">

My node
<img width="789" alt="Screen Shot 2021-0

[2021-09-29 04:12] twoeths commented on #3267
The `persistent.ts` `Vector.forEach()` is not stable, sometimes it takes only 25ms, sometimes it takes up to 211ms with the same amount of data (the participation flag cache of an epoch)

![Screen Shot 2021-09-29 at 11 07 00](https://user-images.githubusercontent.com/10568965/135201642-0fc656f6-b143-4f36-9c87-a60180ef0e5d.png)

![Screen Shot 2021-09-29 at 11 07 41](https://user-images.githubuserco

[2021-09-29 04:44] twoeths opened #3269 "Improve forkchoice computeDeltas"
**Describe the bug**

Forkchoice metrics showed that it takes 80ms - 160ms to find head which is too much

<img width="812" alt="Screen Shot 2021-09-29 at 11 43 47" src="https://user-images.githubusercontent.com/10568965/135204625-1e11c66b-e483-4772-abb7-6630c7bf718f.png">

Most of the time is for `computeDeltas()` function
![Screen Shot 2021-09-29 at 11 42 00](https://user-images.githubuserconten

[2021-09-29 14:36] #3252 closed, assigned to twoeths

[2021-09-29 14:43] #3269 closed, assigned to twoeths

[2021-09-29 14:55] dapplion commented on #3267
Nice find! Tho @tuyennhv please consider starting working on the new ssz tree view approach which would solve all of this issues

[2021-09-29 23:12] philknows opened #3272 "Implement issue form templates"
Reference: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms

Implement the following forms:
- [ ] Bug Report
- [ ] Feature Request
- [ ] Architecture/Planning Question

[2021-09-30 00:02] jeyakatsa commented on #3249
Thanks @tuyennhv getting on this immediately, will get back to you with results.

[2021-09-30 00:22] jeyakatsa commented on #3249
@tuyennhv seems like I'll need to deposit a certain amount of Eth in order to become a "validator", currently going through the testing phase before jumping into building out a prototype for the Altair fork. Thanks though, it seems that I may not need to become a validator in order to test the prototype. Will open new issue if necessary.

[2021-09-30 00:22] #3249 closed, assigned to nobody

[2021-09-30 02:14] twoeths commented on #3269
<img width="780" alt="Screen Shot 2021-09-30 at 09 06 24" src="https://user-images.githubusercontent.com/10568965/135374436-fa55acab-f405-4d27-91ca-720170cc8638.png">

[2021-09-30 03:12] twoeths commented on #3247
sync is working fine, closing for now

[2021-09-30 03:12] #3247 closed, assigned to nobody

[2021-09-30 07:31] dapplion commented on #3269
Nice gain!

[2021-09-30 07:37] #3208 closed, assigned to philknows

[2021-09-30 16:44] wemeetagain opened #3275 "Amphora Tracking"
Execution clients look here -> [Amphora README](https://github.com/ChainSafe/lodestar/tree/master/amphora)

## M1

- [x] pass all released consensus test vectors https://github.com/ChainSafe/lodestar/issues/3076
- [x] run through engine [test vectors](https://notes.ethereum.org/@9AeMAlpyQYaAAyuj47BzRw/rkwW3ceVY) calling against geth - @dapplion
- [x] run against [mergemock](https://github.com/prot

[2021-10-01 10:38] twoeths opened #3276 "Multiple epoch transitions per epoch"
**Describe the bug**

Right now for each epoch, we have 3 or 4 or 5 epoch transitions

<img width="807" alt="Screen Shot 2021-10-01 at 17 22 08" src="https://user-images.githubusercontent.com/10568965/135605003-4792e687-01c7-40df-b1f0-81e566255d21.png">

The checkpoint state cache shows that we have no more than 3 states per epoch

<img width="791" alt="Screen Shot 2021-10-01 at 17 36 47" src="htt

[2021-10-01 17:34] g11tech commented on #2556
some conversation  context:

![image](https://user-images.githubusercontent.com/76567250/135662917-021c55db-ce9a-4ca0-a8fb-4b333a63f09a.png)
![image](https://user-images.githubusercontent.com/76567250/135663009-0bb1b48b-e9c5-4e6c-9d20-d96c3389d9c4.png)
![image](https://user-images.githubusercontent.com/76567250/135663074-823dcdd2-d687-4973-9500-82fecc1072f8.png)

[2021-10-02 01:58] twoeths opened #3282 "Ssz static spec test does not scan merge ssz types"
**Describe the bug**

Due to this https://github.com/ChainSafe/lodestar/blob/f86e5985f34d2c58d31aacccda9531f726c0b9a2/packages/spec-test-runner/test/spec/allForks/ssz_static.ts#L27 we always scan phase0 ssz type folder

**Expected behavior**

need to correct and make sure we can through merge types

[2021-10-02 03:46] dapplion commented on #3276
@tuyennhv The first chart screenshot can be very miss-leading, three dots don't mean 3 epoch transitions. You should look into the actual count of epoch transitions and look at the step delta.

[2021-10-02 03:49] dapplion commented on #3276
![Screenshot from 2021-10-02 05-48-06](https://user-images.githubusercontent.com/35266934/135702698-7dd8f541-c311-470a-8e88-f6aaec5eeb2e.png)

This is Contabo-5 and here it's irrefutable that is most of the epochs 2 epoch transitions are run

[2021-10-02 03:56] twoeths commented on #3276
@dapplion do you think 2 epoch transitions per epoch is good enough? In my understanding, it should be 1 most of the time

[2021-10-02 03:59] #3282 closed, assigned to twoeths

[2021-10-02 04:01] dapplion commented on #3276
No, 2 is very bad! hahaha It would be very strange that there a re-org always at the epoch boundary, we must be doing something wrong

[2021-10-02 18:31] #2645 closed, assigned to g11tech

[2021-10-04 08:26] dapplion opened #3299 "Implement remote signer API"
Support the standard lead by Lighthouse https://github.com/sigp/lighthouse/pull/2522 this is required by some providers + could enable a UI with minimal effort as described in https://github.com/dappnode/DAppNode/issues/329

[2021-10-04 08:28] dapplion opened #3300 "Deprecate accounts CLI"
After merging https://github.com/ChainSafe/lodestar/pull/3296 the accounts CLI is not really necessary anymore. Consider deprecating it or at least removing it from documentation

Lighthouse did already deprecate it and it has been successful among users. Everyone uses Launchpad generated keystores

[2021-10-04 10:59] philknows commented on #3300
Also some solutions like https://github.com/stake-house/wagyu-key-gen and other interfaces coming online to make it easier to generate keys.

[2021-10-05 07:33] twoeths commented on #3276
I was able to catch the additional non-regular epoch transition from https://github.com/ChainSafe/lodestar/blob/98144ce2ad5df5208eeb941fc81d6ae029cc25d4/packages/lodestar/src/chain/validation/aggregateAndProof.ts#L64

when we validate a gossip AggregateAndProof that comes from probably an out-of-sync node.
+ our head is at slot 1408418, epoch 44013
+ attSlot = 1408418
+ attTarget is at epoch 44013

[2021-10-05 08:06] dapplion opened #3312 "Preserve strict ordering in forkChoiceUpdate messages"
We must ensure that forkChoiceUpdate messages are sequential. In a flip-flop attack where the head switches quickly between two forks the forkChoiceUpdate messages can be mixed up.

- [x] JSON RPC id property can be used for sequential processing. JsonRpcHttpClient implements
- [ ] Add a queue with concurrency of 1 in the ExecutionEngineHttp

Note: since Lodestar only (potentially) updates the hea

[2021-10-05 08:15] dapplion commented on #3276
Oh good find @tuyennhv ! I've been rethinking our regen strategy and have my rough thoughts here.

Could you take a look at this proposal and check if it would solve the issue? https://github.com/ChainSafe/lodestar/blob/dapplion%2Fregen-blackbox/packages/lodestar/src/chain/regen/interface.ts

[2021-10-05 08:17] twoeths commented on #3276
confirm that we can just use the state at either the attTargetRoot or blockRoot:
+ teku uses the state at blockRoot: https://github.com/ConsenSys/teku/blob/85af19f4ac8398d62061dbfc77f27281000df6c1/ethereum/statetransition/src/main/java/tech/pegasys/teku/statetransition/validation/AggregateAttestationValidator.java#L103
+ lighthouse uses shuffling cache at attTargetRoot https://github.com/sigp/ligh

[2021-10-05 08:28] twoeths commented on #3276
@dapplion  yeah using `await regen.getAttesterShuffling(targetCheckpoint);` would work nicely, no epoch transition required there

[2021-10-05 16:14] dapplion opened #3319 "libp2p does not connect to bootnodes"
**Describe the bug**

During merge interop I had to manually connect to the bootnode to have peers. Otherwise I was stuck at zero (with no discovery)

**Expected behavior**

libp2p should connect to provided peers

[2021-10-06 12:54] dapplion opened #3324 "Disallow if coercion"
**Describe the bug**

Coercing values in if statements can be problematic if the variable can be a 0 which should be truthy:

[code]

Require

[code]

Check: https://eslint.org/docs/rules/no-implicit-coercion

[2021-10-07 03:27] twoeths commented on #3324
@dapplion I don't see that rule helps this case, could you have a look at `@typescript-eslint/strict-boolean-expressions` rule? https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/strict-boolean-expressions.md

[2021-10-07 09:30] wemeetagain opened #3332 "Header API returns incorrect block"
[code]

[2021-10-07 10:26] filipesmedeiros opened #3334 "running on a raspberry pi"
**What is your question?**

in the official docs, i can find the minimum/recommended specs, but they only mention x86/intel processors.

has the client been tested on arm? more specifically, on raspberry pis? i'd love to run a node at home, but don't want to buy the pi if it won't work at all (i think i work through some quirks if necessary)

thanks in advance!

[2021-10-07 12:45] dapplion commented on #3334
Hey @filipesmedeiros ! I haven't tried myself but I don't see why not. Lodestar runs in the M1 macbooks and NodeJS has good support for arm. I case it doesn't run in your arm setup due to an unavoidable problem your purchase won't be wasteful since other implementations also can run in arm

[2021-10-07 13:36] filipesmedeiros commented on #3334
perfect! i've bought a pi and will report back (maybe i can use this issue?)

yeah a pi always has use cases eheh thanks!

[2021-10-07 13:36] dapplion commented on #3324
Oh! Yeah this rule if much better. I didn't checked if the rule I linked would help at all

[2021-10-07 13:41] dapplion commented on #3334
Yes please! Update us here, would love to know how it goes and help troubleshoot.

For reference @mpetrunic has had experience building Lodestar on arm. Please Marin stay subscribed to this issue if you can

[2021-10-07 13:45] filipesmedeiros commented on #3334
nice. i actually have an m1 macbook (on which i use node every day), so maybe i'll also use it as an initial feeling of how to go. although macos has rosetta which might make everything a bit confusing... not sure!

[2021-10-08 06:07] g11tech opened #3336 "refactor: add casingMap in all the ssz types as per the spec"
Lodestar creates container objects in the `camel` casing with to and fro with 'snake` on serialization/deserialization. This transformation happens via ssz `toJson`/`fromJson` calls.
Aim is to provide `casingMap`  to all the ssz containers so that computation is saved as well as there is no room any discrepancy with the field's in the container spec: https://github.com/ethereum/consensus-specs/

[2021-10-08 09:06] filipesmedeiros opened #3342 "[bug] running the dev commands for setting a local network throws error"
**Describe the bug**

running the "default" local dev ([the one from the tutorial in the docs](https://chainsafe.github.io/lodestar/usage/local/)) setup is throwing an error (too hard for me to investigate on my own ahah)

**Expected behavior**

the tutorial should lead to a working local setup

**Steps to Reproduce**

1. clone the repo
2. (stay on master and / of the repo)
3. run `yarn`
4. run `y

[2021-10-08 09:07] filipesmedeiros commented on #3324
why not both? 😄

edit: i really hate coercion lol

[2021-10-08 11:17] dapplion commented on #3342
Oh yes this has affected us significantly in the merge-interop. Please @tuyennhv could you tweak the params calculations such that they **never** error?

[2021-10-08 13:27] dapplion commented on #2622
Still happening in merge-interop in Teku nodes

[2021-10-08 15:30] dapplion opened #3348 "Not enough mesh peers in attestation subnets"
**Describe the bug**

Contabo-6 with 16 validators should have peers in at least 32 subnets at all times. However the behavior is very erratic. Sometimes it has peers in a single subnet, then it has peers in all subnets. I added a new chart with equation
[code]
which shows the total count of subnets with 1 peer or more

![Screenshot from 2021-10-08 18-25-34](https://user-images.githubusercontent.c

[2021-10-11 18:37] wemeetagain commented on #3319
Resolved with #3343

[2021-10-11 18:37] #3319 closed, assigned to nobody

[2021-10-12 15:29] #1956 closed, assigned to nobody

[2021-10-12 15:29] #2282 closed, assigned to nobody

[2021-10-12 15:29] #2223 closed, assigned to nobody

[2021-10-13 06:20] twoeths opened #3358 "State for currentJustifiedCheckpoint not available"
**Describe the bug**

Got this error while syncing:

[code]

**Expected behavior**

No error

[2021-10-13 06:30] twoeths opened #3360 "Error lightclientUpdater.onFinalized"
**Describe the bug**

Got this error while syncing lodestar:
[code]

**Expected behavior**
No error

[2021-10-13 08:16] twoeths commented on #3358
This is because we don't store checkpoint state for epoch with skipped slot in the current implementation, it's implemented here https://github.com/ChainSafe/lodestar/blob/v0.30.0/packages/lodestar/src/chain/blocks/stateTransition.ts#L79

Whenever we pass checkpoint, we should store it in the checkpoint state cache because that checkpoint state may become justified/finalized state later and we nee

[2021-10-13 08:39] twoeths commented on #3360
this is because we handle `forkchoiceFinalized` event at 2 different places and they are not synchronized

[code]

While we handle `forkChoiceFinalized` event in EventHandler, Archiver was working on moving blocks from `block` db to `archiveBlock` db

[2021-10-13 11:06] dapplion commented on #3358
@tuyennhv When I finish with the SSZ refactor I'll go for a review a regen that should tackle that. You can see the WIP branch here https://github.com/ChainSafe/lodestar/tree/dapplion/regen-blackbox

[2021-10-13 15:05] BeroBurny opened #3362 "endpoint `node/syncing` has missing data"
**Describe the bug**

endpoint `/eth/v1/node/syncing` return what is wrong by spec https://ethereum.github.io/beacon-APIs/#/Node/getSyncingStatus

[code]

**Expected behavior**

endpoint `/eth/v1/node/syncing` should return

[code]

**Steps to Reproduce**

1.  Run Beacon Node
2. get request on `{api}/eth/v1/node/syncing`

**Desktop (please complete the following information):**

- OS: ubunto 20, d

[2021-10-13 16:11] g11tech commented on #3362
hi @BeroBurny , this field has been added in merged PR, https://github.com/ChainSafe/lodestar/pull/3345
Kindly rebuild (clean & build) from the latest master or wait for versioned release (or use lodestar:next)

[2021-10-14 12:30] #3362 closed, assigned to g11tech

[2021-10-14 13:00] #3360 closed, assigned to twoeths

[2021-10-14 17:14] #3324 closed, assigned to twoeths

[2021-10-14 17:17] filipesmedeiros commented on #3324
i left this cooment! https://github.com/ChainSafe/lodestar/pull/3364/files#r729188667

too late now but oh well ahah

[2021-10-14 17:53] mortimr opened #3366 "Invalid `ETH1_ADDRESS_WITHDRAWAL_PREFIX` value in params package"
Hey !

You might have an issue with one of your params right here https://github.com/ChainSafe/lodestar/blob/57c0c87325a4a264d081b72f895bc704718ef99f/packages/params/src/index.ts#L90

It should be 1, right ?

I can raise a PR if that's the case just tell me

[2021-10-14 19:04] dapplion commented on #3366
Yes please! Thanks for taking a look into the code, will review your PR :+1:

[2021-10-15 09:45] #3342 closed, assigned to twoeths

[2021-10-15 11:01] #3336 closed, assigned to g11tech

[2021-10-15 11:42] g11tech opened #3368 "lodestar validator interop with other clients beacon nodes"
## Status against clients

   - [x] Manual interfacing
     - [x] Local testnet setup with client beacons and validators forming fully functional chain
     - [x] Interfacing/connection with the beacon node
     - [x] API Interoperability
       - [x] request  and process api responses from beacon chain

   - [x] Functionality
     - [x] Publish Attestations
     - [x] Publish Block
     - [x] Get

[2021-10-15 11:49] g11tech opened #3369 "validator interop: a strategy to autofill non operational fields in spec/config api"
master issue: #3368

Since our development pace/branch strategy can be different from the others, we need a way to auto fix the spec mismatch for those fields

for e.g. `TERMINAL_TOTAL_DIFFICULTY` here is a merge milestone field not yet operational

![image](https://user-images.githubusercontent.com/76567250/137481833-fec33c74-0934-4e64-8919-57ccd8a8b828.png)

[2021-10-15 11:52] g11tech opened #3370 "validator interop: investigate and fix the produceBlock api not working against lighthouse beacon"
master issue: #3368

the `produceBlock` api is not working against the lighthouse beacon:
![image](https://user-images.githubusercontent.com/76567250/137482456-03ce3080-180e-4558-a035-ae19fd26ee22.png)
investigate/fix

[2021-10-15 12:22] g11tech commented on #3368
linked issue: https://github.com/ChainSafe/lodestar/issues/3018

[2021-10-15 13:15] #3366 closed, assigned to nobody

[2021-10-17 10:00] dapplion opened #3372 "Run spec tests v1.1.3"
Run new altair vectors and confirm Lodestar passes them https://github.com/ethereum/consensus-specs/releases/tag/v1.1.3

[2021-10-17 18:29] philknows opened #3373 "Lodestar Roadmap and Vision (Updated Apr 2023) :star2:"
*This is a living document, Last updated: April 2023*

# Lodestar Vision Roadmap and Planning (April 2023)

Quarterly Goals:
  - Q1 2023: https://github.com/ChainSafe/lodestar/issues/5381
  - Q2 2023: https://github.com/ChainSafe/lodestar/issues/5382
  - Q3: 2023: https://github.com/ChainSafe/lodestar/issues/5751

Tracking Issues:
  - Performance Optimizations Tracker: https://github.com/ChainSafe

[2021-10-17 18:31] philknows commented on #2044
Superseded by updated roadmap: #3373. Closing.

[2021-10-17 18:31] #2044 closed, assigned to ColinSchwarz

[2021-10-18 04:13] twoeths opened #3374 "Override TERMINAL_TOTAL_DIFFICULTY and TERMINAL_BLOCK_HASH"
**Is your feature request related to a problem? Please describe.**

Address this spec https://github.com/ethereum/consensus-specs/blob/dev/specs/merge/client-settings.md

[2021-10-18 07:23] dapplion commented on #3275
I think we are only missing public instructions on how to run Lodestar with other execution clients

[2021-10-18 09:52] #3372 closed, assigned to twoeths

[2021-10-18 22:46] filipesmedeiros commented on #3334
just for future reference, both: `lodestar account wallet create --name primary --passphraseFile primary.pass` and

[code]

threw a `seg fault` on my first try

[2021-10-19 02:20] twoeths opened #3377 "Request peer ENR via discv5 PING on eth/v1/node/peers"
**Describe the bug**

enr field is empty when I issue this curl

[code]

**Expected behavior**

enr should have some value inside like in the api spec https://ethereum.github.io/beacon-APIs/#/Node/getPeer

[2021-10-19 16:00] g11tech commented on #3020
this issue seems to have already been  been resolved.

[2021-10-19 16:00] #3020 closed, assigned to g11tech

[2021-10-19 17:59] g11tech commented on #2712
seems like the issue doesn't exist anymore. The curl inspection of the options of the events endpoint indicates that `access-control-allow-origin` header was correctly set (to `example1.com` as provided in the cli param)

![image](https://user-images.githubusercontent.com/76567250/137965295-57fae529-08c7-4b05-ae27-3dd9466fb669.png)

[2021-10-19 17:59] #2712 closed, assigned to g11tech

[2021-10-20 09:57] twoeths commented on #3377
Using this
[code]

I can only find enr of 1 per 10-15 peers. I guess one of the reasons is not all peers go through discv5, they could come from libp2p.
@wemeetagain are there any apis to request enr of these peers somehow?

[2021-10-21 18:45] g11tech opened #3385 "investigate: weak subjectivity checkpoint improper use"
The weak subjectivity seems to be not being properly used. As per my understanding of the code, following are the issues:

1. when `weakSubjectivityStateFile` is being used, `isWithinWeakSubjectivityPeriod` check will almost always pass doesn't matter hold old the state if starting from blank block db (first time use)
2. Beacon should init from the db's last (biggest height) checkpoint instead fro

[2021-10-21 18:50] g11tech commented on #3385
@wemeetagain @dapplion @tuyennhv @philknows

[2021-10-25 01:34] twoeths opened #3388 "Lodestar-besu error - BLOCK_ERROR_EXECUTION_PAYLOAD_NOT_VALID"
**Describe the bug**

Node is out of synced:
[code]

**Expected behavior**

No error

**Steps to Reproduce**

Sync pithos with lodestar - besu

[2021-10-25 01:50] twoeths commented on #3388
More logs:
[code]

note that 60942 is a missed block https://pithos-explorer.ethdevops.io/block/60942

then

[code]

note that all block roots are correct as found in lodestar-geth:
[code]

[2021-10-25 02:23] twoeths commented on #3388
found this from besu docker log

[code]

`0x6d5744a9f813f81bdd90e517c85bc4e273e758eda93cbdcca525a91d684cc518` is eth1 block hash of block 60943 and `0x19f2b43ef5572883499a7560f68ed718ce7095bc83d3b1fee3e425ce9b93e191` is eth1 block of block 60941

Block 60941 was processed successfully in lodestar
[code]

need to investigate why execution layer could not process the payload of block slot 60941

[2021-10-25 02:40] twoeths commented on #3388
this log shows that `0x19f2b43ef5572883499a7560f68ed718ce7095bc83d3b1fee3e425ce9b93e191` was really imported to the execution layer, however it was not found later

[code]

[2021-10-25 04:10] twoeths opened #3389 "Unable to publish SyncCommitteeContribution - SYNC_COMMITTEE_ERROR_NOT_CURRENT_SLOT"
**Describe the bug**

Found this error in lodestar-geth instance of pithos

[code]

it looks like the validator client is frequently late to submit ContributionAndProof

at validator side

[code]

the consensus node

[code]

[code]

**Expected behavior**

No error

[2021-10-25 09:02] twoeths commented on #3389
there seems to be performance issue at node side that make it unable to accept requests

validator logs

[code]

but node can only accepts request ~3s later

[code]

then validator was able to sign `SyncCommitteeContribution`
[code]

maybe due to the same reason, server can only see `publishContributionAndProofs` request 3s later
[code]

slot 76708 started at 3:46:36

[2021-10-25 09:43] twoeths opened #3390 "Investigate performance issue in pithos testnet"
**Describe the bug**

The total state transition takes so much time in lodestar-geth instance of pithos network
[code]

The contabo-3 instance shows the same
<img width="1595" alt="Screen Shot 2021-10-25 at 16 37 37" src="https://user-images.githubusercontent.com/10568965/138672327-d7ee30d3-06fe-443f-ac37-bc546dff0660.png">

however the consensus state transition looks good
<img width="1569" alt="

[2021-10-25 22:42] wemeetagain commented on #3377
If we know that the peer is running discv5 (and we know which port), we can issue a discv5 PING to the peer, then the PONG will include their ENR.

[2021-10-26 04:47] twoeths commented on #3390
+ Debug logs from geth shows that it really does not take time to process an execution block
+ Restart contabo-3 with no validator and `subscribeAllSubnets` flag and it has no issue
+ It's more likely the node can't handle 1000 validators in pithos network

[2021-10-28 08:19] dapplion commented on #3076
Added https://github.com/ethereum/consensus-specs/pull/2687 and more merged PRs

[2021-10-28 10:43] dapplion opened #3395 "Improve peer discovery logic"
**Describe the bug**

- Get ENRs from discv5 and connect only to peers with matching eth2 field.
- Trigger searches for subnets peers more efficienly

Closes https://github.com/ChainSafe/lodestar/pull/3403

[2021-10-28 10:44] dapplion opened #3396 "Record sync peer status"
**Describe the bug**

For debugging purposes it would be very useful to track the sync status of sync peers

[2021-10-28 11:34] #3369 closed, assigned to g11tech

[2021-10-28 12:14] dapplion commented on #3390
@tuyennhv Can you take a cpu profile of the pithos node to learn what is the bottleneck?

[2021-10-28 12:18] dapplion commented on #3389
It seems to show that the node is very busy delaying processing

[2021-10-28 12:20] dapplion commented on #3385
Good points! Thanks for reviewing the spec in this regard, super valuable!

[2021-10-28 13:02] #3211 closed, assigned to twoeths

[2021-10-29 01:32] twoeths commented on #3389
root cause may be #3390

[2021-10-29 11:09] dapplion opened #3399 "Prefix metrics for proper namespacing"
**Describe the bug**

All metrics in https://github.com/ChainSafe/lodestar/blob/13f97c0676a0e73e5c006886f8a79045adb40c2b/packages/lodestar/src/metrics/metrics/lodestar.ts#L460 should be namespaced to lodestar, with exception of the validator monitor. i.e. Rename `regen_fn_call_total` -> `lodestar_regen_fn_call_total`

Also all metrics that are total incrementing counter MUST include the total word

[2021-10-29 14:23] dapplion opened #3400 "Improve validator monitor post altair"
**Describe the bug**

Validator monitor for altair is not able to differentiate between missed head and inclusion distance > 1. We need to be aware of the difference to optimize performance.

**Expected behavior**

Validator monitor should report
- head bit is set (correct head + fast inclusion)
- head is correct
- exact inclusion distance

You should check Lighthouse code or / and reach out to th

[2021-10-30 09:18] dapplion opened #3402 "Refactor gossip validation to return instead of throwing"
**Describe the bug**

throw + catch is x1000 times more expensive than returning objects. See https://github.com/ChainSafe/lodestar/pull/3401

[2021-10-30 10:26] #3370 closed, assigned to g11tech

[2021-10-30 10:27] #3018 closed, assigned to g11tech

[2021-10-30 10:32] g11tech commented on #3018
@BeroBurny , could you try the latest master and let know if it works. any missing config parametern not yet operational (for e.g. merge related config params), if reported by the config api error can be filled locally (and appropriately) on validator side with `--paramsFile`

[2021-11-01 02:19] #3399 closed, assigned to g11tech

[2021-11-01 08:43] twoeths commented on #3390
After some days, the issue does happen on contabo-3 too which has no validator.
Was able to profile the lodestar-geth instance in contabo-3
[1101_pithos_contabo_3.cpuprofile.zip](https://github.com/ChainSafe/lodestar/files/7451788/1101_pithos_contabo_3.cpuprofile.zip)

at least there is a performance issue when we handle PONG message of discv5
<img width="1573" alt="Screen Shot 2021-11-01 at 15 33

[2021-11-03 03:03] twoeths commented on #3348
should be fixed by #3403

[2021-11-03 09:26] dapplion commented on #3348
I'm not sure, it will fix it. We need more data

[2021-11-03 10:14] twoeths opened #3408 "Verify attestation slot range"
**Describe the bug**

We want to accept more attestations given clock disparity, however currently we narrow down the chance to get attestation at https://github.com/ChainSafe/lodestar/blob/13b61a32d2aa68177cc752918af57c24290f899f/packages/lodestar/src/chain/validation/attestation.ts#L176

this is due to this implementation
[code]

which may lead to the confusion that it's the tolerance for the fu

[2021-11-03 14:42] #3408 closed, assigned to twoeths

[2021-11-04 12:46] dapplion opened #3410 "Kintsugi 🍵 (the Merge November sprint)"
## Kintsugi 🍵 milestones

Ref: https://notes.ethereum.org/@djrtwo/kintsugi-milestones

- [x] M0: Implementation started
- [x] M1: Spec Implemented https://github.com/ChainSafe/lodestar/pull/3418
- [x] M2: 1-to-1 Interop – One EL and one CL team pair off for basic interop testing (:heavy_check_mark:  Geth, :heavy_check_mark:   Nethermind)
- [x] M3: Many-to-Many Interop – 2 or more EL and CL teams p

[2021-11-04 12:52] dapplion commented on #3076
Closing for https://github.com/ChainSafe/lodestar/issues/3410

[2021-11-04 12:52] #3076 closed, assigned to dapplion

[2021-11-04 14:59] dapplion opened #3411 "Use optional chaining to optimize logging"
Optional chaining only runs code at the next step of a property chain if it's defined. We could use this property to prevent running debug code with minimal syntax boilerplate. For example:

[code]

A more realistic example would look like

[code]

And we set logger.debug = undefined if logger level is greater than debug

[2021-11-04 15:01] dapplion opened #3412 "Support old finalized checkpoints in assertPeerRelevance"
From https://github.com/ChainSafe/lodestar/pull/3405

TODO: If the slot is very old, go to the historical blocks DB and fetch the block with less or equal `slot`.  Note that our db schema will have to be updated to persist the block root to prevent re-hashing. For now peers will be accepted, since it's better than throwing an error on `getBlockRootAtSlot()`

https://github.com/ChainSafe/lodestar/b

[2021-11-04 15:06] dapplion opened #3413 "Metric to track sync committee members"
Answer the question: How many of my validators are members of the sync committee?

[2021-11-05 10:14] dapplion opened #3414 "Cache indexed attestations"
**Describe the bug**

In current master an attestation is indexed 3 times:
1. To verify all block signatures
2. To run processAttestations
3. In import block to add to the fork-choice

**Expected behavior**

Index attestation once in its lifetime

[2021-11-05 10:16] dapplion opened #3415 "Partially TreeBacked block"
**Describe the bug**

We don't need to serve proofs of blocks and block data is immutable. Having a block fully TreeBacked is a waste of memory and performance to traverse the tree multiple times.

**Expected behavior**

Find a different strategy to cache hashTreeRoots and efficiently hash the block once and keep only **some** tree roots for latter signature verification.

[2021-11-05 10:22] twoeths opened #3416 "Performance issue with subscribeAllSubnets flag"
**Describe the bug**

If we start a node with `--network.subscribeAllSubnets` flag, it may take up to 40s to process a gossip block

<img width="1614" alt="Screen Shot 2021-11-05 at 17 20 57" src="https://user-images.githubusercontent.com/10568965/140495988-0d371776-3fd5-4128-b545-818f66547caf.png">

**Expected behavior**
No performance issue with  `--network.subscribeAllSubnets` flag

[2021-11-05 10:54] twoeths commented on #3416
[1105_contabo_1_subscribeAllSubnets.cpuprofile.zip](https://github.com/ChainSafe/lodestar/files/7482539/1105_contabo_1_subscribeAllSubnets.cpuprofile.zip)

[2021-11-08 08:14] twoeths commented on #3416
Looks like it's a memory issue that cause the node pause more frequently due to gc

<img width="1587" alt="Screen Shot 2021-11-08 at 15 06 31" src="https://user-images.githubusercontent.com/10568965/140705791-234e56d9-30f2-4fe8-a651-69df703ce0c9.png">

gc pause time is almost 15% while it's 8.5% on normal node

[2021-11-08 09:22] twoeths commented on #3416
one other issue was with throwing GossipActionError as noted in #3402, it took > 4% just to throw that

<img width="1481" alt="Screen Shot 2021-11-08 at 16 21 20" src="https://user-images.githubusercontent.com/10568965/140716138-f0452e38-43b4-42de-9699-7402a4ed2703.png">

[2021-11-08 13:57] dapplion commented on #3416
@tuyennhv In the profile that you posted there's an insane amount of CPU time spent with async hook
- `registerDestroyHook`
- `promiseInitHookWithDestroyTrackinginternal`

![Screenshot from 2021-11-08 14-56-15](https://user-images.githubusercontent.com/35266934/140754439-079f034c-513f-449d-9561-d7df55b81780.png)

Could you investigate what's going on there?

[2021-11-09 11:06] twoeths commented on #3416
@dapplion  this is internal code of nodejs https://github.com/nodejs/node/blob/8d6a02583f51368a76f4244584351b2e5d061e2a/lib/internal/async_hooks.js#L328, I really don't see them in a healthy node. In the `subscribeAllSubnets()` node, there are a lot of rejected promises in the call of `validateGossipAttestation()` and `validateGossipAggregateAndProof()` that may cause this, could be linked to #340

[2021-11-09 13:54] BeroBurny opened #3422 "Add and Remove keys on active Validator"
**Is your feature request related to a problem? Please describe.**

From developer standpoint when I initialize validator
[code]

I'm able to `.start()` and `.stop()` it, but if i want to add another key (or remove existing one) to be part of validator I'm forced to stop current process delete validator object and initialize new one with another key what is not great solution on active one as user

[2021-11-09 15:17] skylenet opened #3423 "Bootnode and P2P discovery doesn't work sometimes"
**Describe the bug**

I have a private cluster and I'm running multiple lodestar nodes. I've noticed that sometimes the bootnode connectiviy seems to work fine and lodestar gets peers. Other times it just doesn't and nothing else happens. See the following example of 2 nodes, where 1 is working fine and the other isn't discoverying any peers, even though they have the same bootnode configured.

**

[2021-11-09 17:45] dapplion commented on #3423
@skylenet Thanks for reporting! Could you detail a bit more the node configuration to be able to recreate locally?
- The bootnode is a Lodestar node?
- How many nodes there are in the network in total during the test?
- How many peers is the bootnode DHT aware of that are in the same network?

A potential issue causing this is that we only request ENRs from a single bucket to the bootnode, so in t

[2021-11-09 17:46] dapplion commented on #3422
@BeroBurny Would this API support your needs? https://github.com/ethereum/beacon-APIs/pull/151

We will implement it soon and it should also be available programatically

[2021-11-09 17:48] #3400 closed, assigned to twoeths

[2021-11-09 18:35] skylenet commented on #3423
Hey @dapplion thanks for looking into this. Here are your answers:

- 1 ) The bootnode is a lighthouse node (max peers configured to 500)
- 2 & 3):  The network is just starting from scratch. All nodes do wait for the lighthouse bootnode before starting. So the network size depends on the timing that the node happens to connect to the bootnode. Could range from `1` (just the bootnode) to `N-1` (ma

[2021-11-10 01:59] twoeths commented on #3423
@skylenet I found that lodestar did not receive any discv5 peers, would you mind adding `DEBUG=discv5:service` before your command so that I can see more discv logs? I expect to see some logs like

[code]

[2021-11-10 07:13] g11tech opened #3425 "Kintsugi backlog"
Main tracker: https://github.com/ChainSafe/lodestar/issues/3410
Reference PR: https://github.com/ChainSafe/lodestar/pull/3418

Task list
- [x] Review the diff on the whole w.r.t. the 1.1.4 diff so as to not miss any changes
~~- [ ] #3486~~ moved to separate issue
~~- [ ] #3487~~ moved to separate issue
~~- [ ] #3488~~ moved to separate issue
- [x] Add transaction test in merge-interop file: https:

[2021-11-10 10:07] twoeths commented on #3416
in the last 12h, the performance is back to normal, most of gossip blocks are processed within 4s
<img width="1593" alt="Screen Shot 2021-11-10 at 16 47 16" src="https://user-images.githubusercontent.com/10568965/141090230-1ea9cfe8-c240-4df2-a4ef-5bcf6c847708.png">

Active requests metric shows that "TCPConnectWrap" drops significantly. What I read is "TCPConnectWrap" is the number of tcp connecti

[2021-11-10 11:09] dapplion commented on #3416
Thanks for looking into it. Maybe worth to go more in depth on that NodeJS code to understand when that can be a problem, it's really bad!

Meanwhile I'll prioritize #3402

[2021-11-10 15:17] g11tech opened #3427 "kintsugi geth interop runGethPreMerge's execute payload api error "total difficulty not reached yet""
on the kintsugi branch of geth:
the `runGethPreMerge` scenario gives the error as documented:

https://github.com/ChainSafe/lodestar/blob/9239af8a9d1f7dfeba00d550cffaea0c0612068b/packages/lodestar/test/sim/merge-interop.test.ts#L481-L494

However it works fine with geth side ttd set to 0 in geth's pre-merge gensis (while lodestar's ttd is still > 0)

Resolution:

Figure out and fix the issue and h

[2021-11-10 15:48] skylenet commented on #3423
@tuyennhv thanks for the ENV var, didn't know about that one!  I've added it and collected logs from a working and a broken node again:
- [lodestar_v2_broken.log](https://github.com/ChainSafe/lodestar/files/7514037/lodestar_v2_broken.log)
- [lodestar_v2_working.log](https://github.com/ChainSafe/lodestar/files/7514038/lodestar_v2_working.log)

I've left it running and every lookup Id shows the same

[2021-11-10 16:20] wemeetagain opened #3428 "Light client updater: Incorrect finalized state"
**Describe the bug**

See https://discord.com/channels/593655374469660673/621838504955084830/907737187288743956

https://github.com/ChainSafe/lodestar/blob/master/packages/light-client/src/server/LightClientUpdater.ts#L170

It appears that our finalized state, passed to `onFinalized` is always dialed to the epoch, rather than the post-state of the finalized checkpoint block.
So when there's skip s

[2021-11-10 18:19] dapplion commented on #3423
@wemeetagain Can you take a look at the debug logs too?

[2021-11-11 03:45] twoeths commented on #3423
@skylenet there are some issues with the session service being timing out and we failed the 1st lookup after 1s, from the 2nd time we got `Sessions is being established, request failed` as you noted. This does not happen with Prater.

could you help try again with `DEBUG=discv5:service,discv5:sessionService` so that we have more logs on session services? Thanks.

[2021-11-11 11:51] skylenet commented on #3423
@tuyennhv some more logs with `DEBUG=discv5:service,discv5:sessionService`
- [lodestar_v3_broke.log](https://github.com/ChainSafe/lodestar/files/7520161/lodestar_v3_broke.log)
- [lodestar_v3_works.log](https://github.com/ChainSafe/lodestar/files/7520163/lodestar_v3_works.log)

[2021-11-11 12:44] MariusVanDerWijden commented on #3427
Should be fixed by now

[2021-11-11 19:48] g11tech commented on #3427
thank you! :smile:

[2021-11-11 19:48] #3427 closed, assigned to g11tech

[2021-11-12 03:35] twoeths commented on #3423
Thanks @skylenet a lot for the logs.

Here's how the worked session happens:
1. Lodestar sends FINDNODES request to the boot node
2. No session, lodestar creates random packet and send to the boot node
3. Receive WHOAREYOU request, send back handshake/auth packet
4. Receive NODES response, session is established

In the broken session:
+ On the 1st try, lodestar did not receive a WHOAREYOU request

[2021-11-12 10:08] twoeths commented on #2490
today I got this performance issue after restarting server 0, gossip blocks are processed >4s after the slot start frequently, sometimes it's up to 30s. It turns out that it takes 20% of our cpu just to serve beacon_blocks_by_range for a single peer
<img width="535" alt="Screen Shot 2021-11-12 at 17 06 34" src="https://user-images.githubusercontent.com/10568965/141449378-f5b31442-cbb4-4972-be47-4f

[2021-11-12 21:23] skylenet commented on #3423
@tuyennhv thank you for looking into this :) Here are some sample logs from a fresh network that I just spawned up. The lodestar flags kept the same that we've been using on the previous run. The lighthouse node was launched with `--debug-level=trace`:

## lighthouse

[code]

##  lodestar

[code]

## Logs

- [lighthouse-bootnode.log](https://github.com/ChainSafe/lodestar/files/7530450/lighthouse-b

[2021-11-14 13:06] #3120 closed, assigned to g11tech

[2021-11-14 17:50] g11tech opened #3431 "lodestar<>nethermind kintsugi interop"
Lodestar beacon/validators interop with nethermind @MarekM25
- [x] local setup for nethermind kintsugi merge branch https://github.com/NethermindEth/nethermind/blob/themerge_kintsugi/src/Nethermind/Chains/themerge_kintsugi_testvectors.json
- [x] postMerge ttd 0, lodestar executuion engine stub api test
  - [x] getGenesisHash
  - [x] notifyForkchoice with payloadAttributes
  - [x] getPayload
  - [x

[2021-11-15 12:08] twoeths commented on #3423
Thanks @skylenet for the log. It seems the `--debug-level=trace` flag of lighthouse does not help as discv5 is on a lower layer, I could not find any useful log there (we could deep dive into it a little bit if the below does not work).

We've just had a fix not to start discv5 on the 1st hearbeat, could you give that a try (by pulling our latest master or our latest docker image)? If you go with

[2021-11-15 12:25] skylenet commented on #3423
@tuyennhv I've just tried it with the recent `Version: v0.32.0/master/+2/0f5ee0e5 (git)` and all my lodestar nodes were able to find peers now! :+1: :tada:

[2021-11-15 13:08] g11tech opened #3433 "Implement optimistic sync CL <> EL"
Parent issue: https://github.com/ChainSafe/lodestar/issues/3410
parent context: [3418](https://github.com/ChainSafe/lodestar/pull/3418)
Optimistic Sync https://hackmd.io/Ic7VpkY3SkKGgYLg2p9pMg
 - [x] #3505
 ~~- [ ] #3508~~
~~ - [ ] Serve only non syncing heads to apis and req/res~~

[2021-11-15 17:14] dapplion commented on #3423
@wemeetagain I think we could add a condition that when contacting a node that returns 0 results we could just request all the buckets. If that's dangerous we could limit that to initial bootnodes queries only

[2021-11-15 21:48] skylenet commented on #3423
@tuyennhv @dapplion err.. I think the problem might still be around. Just gave it another try and I'm seeing nodes hanging again. I'll provide you with some logs in a couple of hours.

[2021-11-16 13:55] skylenet commented on #3423
@tuyennhv  here we go:  I just started 6 lodestar nodes from scratch and here are all of their logs (2/6 didn't make it):

- [lodestar-0.log](https://github.com/ChainSafe/lodestar/files/7546818/lodestar-0.log)
- [lodestar-1.log](https://github.com/ChainSafe/lodestar/files/7546819/lodestar-1.log)
- [lodestar-2.log](https://github.com/ChainSafe/lodestar/files/7546820/lodestar-2.log)
- [lodestar-3.lo

[2021-11-16 15:34] twoeths commented on #3423
thanks @skylenet , this time it does show that we only issue FINDNODES 30s after we start discv5, and it's still an issue. Again, lodestar node sent authentication packet but lighthouse did not response.

we are trying to set up the devnet ourself. In the mean time, could you try again with this flag `RUST_LOG=discv5=trace` added to lighthouse node? Thank you so much!

[2021-11-16 15:58] skylenet commented on #3423
@tuyennhv  I've added `RUST_LOG=discv5=trace` to the lighthouse bootnode. I'm not sure if it made a difference to the lighthouse logs, but I double checked that the ENV var was set (by checking `/proc/1/environ` on the lighthouse container):

- [lighthouse-bootnode-0.log](https://github.com/ChainSafe/lodestar/files/7547897/lighthouse-bootnode-0.log)
- [lodestar-0.log](https://github.com/ChainSafe/

[2021-11-17 09:41] twoeths opened #3437 "Canot start validator due to INACTIVITY_PENALTY_QUOTIENT_MERGE being undefined"
**Describe the bug**

Got this error when starting validator
[code]

**Expected behavior**

No error

[2021-11-17 11:34] g11tech commented on #3437
@tuyennhv on cb6 the beacon is not on chainsafe/lodestar:**next**, but validator is on chainsafe/lodestar:next
![image](https://user-images.githubusercontent.com/76567250/142193025-b25c11a9-9a09-4a22-982f-7ade59ec4663.png)

while on cb7, both are on the same version and cb7's api seems to be returning the merge preset fields.
I think migrating the beacon on :next will resolve the issue.

[2021-11-17 12:33] dapplion commented on #3437
Bumped the beacon node to `chainsafe/lodestar:next` and now it works well :+1:

However we should review the parsing of the config because that field is never used by the validator so it shouldn't have to crash for it not being available. Otherwise it would be impossible to interop with any client when we keep extending the config.

[2021-11-17 12:58] g11tech commented on #3437
@dapplion  this PR was done exactly for this reason: https://github.com/ChainSafe/lodestar/pull/3379
one can provide missing fields through `--paramsFile` option for the validator, so that appropriate values can be filled for the missing. 🙂

[2021-11-17 13:05] dapplion commented on #3437
But that's bad UX and very problematic like we found now. The field `INACTIVITY_PENALTY_QUOTIENT_MERGE` is not mandatory for the altair fork however our client crashes if the beacon node hasn't define it. That's not ok

[2021-11-17 13:07] g11tech commented on #3437
ok will think of what else can be done

[2021-11-18 10:52] twoeths commented on #3423
thanks @skylenet for the log, actually I don't see any lighthouse discv5 logs. Could you please also try `RUST_LOG="discv5=debug"` and `RUST_LOG=discv5=debug` (without the double quote?). I'm sorry that I can't find a quick/easy way to set up the test network to reproduce the issue myself.

I double checked with lighthouse and they confirm that's really the only thing to get discv5 log, here's the

[2021-11-18 12:06] dapplion opened #3438 "Fork choice consensus updates"
This issue is a remainder that the Fork choice spec has and will be patched against some attacks. Implementation is not immediate but must be completed prior to the merge.

- [x] https://github.com/ethereum/consensus-specs/pull/2727
- [x] https://github.com/ethereum/consensus-specs/pull/2730

This changes should be optional behind a flag. See https://github.com/sigp/lighthouse/issues/2838 for a gr

[2021-11-18 14:14] dapplion opened #3439 "Batch level db ops"
Lodestar commonly batches db opts at the JS layer with Promise.all for example, but not at the level db layer.

- [ ] Do batch writes and deletes across multiple buckets in one level db call
- [ ] Do batch reads across multiple buckets with `db.getMany` https://www.npmjs.com/package/levelup

[2021-11-18 15:06] dapplion opened #3441 "Don't use dots in Grafana charts unless required"
**Describe the bug**

Many of our Grafana charts use dots instead of line to represent data. This visualization gives the false impression that each dot represents a single instance of that metric (epoch transition time dot = 1 epoch transition).

**Expected behavior**

Always render charts as lines unless a dot chart will highly increase readability (REST API for example, lines are too much)

[2021-11-18 16:30] dapplion opened #3442 "Long block proposing times"
**Describe the bug**

Block proposing times are unstable causing missed proposed blocks

Prater:
![Screenshot from 2021-11-18 17-28-22](https://user-images.githubusercontent.com/35266934/142455950-bd1bd4ed-431f-42a3-bf06-d0889aaaf1df.png)

Mainnet:
![Screenshot from 2021-11-18 17-22-22](https://user-images.githubusercontent.com/35266934/142455983-bd5de520-6956-4215-a05e-96d73a568362.png)

**Expect

[2021-11-19 03:12] twoeths opened #3443 "Sync Committee attendance performance issue"
**Describe the bug**

In prater, when any validators join sync committee period, the performance is very bad. This maybe related to #3416 where we subscribe to all sync committee subnets with `subscribeAllSubnets` flag

On Nov 17, some validators joined the sync committee
<img width="1580" alt="Screen Shot 2021-11-19 at 10 06 08" src="https://user-images.githubusercontent.com/10568965/142558181-32

[2021-11-19 08:06] dapplion opened #3444 "Clone specific commit for EL interop tests"
Cloning a branch that's constantly changing will cause unrelated PRs to fail. Whenever the EL clients evolve, just bump the commit like we do for the spec tests.

UPDATE: A small fix has been send while geth is disabled till a fix is available as couldn't find any commit ids that were not giving problems from last 3-4 commit from head. Tasks now are:

- [x] enable geth
- [x] commit ids as env vari

[2021-11-19 08:39] twoeths commented on #3443
This could also be linked to #2490

When we dial a lot of peers, it's more likely we have to serve `beacon_blocks_by_range`

<img width="799" alt="Screen Shot 2021-11-19 at 15 37 07" src="https://user-images.githubusercontent.com/10568965/142591944-1984fa13-0f49-4601-a6ae-ab652b335fca.png">

[2021-11-19 09:18] dapplion commented on #3443
Could be but I'll be surprised it had such an impact on performance, would be worth it to stay vigilant of our nodes and whenever we get selected again to participate in a sync committee take a CPU profile

[2021-11-19 09:27] twoeths commented on #3443
we can just do a hard code to always subscribe all sync committees and deploy to one of our servers

[2021-11-19 09:54] #2490 closed, assigned to twoeths

[2021-11-19 17:37] skylenet commented on #3423
@tuyennhv I found out that I was missing the `-l` flag on lighthouse which based on `--help`: *"Enables environment logging giving access to sub-protocol logs such as discv5 and libp2p"*. That together with `RUST_LOG=discv5=trace` worked fine now :)

New logs:
- [1637342988-lighthouse-bootnode-0.log](https://github.com/ChainSafe/lodestar/files/7571942/1637342988-lighthouse-bootnode-0.log)
- [16373

[2021-11-19 21:30] dapplion opened #3445 "Name objects and arrays where possible"
**Describe the bug**

When taking heap snapshots most of the memory is retained by literal objects and arrays. Where possible we should use classes or object constructors such that the object has a name. I did some tests and there's no extra memory cost

![Screenshot from 2021-11-19 22-29-45](https://user-images.githubusercontent.com/35266934/142694002-6c846192-ae8f-4dd4-97c2-b2aaf3ddda86.png)

**

[2021-11-19 21:34] dapplion opened #3446 "(concatenated string) takes 23% of beacon node's heap"
**Describe the bug**

In a synced healthy node in mainnet, according to a recent heap snapshot (concatenated string) take
- 23% of the heap
- 366MB
- 11M instances

![Screenshot from 2021-11-19 22-29-21](https://user-images.githubusercontent.com/35266934/142694423-8659cc4e-5bb9-41b0-b075-8556cbe329e9.png)

**Expected behavior**

??? Strings should take so much memory?

[2021-11-20 09:54] twoeths commented on #3416
[1120_subscribeAllSubnets_prater.cpuprofile.zip](https://github.com/ChainSafe/lodestar/files/7574296/1120_subscribeAllSubnets_prater.cpuprofile.zip)

part of the issue is `AttestationError` was thrown a lot, it takes 4% of the cpu time, see #3448

[2021-11-20 22:42] #1983 closed, assigned to twoeths, dapplion

[2021-11-21 02:00] twoeths commented on #3423
Looks like this is something related to rate limiting at lighthoue side.

+ lodestar log

[code]

+ lighthouse log
[code]

[2021-11-21 02:14] wemeetagain opened #3449 "Architecture page out of date"
**Describe the bug**

The "Beacon Node Module Architecture" page is outdated:

https://chainsafe.github.io/lodestar/design/architecture/

**Expected behavior**

It contains relevant information or is deleted.

[2021-11-21 02:46] twoeths commented on #3423
@skylenet I just talk to Lighthouse team, we can disable rate limiting with `--disable-packet-filter`, could you give it a try? This does not seem like a code issue at lodestar discv5 if rate limiting is an issue.

[2021-11-21 22:20] dapplion commented on #3446
I've manually opened `2021-11-21T10:09:09.713Z.heapsnapshot` with Sublime Text (took 18GB RAM lol) and inspected the "strings" array, which lists all individual strings. Reference to the heapsnapshot format https://github.com/v8/v8/blob/17a99fec258bcc07ea9fc5e4fabcce259751db03/include/v8-profiler.h#L586

Search for `"strings":["<dummy>",`, in the above referenced heapsnapshot it starts at the line

[2021-11-21 22:32] dapplion commented on #3446
In the (strings) section in Chrome devtools identical strings appear identified by different node ID
![Screenshot from 2021-11-21 23-28-04](https://user-images.githubusercontent.com/35266934/142781468-742db546-75c1-4003-a222-b142d8114e22.png)
![Screenshot from 2021-11-21 23-27-38](https://user-images.githubusercontent.com/35266934/142781469-a38fb1a5-538a-4d04-b9d8-341c11258939.png)

![Screenshot f

[2021-11-21 22:36] dapplion commented on #3446
The short hex values are individual parts of large hex values converted using toHexString()

![Screenshot from 2021-11-21 23-35-43](https://user-images.githubusercontent.com/35266934/142781634-cd1780af-a82b-4f16-b0cb-bbed2a909029.png)

[2021-11-21 22:38] dapplion commented on #3446
`node_modules/bip39/src/wordlists` is polluting many strings into the heap. Remove from Lodestar's bundle.

Also review `node_modules/psl/data/rules.json`

[2021-11-22 03:54] twoeths commented on #3084
There are a lot of changes since then, when the node does not have a memory issue, validators perform quite well for example https://prater.beaconcha.in/validator/200978

Closing the issue.

[2021-11-22 03:54] #3084 closed, assigned to twoeths

[2021-11-22 04:20] twoeths opened #3451 "Implement rate limit"
**Is your feature request related to a problem? Please describe.**

We don't want to serve `beacon_blocks_by_range` and `beacon_blocks_by_root` too much

**Describe the solution you'd like**

+ Per peer: Allow up to x requests per period
+ Per peer: Allow up to x blocks per period
+ Across peers: Allow up to x requests per period
+ Across peers: Allow up to x blocks per period

Reference params fr

[2021-11-22 06:21] g11tech opened #3452 "Kintsugi :tea: (the merge) devnets 2022 tracker"
Following issues are encountered during the kintsugi devnet merge runs on local. The resolution could either belong to lodestar or the corresponding ELs. this is just a tracker.

**Devnets**
- [x] devnet 0 - multiple issues discovered, devnet stalled with attacking chains, EL <> CL integration issues, discovered edge case for merge transition attack with unavailable pow
- [x] devnet 1 - merge work

[2021-11-22 16:06] wemeetagain opened #3453 "Fix chai `.to.throw` tests"
**Describe the bug**

chai `.to.throw` is a function, if not called the assertion has no effect.

**Expected behavior**

All uses of `.to.throw` are called: `.to.throw()`

See chainsafe/ssz#211

[2021-11-23 09:30] dapplion commented on #3449
@wemeetagain I would be in favor of completely deleting it

[2021-11-23 09:31] dapplion commented on #3451
@tuyennhv Should the rate limiting apply only to block requests or any reqresp request?

[2021-11-23 10:06] twoeths commented on #3451
oh initially I thought it's for block requests only as it caused the performance issue to us but looks like other client apply to other reqresp requests as well (with `request count` limit) so we should do the same thing @dapplion

[2021-11-23 10:07] dapplion commented on #3423
@tuyennhv Our current discv5 implementation sends a ton of FINDNODE requests to a node. During a single random node lookup about 501 through 1 minute. Could this trigger the rate limiting of Lighthouse? How many FINDNODE requests do they allow for time unit?

[2021-11-23 10:08] dapplion commented on #3451
Yeah we should rate limit everything, we should generalize the rate limiter design to work for all requests

[2021-11-23 14:41] dapplion opened #3456 "Lightclient server without state cache"
Refactor Lightclient server to work well without any state cache, only having access to the postState after block import

[2021-11-23 15:49] #3453 closed, assigned to twoeths

[2021-11-23 18:08] dapplion commented on #3036
Spoke with Afri and got a good plan that should be relatively easy to follow tho it requires non-trivial changes to our CI.

This diagram explains the process for the first release going into this flow (v0.33.0 release), and a regular release already being into this flow (v0.34.0 release)

![Screenshot from 2021-11-23 19-03-34](https://user-images.githubusercontent.com/35266934/143079662-038459a5-

[2021-11-24 02:12] twoeths commented on #3036
this looks great to me, once we create a branch for a release we should have docker image for that release and assign someone (or the release manager?) to deploy/test it for 3-4 days before it becomes stable.

[2021-11-24 05:43] g11tech commented on #3036
lgtm OK :+1:

[2021-11-24 08:12] twoeths commented on #3423
@dapplion  this log `Dropped unsolicited packet from RPC limit` shows that the request failed due to the total limit, not node limit or ip limit https://github.com/sigp/discv5/blob/06e8af6e80bb4cacb909ff8a4637187d7bf9f7df/src/socket/filter/mod.rs#L134 , also this failed right after we start the node at the 1st/2nd request, we haven't abused the boot node yet

this shows the rate limit params per r

[2021-11-24 08:50] #3431 closed, assigned to g11tech

[2021-11-24 10:08] dapplion commented on #3423
@tuyennhv @wemeetagain  Tho our node should be able to recover from this, realize that the handshake is not completed and start over right?

[2021-11-24 10:14] skylenet commented on #3423
@tuyennhv  Disabling the rate limiting on lighthouse or starting the lodestar nodes slowly one of the other would kinda work as a workaround for my case, but I think that client should be able to recover from this situation.

I agree with this. And this is also what happens on other clients. They eventually are able to connect without me having to reboot them manually. Lodestar seems to be the onl

[2021-11-26 09:32] skylenet opened #3462 "Can't announce ENR udp and tcp port simultaneously"
**Describe the bug**

Can't overwrite  TCP and UDP port on ENR when used together. There seems to be some problem when I use `--enr.udp`. The ENR record just becomes broken and doesn't  include the IP/TCP/UDP fields. If I just use `--enr.tcp` It will just announce the TCP port as expected.

Running a node with the following flags:

[code]

**Expected behavior**

I would expect the ENR record of th

[2021-11-29 03:21] philknows opened #3464 "Memory Optimizations Tracker"
# 📋  Milestone/Epic Tracker ![GitHub issues by-label](https://img.shields.io/github/issues/chainsafe/lodestar/scope-memory)
This tracker is to monitor outstanding issues and PRs relating to memory optimizations for Lodestar:

### 🟥  High Priority
- [ ] https://github.com/ChainSafe/lodestar/issues/3094
   - Prevent OOM
- [ ] https://github.com/ChainSafe/lodestar/issues/3137
- [ ] https://github.com

[2021-11-29 09:31] dapplion opened #3465 "Use faster Ed25519 impl for gossip crypto"
@achingbrain has identified alternative implementations of Ed25519 crypto. This issue is a tracker to ensure we timely upgrade our deps once a faster impl lands. See benchmarks in https://github.com/libp2p/js-libp2p-crypto/pull/211

I don't have data right now to show but historically gossip crypto has appeared in CPU profiles taking ~5% of total CPU time in the main thread

TODO:
- [ ] Libp2p rel

[2021-11-29 11:16] #3173 closed, assigned to twoeths

[2021-11-29 11:17] #3105 closed, assigned to nobody

[2021-11-29 11:21] dapplion commented on #3082
@wemeetagain noted that the performance test should use a TreeBacked block which makes equality cheaper in our current SSZ implementation. However this function may take a struct or a TreeBacked block. In both cases the code should be fast.

[2021-11-29 11:28] dapplion commented on #2747
Current metrics the fork-choice cost is very low :+1:

[2021-11-29 11:30] dapplion commented on #2747
Fork-choice updateHead cost is about ~1% of total CPU time currently. I think it can still be improved, but it's low priority

[2021-11-29 11:40] dapplion commented on #2453
Duplicate of https://github.com/ChainSafe/lodestar/issues/3082

[2021-11-29 11:40] #2453 closed, assigned to nobody

[2021-11-29 11:41] dapplion commented on #3082
See https://github.com/ChainSafe/lodestar/issues/2453 for more detailed CPU profiles

[2021-11-29 11:44] #2346 closed, assigned to twoeths

[2021-11-29 11:45] dapplion commented on #2346
Benchmarks seem to show that this does not improve performance

[2021-11-29 11:51] dapplion opened #3466 "Performance Optimizations Tracker"
# 📋  Milestone/Epic Tracker    ![GitHub issues by-label](https://img.shields.io/github/issues/chainsafe/lodestar/scope-performance)
This tracker is to monitor outstanding issues and PRs relating to performance optimizations for Lodestar:

### 🟥  High Priority
- [ ] I/O lag issue in under-resourced machine https://github.com/ChainSafe/lodestar/issues/4002
- [ ] https://github.com/ChainSafe/lodestar

[2021-11-29 12:42] dapplion commented on #3465
@mpetrunic does libp2p-noise must use libp2p-crypto to comply with some interface or can we just import any implementation that we want?

[2021-11-30 02:00] twoeths commented on #3423
@skylenet lodestar is reworking on discv5 https://github.com/ChainSafe/discv5/pull/155 , I think this is a good test for that PR @wemeetagain

[2021-11-30 07:46] #3441 closed, assigned to g11tech

[2021-11-30 07:55] twoeths opened #3467 "libp2p-mplex decode performance issue"
**Describe the bug**

+ With `subscribeToAllSubnets()` flag, it takes 5% of cpu time to decode libp2p-mplex chunks

<img width="1484" alt="Screen Shot 2021-11-30 at 14 52 57" src="https://user-images.githubusercontent.com/10568965/144007214-c1752706-01e9-44b9-9a3f-bf8f032550f7.png">

+ 90% of the time was used to throw RangeError
<img width="890" alt="Screen Shot 2021-11-30 at 14 54 14" src="https

[2021-11-30 08:03] dapplion commented on #3467
Oh interesting, could you check the metrics to see if there were many invalid messages during the time that the CPU profile was taken? How could it be that we get sent so many invalid messages? Or the consumer code of this library is doing something strange and passing bad data to the decoder?

[2021-11-30 08:11] twoeths commented on #3467
@dapplion  it's by design, after decoding a chunk's header successfully, the `buffer` is consumed the whole length, and it has 0 length, and `varint.decode()` will just throw `RangeError` in that case. This happens 50% of the time `libp2p-mplex` uses `varint.decode()` in that function

<img width="1127" alt="Screen Shot 2021-11-30 at 15 04 52" src="https://user-images.githubusercontent.com/1056896

[2021-11-30 09:23] dapplion commented on #3438
Āina-kāri release https://github.com/ethereum/consensus-specs/releases/tag/v1.1.6 is out. We should implement this changes by mid January 2022.

[2021-11-30 14:15] philknows opened #3469 "Light Client Planning Tracker"
# 📋  Milestone/Epic Tracker ![GitHub issues by-label](https://img.shields.io/github/issues/chainsafe/lodestar/scope-lightclients)
This tracker is to monitor issues and PRs relating to light clients for Lodestar. This issue deprecates #2986.
Lodestar's Light Client Demo: https://github.com/ChainSafe/eth2-light-client-demo

### 🟥  High Priority
- [x] https://github.com/ChainSafe/lodestar/issues/3952

[2021-11-30 15:40] wemeetagain opened #3470 "Process for managing dependencies"
**Is your feature request related to a problem? Please describe.**

We want to be less vulnerable to "supply chain attacks", maliciously updated dependencies. ([example here](https://hackaday.com/2021/10/22/supply-chain-attack-npm-library-used-by-facebook-and-others-was-compromised/))
We want to have more assurances about the dependencies that we use and when we upgrade.

**Describe the solution y

[2021-11-30 16:51] philknows commented on #2986
Deprecating issue for #3469.

[2021-11-30 16:51] #2986 closed, assigned to wemeetagain, dapplion

[2021-11-30 17:00] dapplion commented on #3470
If we lock a dependency to an exact version `"some-dep": "0.1.0"`, but `some-dep` depends on a range: `"bad-dep": "^1.0.0"` and `bad-dep` gets compromised, are we vulnerable?

[2021-12-02 14:13] dapplion opened #3473 "expect.to.throw not called for ssz generic test"
**Describe the bug**

- https://github.com/ChainSafe/lodestar/pull/3455

Did missed a not called throw statement, linked below

https://github.com/ChainSafe/lodestar/blob/be50e4e211476114fbec8419b1a3e9367d215dfb/packages/spec-test-runner/test/spec/ssz/generic/index.test.ts#L69

The generic test runner is SSZ seems better structured, so I would just copy the implementation from https://github.com/C

[2021-12-02 15:20] wemeetagain commented on #2555
Resolved with https://github.com/ChainSafe/lodestar/pull/3277

[2021-12-02 15:20] #2555 closed, assigned to dapplion

[2021-12-02 15:40] Stig0812 opened #3474 "Coins"
Jul-09 17:32:34.895 []                 info: Lodestar version=0.26.0 master 8058d367, network=prater
Jul-09 17:32:34.920 [DB]               info: Connected to LevelDB database name=/home/user/.local/share/lodestar/prater/chain-db
Jul-09 17:32:46.419 []                 info: Initializing beacon state slot=0, epoch=0, stateRoot=0x895390e92edc03df7096e9f51e51896e8dbe6e7e838180dadbfd869fdd77a659
Jul-0

[2021-12-02 21:01] dapplion commented on #3474
Hey @Stig0812 what's your issue?

[2021-12-03 05:33] g11tech opened #3479 "Add terminal pow overiding params"
- [x] `--terminal-total-difficulty-override`
- [x] `--terminal-block-hash-override`
- [x] `--terminal-block-hash-epoch-override`

[2021-12-03 11:59] g11tech opened #3482 "investigate: local testnet beacon<>beacon interop with lighthouse"
@ethdreamer reported that lodestar was not syncing with the lighthouse local testnet setup.
testnet setup: https://github.com/ethDreamer/lighthouse-kintsugi-interop/tree/lodestar/

UPDATE:
- [x] However was able to setup and sync a lodestar beacon node (no validators) with the same and matching head sync states
lodestar
[code]
lighthouse:
[code]
the cli args used for lodestar:
[code]

correspondin

[2021-12-03 14:42] philknows commented on #1726
https://chainsafe.typeform.com/lodestar

- [ ] Add to documentation and website.

[2021-12-06 07:02] #3473 closed, assigned to twoeths

[2021-12-06 09:43] g11tech opened #3483 "Merge spec 1.1.6"
main tracker: https://github.com/ChainSafe/lodestar/issues/3410
  - [ ] Cleanup/Devnet tasks
    - [x] #3492
    - [x] is_merge -> is_merge_transition
    - [ ] Genesis execution block handling
  - [x] #3506
    - [x] Remove difficulty from PowBlock (UPDATE: specs 1.1.5 specs on spec-runner fail on this and 1.1.6 spec can be updated once proposer boosting is implemented)
    - [x] Update Forkchoic

[2021-12-06 17:35] wemeetagain commented on #3456
Resolved with https://github.com/ChainSafe/lodestar/pull/3461

[2021-12-06 17:35] #3456 closed, assigned to dapplion

[2021-12-06 18:08] #3444 closed, assigned to g11tech

[2021-12-06 18:08] #3425 closed, assigned to g11tech

[2021-12-06 19:36] philknows commented on #3449
Is there any benefit to updating it for new docs? Or should this just be scrapped completely?

[2021-12-06 19:51] philknows commented on #3078
Does the latest light client demo solve this issue? Otherwise, the other tasks seem like they can be broken down into some of the other ones we may already have in the Light Client Tracker (#3469). cc: @wemeetagain

[2021-12-07 07:18] dapplion commented on #3275
Superseded by https://github.com/ChainSafe/lodestar/issues/3410

[2021-12-07 07:18] #3275 closed, assigned to nobody

[2021-12-07 07:26] dapplion commented on #3449
I would scrape completely, if you agree please go ahead

[2021-12-07 07:26] dapplion commented on #3078
Fixed by https://github.com/ChainSafe/lodestar/pull/3461

[2021-12-07 07:26] #3078 closed, assigned to wemeetagain

[2021-12-07 07:57] g11tech commented on #3482
closing as things seems to be resolved for now.

[2021-12-07 07:57] #3482 closed, assigned to g11tech

[2021-12-07 08:45] g11tech opened #3486 "merge limits for gossip and req/res chunks"
Before merge change the limits for gossip and req/res chunks
https://github.com/ethereum/consensus-specs/blob/dev/specs/bellatrix/p2p-interface.md#configuration

UPDATE: this was decided to be tackled near merge

[2021-12-07 08:48] g11tech opened #3487 "de-dupe merge/block/processOperations"
In the kintsugi PR, the processBlock/processOperations segment was duplicated for the merge block processing with cosmetic changes, dedupe those into a unified code

[2021-12-07 08:51] g11tech opened #3488 "timing preparePayload"
At time of the block proposal, one needs to signal to EL to prepare payload, it needs to be investigated if preparePayload can  be executed at optimal time as early as possible giving maximum time to EL for preparing payload.
context: https://github.com/sigp/lighthouse/issues/2715

[2021-12-07 14:34] #3467 closed, assigned to twoeths

[2021-12-07 15:00] dapplion opened #3491 "Automate Lodestar infra deployment"

[2021-12-07 15:17] g11tech opened #3492 "coinbase to fee_recipient, fee_recipient to suggested_fee_recipient, receipt_root to receipts_root"
Update the execution payload fields and payload attributes:

- coinbase to fee_recipient
- receipt_root to receipts_root
- fee_recipient to suggested_fee_recipient

To make the CL complaint with EL 1.0.0-aplha.5 spec: https://github.com/ethereum/execution-apis/releases/tag/v1.0.0-alpha.5

[2021-12-07 15:30] philknows commented on #3491
Just adding a note here to have SSL setup with the dashboards. cc: @dapplion @wemeetagain

[2021-12-07 16:24] wemeetagain opened #3494 "Revert sync period offset"
**Is your feature request related to a problem? Please describe.**

See https://github.com/ChainSafe/lodestar/pull/3477

In #3477 we offset the sync period calculation by `ALTAIR_FORK_EPOCH` so that the first sync period starts at 0.
This is nice in some ways, as a light client could start syncing from period 0 thru N, but it also comes with a small bit of complexity.

Now calculating the sync per

[2021-12-07 17:22] dapplion opened #3495 "Error: finalityHeader not available"
**Describe the bug**

During initial sync, the light-client server errors with

[code]

**Expected behavior**

- The light-client server should not prepare updates during sync
- finalityHeader may not be available and it's not an issue, it's just that the node hasn't seen that finality header

[2021-12-07 19:56] #3492 closed, assigned to g11tech

[2021-12-09 10:10] twoeths commented on #3416
was able to catch a profile where we run ~~8~~ 6 epoch transitions within more than 2 minutes, we should work on this issue #3276 first

[1209_subscribeAllSubnets_Too_Many_Epoch_Transition.cpuprofile.zip](https://github.com/ChainSafe/lodestar/files/7684130/1209_subscribeAllSubnets_Too_Many_Epoch_Transition.cpuprofile.zip)

<img width="786" alt="Screen Shot 2021-12-09 at 17 41 11" src="https://user

[2021-12-09 14:31] #3479 closed, assigned to g11tech

[2021-12-09 20:15] frankiebee commented on #3470
My gut instinct says yes but this is a curious question you have proposed y'all are using yarn?

[2021-12-09 21:00] frankiebee commented on #3470
I see you are using yarn. Running `yarn audit` regularly can help some with security risks and adding it as test suit would be good. It would be best to be over paranoid in this situation and may be good to start thinking about how best to trim down your dependencies or at least look into isolating them.

the answer is yes you are still vulnerable if you dont have this in your yarn.lock. yarn.lock

[2021-12-10 12:34] g11tech opened #3505 "Optimistic sync: Track Execution status and don't publish/produce on a syncing head"
Track the payload execution status and don't perform following duties on syncing head
- attestation
- sync committee contributions
- block

[2021-12-10 12:54] g11tech opened #3506 "CL spec 1.1.6: proposer boost"
- [x] correct proposer boosting as per 1.1.7 spec

[2021-12-10 13:17] g11tech opened #3507 "Develop the scripts for joining devnet via easy docker no brainer setup for lodestar users"
From helping some users join devnet 3, it seems despite some good documentation from TestingTheMerge team, joining devnet is still some work/figuring out.
This task is to add no brainer setup to spin up devnet 3 using docker

[2021-12-10 13:20] g11tech opened #3508 "Optimistic Sync: Part 2 - Prune/Validate/Update fork-choice on lastValidHash response"
As part 1 of optimistic sync, the execution status was tracked and validator duties were aborted on syncing head. Second part of the optimistic sync is to update fork-choice proto blocks and prune (on invalidation), and update the head

[2021-12-10 13:36] g11tech commented on #3374
addressed in https://github.com/ChainSafe/lodestar/pull/3490

[2021-12-10 13:36] #3374 closed, assigned to nobody

[2021-12-10 16:00] dapplion commented on #3036
## v0.33.0 todo
- [x] Update release workflow https://github.com/ChainSafe/lodestar/pull/3504
- [x] Bump master to v0.33.0 + tag as v0.33.0-beta.0
- [x] Bump master to v0.34.0 and develop new features there

[2021-12-10 16:09] wemeetagain commented on #3470
offline convo: @frankiebee also says we need an up to date yarn version and enforce a minimum yarn version

[2021-12-10 16:38] dapplion commented on #3470
However if a consumer installs lodestar via NPM the yarn.lock does not help :(

[2021-12-10 17:36] dapplion opened #3510 "Investigate resident set vs heap total memory difference"
Lodestar nodes show a significant difference between the process resident set or total process memory and the total heap size. As far as I'm concerned, there's no other large memory item that could justify a 500MB difference

![Screenshot from 2021-12-10 18-34-46](https://user-images.githubusercontent.com/35266934/145617082-64ce3a69-9b20-4d1a-80b1-7903e3998d54.png)

This issue is to track research

[2021-12-12 00:49] philknows opened #3512 "Add Lodestar to beaconcha.in Eth Consensus clients"
Request to put Lodestar on the beaconcha.in Eth Consensus clients: https://beaconcha.in/user/ethClients

- [ ] Create PR in their repo here: https://github.com/gobitfly/eth2-beaconchain-explorer/blob/master/templates/ethClientsServices.html

[2021-12-12 11:15] dapplion opened #3513 "Consider disabling precompute epoch on overloaded nodes"
**Describe the bug**

In contabo-12 2021-12-12 08:02:13 CET the node was very overloaded due to high memory usage with GC using >75% of CPU time. In that situation everything is extremely slow. The precompute epoch kicked in and ran an epoch transition which according to metrics had a total async time of 36 sec.

![Screenshot from 2021-12-12 12-01-39](https://user-images.githubusercontent.com/3526

[2021-12-13 16:56] dapplion opened #3515 "Node in under-powered machine can't recover from high memory usage"
**Describe the bug**

Running a node with 30 validators in multiple contabo VPS S machines, most can handle the load ok, but a node had it's memory rise due to improper handling of the state cache old states probably.

The node seems to have entered the death spiral where higher memory leads to extreme CPU usage so the node can't do anything at all. Then all gossip objects become old really fast a

[2021-12-13 21:50] frankiebee commented on #3470
you shouldn't mix package managers include in the read me that you need yarn

[2021-12-13 21:55] frankiebee commented on #3470
other than Yarn. It is advised not to mix package managers in order to avoid resolution
inconsistencies caused by unsynchronized lock files. To clear this warning, remove
package-lock.json.

[2021-12-13 22:01] frankiebee commented on #3470
I would go as far as to throw in a preinstall script to use yarn.

[2021-12-14 04:15] twoeths commented on #3217
It happens in one of our nodes that we ban peers that don't know the below good blocks

[code]

[2021-12-14 07:08] twoeths commented on #3217
there are a lot of errors like below

[code]

we want to only issue requests to peer with supported `beacon_blocks_by_root` protocol

**Update**: actually this peer should be banned immediately, open https://github.com/ChainSafe/lodestar/issues/3517

[2021-12-14 10:02] twoeths opened #3517 "Ban peers with bad scores"
**Describe the bug**

this `W5ot96` is a bad peer and we can't dial it for all protocols

the first time I see the "request selection failed" of peer `W5ot96`
[code]
the last time of the day
[code]

**Expected behavior**

as we dial this peer quite frequently, we should ban it right after seconds/minutes because `DIAL_ERROR` has lower tolerance so this peer should be banned after 5 errors like thi

[2021-12-14 10:07] twoeths commented on #3517
there are a lot of peers like that in the log and there are a lot of DIAL_ERROR too
<img width="805" alt="Screen Shot 2021-12-14 at 17 03 52" src="https://user-images.githubusercontent.com/10568965/145976976-a6ce3cd8-8aa8-4202-b851-3441c9f03dd4.png">

but lodestar does not ban them at all (say goodbye with `GoodByeReasonCode.BANNED` code)

<img width="795" alt="Screen Shot 2021-12-14 at 17 05 41"

[2021-12-14 10:51] twoeths commented on #3513
@dapplion  The precomputeNextEpochTransition only gets triggered when `headSlot === clockSlot` so I'm not sure why it's useless, since when the next gossip block comes we'll run the epoch transition anyway

regarding the chart, agree that it looks much better that way 👍

[2021-12-14 15:37] wemeetagain opened #3519 "Windows Support"
**Is your feature request related to a problem? Please describe.**

We don't explicitly support Windows and we should!

**Describe the solution you'd like**

Lodestar likely works on Windows out of the box, or with minimal tweaking.
We should add e2e tests on Windows to ensure compatibility going forward.

[2021-12-15 11:05] dapplion opened #3521 "Use memory db instead of libp2p metastore"
**Describe the bug**

libp2p metastore requires us to serialize and deserialize data to bytes. Since almost all data we persist in the metastore is useless after a restart, there's no need in persistence beyond memory.

It also causes https://github.com/ChainSafe/lodestar/pull/3520

[2021-12-15 11:11] dapplion opened #3523 "Add standard keymanager API"
**Is your feature request related to a problem? Please describe.**

Add the standard key manager API from https://ethereum.github.io/keymanager-APIs/, formerly ethereum/beacon-APIs#151

[2021-12-15 11:20] dapplion commented on #3513
Good point! Then could it be that the node is so overloaded that the clock is also behind?

[2021-12-15 16:35] #3517 closed, assigned to twoeths

[2021-12-15 16:39] wemeetagain commented on #3521
Aren't our peers' scores useful after a restart?

[2021-12-15 16:52] philknows commented on #3474
No response, closing.

[2021-12-15 16:52] #3474 closed, assigned to nobody

[2021-12-15 17:32] dapplion commented on #3521
Hmm, right do we usually connect to the same set of peers we were connected previously? Would be nice to do some tests

[2021-12-15 17:34] #3505 closed, assigned to g11tech

[2021-12-15 18:37] #3451 closed, assigned to twoeths

[2021-12-16 01:33] twoeths commented on #3513
@dapplion due to #3517 contabo-12 was so unlucky to get  connected to some Unknown peers that don't support any protocols and it caused this memory issue. I'd like to continue monitoring this for a while to decide if precomputing epoch transition is an issue or not.

[2021-12-16 02:48] twoeths opened #3526 "Investigate why there are a lot of open sockets"
**Describe the bug**

This is Active Handles metric for a node with `subscribeAllSubnets` running for 7 days

<img width="900" alt="Screen Shot 2021-12-16 at 09 45 07" src="https://user-images.githubusercontent.com/10568965/146298631-5a03b2bf-fdce-4cbd-b2e0-fac4d1fc290f.png">

**Expected behavior**

Open socket should be consistently less than 50 like the below node

<img width="805" alt="Screen S

[2021-12-16 04:34] twoeths opened #3527 "[PROD] Validator miss attestation"
**Describe the bug**

Validator 270069 missed an attestation at slot 2733664. For more information visit: https://beaconcha.in/validator/270069

**Expected behavior**

Validator should not miss any attestations

[2021-12-16 06:23] twoeths commented on #3527
Validator log shows that the attestation is published on time with correct head

[code]

committeesPerSlot = 131, epoch slot = 0, committee index = 27 => attestation subnet = 27

Node log shows that attestation is published by gossipsub

[code]

maybe it's an issue of having attestation subnet 27 peers at that time to spread the attestation to the network

<img width="995" alt="Screen Shot 2021-12

[2021-12-16 08:50] dapplion commented on #3527
@tuyennhv We should have some internal log of an attestation's journey.

1. Submitted by validator
2. Received in some aggregate
3. Received in block

[2021-12-17 06:49] twoeths opened #3535 "Proposer LMD Score Boosting"
**Is your feature request related to a problem? Please describe.**

This is part of spec 1.1.6, see https://github.com/ethereum/consensus-specs/releases

**Describe the solution you'd like**

Follow https://github.com/ethereum/consensus-specs/pull/2730

[2021-12-17 07:08] dapplion commented on #3535
@g11tech Should be tackling this already.

Part of https://github.com/ChainSafe/lodestar/issues/3438
Part of https://github.com/ChainSafe/lodestar/issues/3506

[2021-12-17 07:08] dapplion commented on #3506
Part of https://github.com/ChainSafe/lodestar/issues/3438

[2021-12-17 07:12] uink45 commented on #3519
Hi, I would like to run the lodestar light client demo locally on Windows. Is there a README file on how to run the demo in a local browser?

[2021-12-17 07:33] twoeths commented on #3535
thanks for clarification 👍 , closing as it's part of other issues already

[2021-12-17 07:33] #3535 closed, assigned to nobody

[2021-12-17 07:41] dapplion commented on #3519
Yes, please see the readme here https://github.com/ChainSafe/eth2-light-client-demo#consensus-lightclient-browser-demo

[2021-12-17 08:30] dapplion opened #3536 "Add p2p-denylist flag"
See https://github.com/ipfs/js-ipfs/issues/3982 for context

Implementation example from Prysm https://github.com/prysmaticlabs/prysm/blob/23e39d3d6451aff2dc302f78923abdc13767237d/cmd/flags.go#L167

Potential library to use (used by libp2p in their address sorter https://github.com/libp2p/js-libp2p-utils/blob/master/src/address-sort.js) https://www.npmjs.com/package/private-ip

**TODO**
- Benchmar

[2021-12-17 13:38] #3507 closed, assigned to g11tech

[2021-12-17 13:57] g11tech opened #3537 "CL<>EL interop: Peers are getting downscored when EL errors on payload execution"
While importing blocks, EL errors with various kind of errors (bad merkle state, internal error etc) as well as possible timeout/connection refused error.

The treatment of all these currently is that that block verification errors and the peer is downscored, which leads to downscoring/banning of peer and soon making lodestar loosing all peers and going out of sync! The lodestar doesn't find peers

[2021-12-17 14:06] dapplion commented on #3537
Oh good points! With downgrade do you mean downscore?

[2021-12-17 14:56] g11tech commented on #3537
yes :slightly_smiling_face:

[2021-12-17 15:56] philknows opened #3538 "Lodestar v1.0.0-rc.0 Checklist"
# 🏁  Milestone/Epic TO-DOs
This epic is to track issues/features to be included for a fully featured `v1.0.0` release candidate. Our goal is to include these features for a release for the Goerli/Prater public testnet merge.

- [x] Complete Main Audit
- [x] Implement any fixes relating to the Main Audit for inclusion
- [x] Update documentation for `v1.0.0` candidate including post-merge configurat

[2021-12-17 16:25] #3276 closed, assigned to twoeths, dapplion

[2021-12-19 07:15] g11tech opened #3541 "Add missing `bellatrix` tests to spec runner"
Some `bellatrix` specs tests are missing and have placeholder empty test files for them. Add those tests
- [x] Enable spec test runs against  the `bellatrix/transition` scenario.
- [x] Enable spec test runs against the `bellatrix/fork` scenario

[2021-12-22 06:46] twoeths opened #3548 "Migrate to libp2p-gossipsub and libp2p"
**Is your feature request related to a problem? Please describe.**

In libp2p-gossipsub 0.12.x, we have some improvement regarding caching peer score, accepting messages without computing peer score, fast message id cache and we want to use it in lodestar soon

**Describe the solution you'd like**

As a preparation for that:

+ Migrate libp2p from 0.32.4 to 0.35.x
+ Migrate libp2p-gossipsub from 0

[2021-12-22 09:34] twoeths commented on #3548
https://github.com/libp2p/js-libp2p/issues/1073

[2021-12-23 12:05] dapplion commented on #3548
Warning! We must make sure that our gossip queues don't have conflicts with the native queues introduced in `libp2p-gossipsub` + `libp2p-interface`

[2021-12-23 13:32] dapplion opened #3549 "Error onDiscovered message=Incorrect data length 8, expect 1"
**Describe the bug**

Current master often prints the error

[code]

After investigating and logging the bad inputs, nodes seems to pad syncnets to longer than 1 byte

[code]

**Expected behavior**

Ǹot error

[2021-12-24 03:55] twoeths opened #3552 "Gossip fast message id cache time"
**Is your feature request related to a problem? Please describe.**

Once we migrate to gossipsub 0.12.x and this is done https://github.com/ChainSafe/js-libp2p-gossipsub/issues/170, consider using fast message id cache time to 33 slots and study its memory usage as in lighthouse https://github.com/sigp/lighthouse/blob/fff01b24ddedcd54486e374460855ca20d3dd232/beacon_node/eth2_libp2p/src/config.rs#L

[2021-12-24 06:53] twoeths commented on #3548
I suppose we continue overriding `_processMessages()` and `_processRpc()` to only use our own queues so that it does not have a performance impact to us

@dapplion  also as discussed in discord (maybe not part of this issue), I'd like to wrap `_processRpcMessage()` instead of `validate()` in our queues so that we don't waste time uncompressing message, getting message id and drop it in the end (wh

[2021-12-24 07:27] #3549 closed, assigned to dapplion

[2021-12-24 07:32] dapplion commented on #3548
Yeah let's do that

[2021-12-27 01:11] twoeths commented on #3548
Latest build issue: https://github.com/libp2p/js-libp2p/issues/1088

[2021-12-27 03:27] twoeths opened #3553 "Gossip queue: Wrap _processRpcMessage() function instead of validate() function"
Yeah let's do that

_Originally posted by @dapplion in https://github.com/ChainSafe/lodestar/issues/3548#issuecomment-1000699780_

[2021-12-27 16:44] dapplion commented on #3039
Proposal:

- Use only the first N bytes of the pubkey (i.e. 4) and encoded as `base64url` to have a very short key. Use `base64url` since it has no padding and saves 2 characters
- The Map value will be an array of indices that start with that pubkey prefix.

Since the goal of this Map is to speed up lookup by pubkeys narrowing down from 250_000 to ~10 instead of 1 is good enough.

Analysis of pro

[2021-12-28 03:53] twoeths opened #3555 "Investigate why there are so few mesh peers per attestation subnet"
**Describe the bug**

This happens in both prater and mainnet: we have a lot of topic peers

<img width="1250" alt="Screen Shot 2021-12-28 at 10 48 00" src="https://user-images.githubusercontent.com/10568965/147525988-bd3e0ccc-d271-4c43-9c6b-6717ede07624.png">

but so few mesh peers
<img width="1290" alt="Screen Shot 2021-12-28 at 10 49 48" src="https://user-images.githubusercontent.com/10568965/1

[2021-12-28 08:09] twoeths commented on #3555
when joining a topic, mesh is created with peers that have score >=0, so we should add gossip peer score metric.

[2021-12-28 19:06] #3553 closed, assigned to twoeths

[2021-12-30 10:53] dapplion opened #3558 "Add cli option to read bootnode ENRs from file"
The functionality is there but only triggered for known networks. Expose option to read and parse bootnode ENRs file.

**Spec**

Add flag `--bootnodesFile` in the beacon command, specifically here https://github.com/ChainSafe/lodestar/blob/240085facb5e542defd8d190d5d2a0abbc574ecf/packages/cli/src/cmds/beacon/options.ts#L156

This flag's path must be processed with the same path manipulation logic

[2021-12-31 12:53] aminpsycho opened #3559 "# [Codecov](https://codecov.io/gh/ChainSafe/lodestar/pull/3556?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=ChainSafe) Report"
# [Codecov](https://codecov.io/gh/ChainSafe/lodestar/pull/3556?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=ChainSafe) Report

[code]

_Originally posted by @codecov[bot] in https://github.com/ChainSafe/lodestar/issues/3556#issuecomment-1001959885_

[2021-12-31 12:53] #3559 closed, assigned to nobody

[2022-01-03 01:21] twoeths opened #3560 "Reprocess attestations"
**Is your feature request related to a problem? Please describe.**

Right now when an (unaggregated) Attestation or AggregateAndProof are ignored until the voted block reach the node and gets processed

[code]

**Describe the solution you'd like**

+ We should be able to cache and reprocess them.
+ Make sure we don't have performance issue with this
+ Make sure the cache is properly bounded

The b

[2022-01-03 10:02] dapplion commented on #3446
I've run some memory benchmarks

[code]

and performance benchmarks

[code]

Representing strings as concatenated takes x10 times more memory! We must use Buffer.toString() everywhere and use some switch strategy to make it browser compatibe.

[2022-01-03 12:11] Evalir commented on #3558
Happy to take on this issue! Will be working on a PR 👍

[2022-01-03 13:45] dapplion commented on #3039
After doing some research today:

- The bulk of the memory usage is cause by this awful concatenated strings. With https://github.com/ChainSafe/lodestar/pull/3561 the memory usage of the map is reduced by 10x from 350MB to 35MB.

- With non-concatenated strings, using less bytes has marginal benefits being able to reduce 2.5x extra. However that's an absolute reduction of ~19MB for the entire appl

[2022-01-03 18:43] wemeetagain commented on #3446
It's a dependency of `@chainsafe/bls-keygen`. We can remove [`deriveKeyFromMnemonic`](https://github.com/ChainSafe/bls-keygen/blob/master/src/index.ts#L18-L29) and get rid of the dependency there.

EDIT: Actually, it looks like we use `deriveKeyFromMnemonic` in a few places.

[2022-01-04 04:53] twoeths opened #3563 "[Kintsugi] Error producing block"
**Describe the bug**

This happens in kinsugi
[code]

**Expected behavior**

No error

**Steps to Reproduce**

curl `/eth/v2/validator/blocks/:slot`

[2022-01-04 09:12] dapplion commented on #3446
Before considering removing we should calculate the impact on memory of this specific dependency, maybe it's quite low and not an issue. Because we do need that dependency to run from mnemonic which we do in our testnet deployments

[2022-01-04 16:26] philknows opened #3566 "SSL integration into Lodestar dashboards"
Reference #3491.

Setup SSL connection between user and dashboards for credential security during transmission.

[2022-01-04 16:26] philknows commented on #3491
Completed. Closing.

[2022-01-04 16:26] #3491 closed, assigned to dapplion

[2022-01-04 17:53] g11tech opened #3567 "Add retry mechanism in executionEngine for executePayload"
Add retry for following scenarios

- Execution Engine is unavailable
  -  Explore all unavailability scenarios and the behavior of the json rpc client we are using
 - Execution Engine errors: Sometimes EL can give internal errors because of the software issues for e.g. nethermind sometimes give internal errors on some concurrency race conditions. Without explicit handling the error basis the error

[2022-01-04 19:20] dadepo opened #3568 "Documentation on how to run Lodestar on local testnet is no longer up to date"
**Is your feature request related to a problem? Please describe.**

The documentation on how to run Lodestar on local testnet [here](https://chainsafe.github.io/lodestar/usage/local/) is no longer accurate and hence following the instructions does not work.

On a quick look I found the following issues:

- It states that _State will be written to .tmp/state.ssz_ It seems state is now stored in $XD

[2022-01-04 19:31] dadepo opened #3569 "Investigate possible EventEmitter memory leak"
**Describe the bug**

While trying to run lodestar on local testnet following the documentation [here](https://chainsafe.github.io/lodestar/usage/local/), I ran into complications which led to me to create this issue [here](https://github.com/ChainSafe/lodestar/issues/3568).

Part of what I noticed, while trying to get Lodestar running in the logs was this error:

On a quick investigation, the iss

[2022-01-05 05:17] twoeths commented on #3537
lodestar<>geth could not maintain a good number of peers too

<img width="812" alt="Screen Shot 2022-01-05 at 12 13 36" src="https://user-images.githubusercontent.com/10568965/148163933-bda8908a-bbcd-4994-9ecb-7acf670fb0dc.png">

the main reason is lodestar sent goodbye requests to other nodes with "peer score too low"

<img width="804" alt="Screen Shot 2022-01-05 at 12 14 33" src="https://user-im

[2022-01-05 06:00] g11tech commented on #3537
@tuyennhv  yes, this is the same issue, I have cleared peerstore and restarted nodes, they seem to now have good peer count. Once this PR https://github.com/ChainSafe/lodestar/pull/3545 gets merged, peers shouldn't get penalized for EL malfunctions.

[2022-01-05 07:22] twoeths opened #3572 "[Kintsugi] Error on publishContributionAndProofs"
**Describe the bug**

There are a lot of errors like below in lodestar<>geth node

[code]

**Expected behavior**
No error

[2022-01-05 11:05] twoeths commented on #3572
I took a look at slot 142749, we published 12 SyncCommitteeMessage:

[code]

as confirmed in https://beaconchain.kintsugi.themerge.dev/block/142749 , only the first 3 validators stay in sync committee, others are redundant, this log confirms that:

[code]

it looks like there's a reorg and we keep merging different sync committee duties per epochs in same period https://github.com/ChainSafe/lodest

[2022-01-05 13:05] #3537 closed, assigned to g11tech

[2022-01-05 14:16] dapplion commented on #3572
Makes sense! Thanks for looking into this :pray:

[2022-01-05 16:31] g11tech opened #3575 "CL spec: 1.1.8 - rename Merge -> Bellatrix"
Implement the minor release changes: https://github.com/ethereum/consensus-specs/releases/tag/v1.1.8

[2022-01-06 04:40] twoeths opened #3576 "Cannot dial peers due to number of addresses"
**Describe the bug**

During the non-finality time of prater, I see we have some strange req dial errors

[code]

or
[code]

All of these errors come from our `beacon_blocks_by_root` requests and it'll decrease peer score -10 each time

**Expected behavior**

No error

[2022-01-06 04:49] twoeths commented on #3576
We can reach some peers prior to the error, for example with peer `16...6C1Q4E`:

[code]

then after some minutes
[code]
then
[code]

looks like we add/remove peer addresses in the libp2p address store during that time

[2022-01-06 11:56] #3437 closed, assigned to g11tech

[2022-01-06 17:32] #2556 closed, assigned to g11tech

[2022-01-06 17:39] #3558 closed, assigned to Evalir

[2022-01-06 17:43] dapplion commented on #3576
That's so weird, might be useful to dig into libp2p source

[2022-01-06 18:18] dapplion opened #3581 "Fix changelog generation in releases"
**Describe the bug**

Current generated changelogs appear very broken, see https://github.com/ChainSafe/lodestar/releases/tag/v0.33.0
- Only one closed issue is included
- No PRs are included

**Expected behavior**

Changelog generator should print a useful changelog like https://github.com/ChainSafe/lodestar/releases/tag/v0.30.0

- Display all closed issues between releases
- Included all closed

[2022-01-06 21:36] wemeetagain commented on #3576
https://github.com/libp2p/js-libp2p/blob/master/src/dialer/index.js#L219

[2022-01-07 02:10] zhubinsheng opened #3582 "牛来速归"
**Describe the bug**

**Expected behavior**

**Steps to Reproduce**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Version:
- Branch:
- Commit hash: