[2020-09-02 07:44] mpetrunic commented on #1314
resolved with #1495

[2020-09-02 07:44] #1314 closed, assigned to twoeths

[2020-09-02 09:05] mpetrunic opened #1499 "Sync not abortable"
Both regular and initial sync doesn't contain code required to abort. Especially problematic if there are missing peers since it contains loop and sleep.

Solution:
When sync stop is called make sure to abort all long running tasks via abort controller, abort iterator and abortable sleep

[2020-09-02 21:24] #1437 closed, assigned to 3xtr4t3rr3str14l

[2020-09-02 22:49] #1081 closed, assigned to mpetrunic

[2020-09-02 23:07] #1421 closed, assigned to dapplion

[2020-09-03 08:20] dapplion commented on #1498
EPIPE = Broken pipe. @mpetrunic is it possible to turn stack tracing on by default for UnhandledPromiseRejectionWarning so we can have more info on this type of issues?

[2020-09-03 08:26] dapplion commented on #1493
Agree with this, if there's no benefit to using `removeListener` we should use `off` for consistency

[2020-09-03 09:24] mpetrunic commented on #1498
From what I can tell we already have stack tracing it just not deep enough.
Maybe setting --stack-trace-limit= 50 would help. I was under impression that we handle all exceptions from libp2p.

[2020-09-03 11:13] mpetrunic commented on #1456
closed with #1494

[2020-09-03 11:13] #1456 closed, assigned to nobody

[2020-09-03 11:14] mpetrunic commented on #1448
closed with #1428

[2020-09-03 11:14] #1448 closed, assigned to mpetrunic

[2020-09-03 15:52] #1497 closed, assigned to mpetrunic

[2020-09-03 15:53] #1103 closed, assigned to dapplion

[2020-09-03 17:54] wemeetagain opened #1506 "Sync requests future blocks"
**Describe the bug**
Syncing does not respect the clock slot, will request future blocks under certain circumstances.

**Expected behavior**
Sync should never request future blocks, always limit by the clock slot.

**Screenshots**
https://discordapp.com/channels/593655374469660673/593655641445367808/751090740087488553
https://gist.github.com/uvizhe/5187035fd0cb27f9f1f866d55c84bb8a

[2020-09-03 20:01] 3xtr4t3rr3str14l opened #1507 "hitting Ctrl+C twice doesn't actually kill the node"
**Describe the bug**

When running the beacon node, I hit Ctrl+C twice, and the node isn't actually killed.

**Expected behavior**

I know that the Ctrl+C x2 solution is only stop-gap for cleanly exiting all the processes of the node, but I would still expect it to really kill the node regardless.

[2020-09-03 22:04] 3xtr4t3rr3str14l opened #1508 "UnhandledPromiseRejectionWarning: Error: No state cache in db for finalized stateRoot"
**Describe the bug**
I see this error when running the beacon node:

[code]

**Expected behavior**

Not see the error and/or handle the rejection properly

[2020-09-03 23:09] 3xtr4t3rr3str14l opened #1509 "stuck in peer disconnect/reconnect cycle after epoch 3239"
**Describe the bug**

When running the beacon chain, if I start from a last known finalized checkpoint of epoch 2289, I can sync up to epoch 3239 and then I get locked into a cycle of disconnecting (via goodbyes) and reconnecting from peers, which also causes sync to stall (even though the disconnects/reconnects still keep me around 20 or 25 peers, well above the minimum required number of peers).

[2020-09-03 23:28] 3xtr4t3rr3str14l opened #1510 "Beacon node not showing justifications/finalizations after a certain point"
**Describe the bug**

If I stop the beacon after some time and restart (in this case, it was after having to restart due to #1509 ), I notice that some of the epochs that are listed in beacon chain explorer (https://beaconcha.in/epochs) that are marked as finalized are not shown as justified or finalized while running our beacon node.

For example, https://beaconcha.in/epoch/2297
Epoch 2297 is sho

[2020-09-04 00:49] 3xtr4t3rr3str14l commented on #1510
I also noticed the beacon node consistently doesn't show epochs 0 - 5 as justified or finalized either

[2020-09-04 03:25] twoeths opened #1511 ""headStateRoot does not exist" error after restoring chain"
**Describe the bug**
This is the log I have after restoring my chain
[code]

**Expected behavior**
No error

[2020-09-04 03:31] twoeths commented on #1509
I got issue #1511 when I restore my db so have to work on that first

[2020-09-04 05:38] 3xtr4t3rr3str14l commented on #1507
To clarify, it seems this only happens sometimes.  Not sure what the root cause is at this moment.

[2020-09-04 08:56] dapplion commented on #1507
Could you record your terminal to see exactly at what point of the node lifetime it happens? For me, I've seen CTRL+C doesn't working when the process is stuck in a long synchronous task, which happens on bootup.

[2020-09-04 09:00] dapplion commented on #1509
@3xtr4t3rr3str14l If logs are not humongous https://pastebin.com/ is a great tool to share logs

[2020-09-04 16:45] 3xtr4t3rr3str14l commented on #1509
Here's another log from a run I did last night.  Same results as above, except on different epochs

[testlog3.txt](https://github.com/ChainSafe/lodestar/files/5176027/testlog3.txt)

[2020-09-04 17:17] 3xtr4t3rr3str14l commented on #1509
It's also worth noting that fairly often I go through the disconnect/reconnect process when starting the beacon chain from scratch (i.e. starting at slot 0).  I'm not sure if this is connected to this issue directly, but maybe it is a sign of some improvements that could be made to our peering.  Just an observation/hunch.

[2020-09-04 17:19] 3xtr4t3rr3str14l commented on #1507
Here's an example I just ran into:

[code]

[2020-09-07 05:00] SeaMonkey82 opened #1513 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected."
**Describe the bug**
Seen several times in succession while syncing beacon node:
[code]

**Expected behavior**
No error

**Steps to Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: Linux Mint
 - Version: 20
 - Branch: Master
 - Commit hash: 42ca379f17215c2f258d078531c51e57817c7803

[2020-09-08 18:56] 3xtr4t3rr3str14l commented on #1510
not an issue.  beacon chain explorer does not seem to track the difference between actual finalized checkpoints and previous epochs that are finalized purely as a result of a finalized checkpoint

[2020-09-08 18:56] #1510 closed, assigned to 3xtr4t3rr3str14l

[2020-09-08 23:56] 3xtr4t3rr3str14l opened #1515 "Error: The operation was aborted"
saw this error log when running `./bin/lodestar beacon --testnet medalla`

[code]

[2020-09-09 19:03] dapplion opened #1522 "Make DB bucket values explicit"
To prevent breaking DBs in the future, make the bucket values explicit. Make sure to respect the existing values for backwards compatibility

https://github.com/ChainSafe/lodestar/blob/f76104886c67e8a920cfb942df94ff943ca50fb5/packages/lodestar/src/db/api/schema.ts#L7-L37

[2020-09-09 19:14] dapplion opened #1523 "Discussion: unit test stubbing"
#### Background

When doing the eth1 data for block processing refactor I had to update a lot of stubbed unit tests just because I changed the implementation slightly. A great example of a stubbed unit test is this one:

https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts

What is this test trying to verify or prove? Apparently, i

[2020-09-09 19:23] mpetrunic commented on #1523
blockAssembly method is not simple and it currently just checks if in happy path all block fields are set. Value correctness are not tested as it depends on other methods which we expect to work correctly. What this test do lack is most important part of unit testing, error paths like state context is missing, head block is missing etc.

[2020-09-09 19:46] dapplion commented on #1523
Following your point I would suggest do abstract blockAssembly to fit this layout
[code]
Where `doSomething` exclusively collects values and calls pure functions encapsulating the logic. Then you test error paths and everything else in `doSomethingLogic` with mock values only, instead of stubbed classes.

**EDIT**
This issue is inspired by the feeling that the current usage of stubs in the lodesta

[2020-09-09 19:59] mpetrunic commented on #1523
Oh yeah, thats real problem that occurred because lack of lint rules/lack of knowledge what types should be. It's a lot easier in tests where type is `StubbedInstance<IBeaconChain>`.

Maybe it's just me, but I'm finding stubbed methods/classes a lot more expressive than having methods
where all params can be null and you have to throw errors in that case. I think it just comes down whether we wann

[2020-09-09 20:52] wemeetagain commented on #1523
:+1: Definitely agree with OP. I also feel like we abuse stubs in some cases to test internal implementation details. We shouldn't be doing things checking `stubbedMethod.calledOnce` to determine if a code path is taken.

I think there are two big cases cases where we're over-using stubs:
1. We're trying to trigger some sort of behavior based on chain state - In this case, we don't have good infra

[2020-09-09 21:32] mpetrunic commented on #1523
I don't like this at all, that something e2e tests should have because:
1. it will make unit tests slower, while we should aim them to be faster
2. slight change to state structure could invalidate our infra to generate specifically-crafted chain state

It cannot, it has to support null argument values or you would have to forcefully cast values when using `doSomethingLogic`.

Stubs are you friend

[2020-09-10 00:19] twoeths opened #1526 "Restore Chain: need to make it minimal"
**Is your feature request related to a problem? Please describe.**
After syncing medalla and restart, we have to load 8000 unfinalized blocks and reprocess which takes time and memory, it's redundant because:
+ After chain is started, initial sync redownload same blocks again
+ Some unfinalized blocks are even not in the finalized chain so it's redundant to restore

This leads to some weird issues

[2020-09-10 00:40] wemeetagain commented on #1526
Why does initial sync redownload the same blocks again? Do we always sync starting from our finalized checkpoint?

We have to initialize the fork choice with the finalized state / finalized block, and feed blocks, one-by-one starting there.

IMO the solution I'd like to see is persisting/restoring our fork choice information. Then, on restore, we'd have the full block tree w/o needing to feed all

[2020-09-10 00:55] twoeths commented on #1526
In unfinalized period, I sync to slot 110000 and it's crashed. When I restart, we have to reprocess from block 73249 until 110000, then at initial sync we start from our finalized block which is 73248. So its a duplicate.

Another example, last time I came to regular sync and proceeded a little bit after that then I stop, get some unfinalized blocks. After ~ 2 weeks, when restart I have to reproce

[2020-09-10 19:23] 3xtr4t3rr3str14l opened #1528 "yarn run test failing for packages/lodestar"
When I run `yarn run test` inside packages/lodestar, I get the following error:

[code]

[2020-09-10 19:25] 3xtr4t3rr3str14l opened #1529 "CI test failure: "Node is stopped""
Just ran into an error when running a test in #1525 .  It was resolved by restarting the test, but maybe we should figure out why it was happening in the first place.

[code]

[2020-09-11 06:32] dapplion commented on #1528
Could you run `yarn build` in the repo root to make sure all types are synced?

[2020-09-11 17:42] wemeetagain opened #1531 "Start gossip protocol when network starts"
**Describe the bug**
I believe we're being dropped by lighthouse because we don't 'support' gossipsub until we get past initial sync.

**Expected behavior**
We should start gossipsub **but not subscribe to any topics** on network start.
Then when we finish initial sync, we can subscribe to topics.
This will allow us to stay connected to clients which require peers to be gossipsub peers while we sy

[2020-09-11 21:05] wemeetagain opened #1534 "Add stream.reset to libp2p types"
**Is your feature request related to a problem? Please describe.**
We currently need a `@ts-ignore` to use `stream#reset`.

**Describe the solution you'd like**
We should add the `reset` method to the appropriate type declaration.

**Additional context**
#1533

[2020-09-12 03:29] twoeths commented on #1508
should be resolved by #1517

[2020-09-14 15:59] #1522 closed, assigned to nobody

[2020-09-14 20:03] 3xtr4t3rr3str14l commented on #1534
resolved in #1533

[2020-09-14 22:35] #1534 closed, assigned to nobody

[2020-09-14 23:24] twoeths commented on #1526
#1517  will resolve this issue

[2020-09-14 23:24] #1526 closed, assigned to twoeths

[2020-09-14 23:52] 3xtr4t3rr3str14l commented on #1528
yup, same error

[2020-09-15 20:53] 3xtr4t3rr3str14l opened #1543 "Queue incoming gossip blocks that are from the future"
As per the comments here:
https://github.com/ChainSafe/lodestar/blob/ea113e6b92b055c77adad91e57d96403af83f43f/packages/lodestar/src/network/gossip/validation/block.ts#L39

And this part of the networking spec (https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/p2p-interface.md#beacon_block):

It seems like we should be queuing incoming gossip blocks that are from the future.

[2020-09-15 21:37] #1531 closed, assigned to nobody

[2020-09-16 19:18] 3xtr4t3rr3str14l opened #1544 "Gossip Block Validation: the current finalized_checkpoint is an ancestor of block"
From the network specs (https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/p2p-interface.md#beacon_block)

It doesn't look like we are checking for this in the block validation explicitly (i.e. REJECTing a given gossip block during validation if the above conditions are not met), and we should be doing this to be up-to-spec.

[2020-09-17 21:06] mpetrunic commented on #1529
Hmm hard to tell from this log snippet, probably something errored earlier and caused non finalization in required time

[2020-09-17 21:13] mpetrunic commented on #1543
@ChainSafe/eth2-0 We should probably discuss this. Queuing gossip blocks is a bit difficult as we would need to replay blocks trough gossip validation and manually emit is as gossipsub does.

It's quite awkward since we would need to either:
- bind method to Gossip object and invoke like here:
https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar/src/network/gossip/gossip.ts#L219

-

[2020-09-18 04:19] twoeths opened #1546 "Cannot restart from a skipped slot"
**Describe the bug**
Sync through skipped slot of 266176 and stop and then I cannot restart the chain, it gets stuck after fetching the 1st round in initial sync because blocks are not processed

**Expected behavior**
We can start the chain from a skipped slot

**Steps to Reproduce**
+ Sync through skipped slot 266176 (or any skipped slot that can be come finalized checkpoint)
+ ArchiveTask found

[2020-09-18 06:40] #1546 closed, assigned to twoeths

[2020-09-18 07:11] mpetrunic opened #1549 "E2e test error - avoided signing conflicting attestation"
**Describe the bug**

Validator client stores attestations under "attester index" key, which our internal index in array
of validators in validator client. When we have 2 validator clients (example multi threaded tests),
two different validators will have same "attester index" and thus second validator thinks he is about to produce
slashable attestation.

**Expected behavior**

We should either st

[2020-09-18 07:15] mpetrunic opened #1550 "E2e test error - invalid block"
**Describe the bug**

Occasionally in e2e tests we are producing bad blocks. Unfortunately, as seen in screenshot, error is undefined.
To investigate further we would need exact error. Since that worked before, my best guess it's related to either recent block processing changes or eth1 data.

**Expected behavior**

Should not happen so e2e tests can pass consistently.

**Steps to Reproduce**

**S

[2020-09-18 19:33] #1451 closed, assigned to twoeths

[2020-09-19 00:37] twoeths opened #1552 "eth1: stop flooding too much log"
when there is eth1 error, it shows too much log
[code]

it should only show a short meaningful error message instead

[2020-09-19 15:00] dapplion commented on #1329
@tuyennhv if I understand the issue correctly: After genesis, blocks with a timestamp prior to
[code]
are useless right?

But without having access to state, can you compute `periodStart`? Would it be possible just by having access to the clock to compute the lowest possible `periodStart` given the current time?

[2020-09-20 06:24] twoeths commented on #1329
@dapplion yes and yes, you are all right :D

The main point is not to query useless blocks at pregenesis time and after genesis time.
+ Pregenesis time: as described in the issue description, we formed genesis state already but keeps querying eth1 block while waiting for genesis time (due to GENESIS_DELAY). I believe it's not an issue anymore.
+ After genesis: as you said, we don't need blocks bef

[2020-09-20 06:40] dapplion commented on #1329
Got it. In the current `Eth1ForBlockProduction` the constructor has no access to state
https://github.com/ChainSafe/lodestar/blob/16e88384332ce3074da00fdba14d50405a432072/packages/lodestar/src/eth1/eth1ForBlockProduction.ts#L36-L42

How do you think would be the nicest way to have access to `periodStart` or the state to compute it at the constructor of `Eth1ForBlockProduction`?

[2020-09-20 07:48] dapplion opened #1554 "Massive repo size"
`ChainSafe/lodestar` currently weighs 131.75MB on clone. This is way too much for a src, and we should fix it.

[code]

There seems to be a binary of prometheus in the scripts directory https://github.com/ChainSafe/lodestar/blob/master/scripts/prometheus is that an error?

[2020-09-20 09:06] twoeths commented on #1329
I think we can use `getGenesisTime()` from chain and `currentSlot` from clock  instead of a state to calculate `periodStart`   at the constructor of `Eth1ForBlockProduction`.

[2020-09-21 02:34] twoeths commented on #1509
should be resolved by peer scoring work in #1545

[2020-09-21 02:36] twoeths commented on #1511
closing as we have different caching machenism and state regen now, not happen anymore in my environment

[2020-09-21 02:36] #1511 closed, assigned to twoeths

[2020-09-21 02:37] twoeths commented on #1508
@3xtr4t3rr3str14l can you verify this issue again?  With latest master, I can sync smoothly without seeing this anymore.

[2020-09-21 08:59] dapplion opened #1555 "Remove unused variables"
Review and remove unused variables in the code.
- `packages/lodestar/src/sync/utils/sync.ts:89` `maxblocksPerChunk` arg

-----

I think you can remove this, we don't even use this in method

_Originally posted by @mpetrunic in https://github.com/ChainSafe/lodestar/pull/1505#discussion_r491869135_

[2020-09-21 10:03] dapplion commented on #1329
Once we get `periodStart` what range of blocks do you start to query from? The client should guess a block number from the lower-bound timestamp `periodStart`?

[2020-09-21 10:42] mpetrunic commented on #1554
i'm in favor of removing that. We could create some docker-compose to set those things up

[2020-09-21 13:48] dapplion commented on #1466
Are all open handlers closed for good on multiple modes of operation of the CLI?

[2020-09-21 13:49] mpetrunic commented on #1466
probably not, it got autoclosed when I've dragged pr into closed column

[2020-09-21 13:55] dapplion opened #1558 "Test running for too long"
**Describe the bug**
e2e ran for too long sometimes. See https://github.com/ChainSafe/lodestar/pull/1556/checks?check_run_id=1143297059

**Expected behavior**
e2e should not run for that long in any case

**Proposed solution**
On top of timeout in time, we should have a timeout of slots or epochs. If the test reaches epoch 5 without finality, kill it as failed. In the test above it reached slot 43

[2020-09-21 14:04] dapplion commented on #1558
Job logs in case they are not available

[logs_6894.zip](https://github.com/ChainSafe/lodestar/files/5255819/logs_6894.zip)

[2020-09-22 02:14] twoeths commented on #1498
this happens more frequently in regular sync

[2020-09-22 03:50] twoeths opened #1562 "Regular Sync keeps retry same range even it's a success round"
**Describe the bug**
Previously at regular sync it's the only source to fetch/process block until a gossip block comes. If `lastFetchedSlot === chainHead` then it thinks it failed to get range.
Now we allow to receive gossip block when we don't have parent block yet,  it means chain head is out of control of regular sync and we should not base on that for a retry.
[code]

**Expected behavior**
As

[2020-09-22 13:04] mpetrunic opened #1565 "Add pending slot blocks support to block pool"
**Is your feature request related to a problem? Please describe.**

Currently if block comes too early we mark it as bad block which is somewhat bad since we cannot ever process it again and thus cannot form valid chain. Currently we experience similar stuff in e2e tests (#1550 ) but since we have majority we form chain without that block.

**Describe the solution you'd like**

Similar to attestat

[2020-09-22 13:11] mpetrunic commented on #1209
unstale

[2020-09-22 14:08] ColinSchwarz opened #1567 "v0.12.3"

[2020-09-22 14:09] ColinSchwarz opened #1568 "Add configuration -- PROPORTIONAL_SLASHING_MULTIPLIER -- for slashing multiplier"
https://github.com/ethereum/eth2.0-specs/pull/2034

[2020-09-22 14:10] ColinSchwarz opened #1569 "[non-substantive] Add clarifying comment for genesis skip conditions"
https://github.com/ethereum/eth2.0-specs/pull/1999

[2020-09-22 14:12] ColinSchwarz opened #1570 "[non-substantive] Pass 'anchor_block' to 'get_forkchoice_store'"
https://github.com/ethereum/eth2.0-specs/pull/2061

[2020-09-22 14:13] ColinSchwarz opened #1571 "[non-substantive] Clarify what 'state' is for block proposals in validator guide"
https://github.com/ethereum/eth2.0-specs/pull/2022

[2020-09-22 14:14] ColinSchwarz opened #1572 "Add self-consistency checks to attestation gossip validation"
https://github.com/ethereum/eth2.0-specs/pull/2001

[2020-09-22 14:14] ColinSchwarz opened #1573 "Add two more simple gossip validations"
https://github.com/ethereum/eth2.0-specs/pull/2030

[2020-09-22 14:15] ColinSchwarz opened #1574 "Use raw SHA256 as message-id and reduce size to 8 bytes"
https://github.com/ethereum/eth2.0-specs/pull/2044

[2020-09-22 14:16] ColinSchwarz opened #1575 "Port Solidity deposit contract to spec repo"
https://github.com/ethereum/eth2.0-specs/pull/2019

[2020-09-22 14:17] ColinSchwarz opened #1576 "Add instructions for verifying bytecode [Deposit Contract]"
https://github.com/ethereum/eth2.0-specs/pull/2056

[2020-09-22 18:34] #1549 closed, assigned to mpetrunic

[2020-09-23 03:33] SeaMonkey82 opened #1580 "Error updating eth1 chain cache"
**Describe the bug**
[code]

**Expected behavior**
No error

**Steps to Reproduce**
Goerli Geth launched with...
[code]
earth.thegalaxy resolves to 192.168.0.2
[code]

Beacon launched with...
[code]

[code]

**Desktop (please complete the following information):**
 - OS: Linux Mint
 - Version: 20
 - Branch: Master
 - Commit hash: 7885cc5370d158577b72286f1ea81f22e213aadd

[2020-09-23 05:56] dapplion commented on #1580
@SeaMonkey82 The flag to for the eth1 provider URL is not right, can you try with this one?
[code]

[2020-09-23 06:02] SeaMonkey82 commented on #1580
[code]

results in

[code]

[2020-09-23 06:06] dapplion commented on #1580
Can you clear the DB if possible?
[code]

[2020-09-23 06:09] SeaMonkey82 commented on #1580
Cleared the db and ran with the same flags.  Result:

[code]

[2020-09-24 07:03] mpetrunic commented on #1576
unreleated to lodestar

[2020-09-24 07:03] #1576 closed, assigned to nobody

[2020-09-24 07:03] mpetrunic commented on #1575
unreleated to lodestar

[2020-09-24 07:03] #1575 closed, assigned to nobody

[2020-09-24 10:00] yorickdowne opened #1583 "Supply docker AppArmor profile"
# Please supply an AppArmor profile for Lodestar

You know your application best and what it requires from the OS. Being able to easily "lock it down" inside a container to those paths it needs would be a boon to security.

## What is AppArmor?

See https://docs.docker.com/engine/security/apparmor/ . AppArmor security profiles define what can and cannot be done inside a container, specific to the

[2020-09-24 18:20] 3xtr4t3rr3str14l opened #1584 "Prepare lodestar-cli for spadina testnet"
- [ ] Add a new `--testnet` argument, `spadina`
- [ ] Create a new default config for spadina
- [ ] Create everything else that is required to have `init` setup an environment for spadina and for `beacon` to run successfully on spadina (if anyone wants to drill this down further in this issue, feel free, but we can probably use whatever is setup for `--testnet medalla` as an example to create `--t

[2020-09-25 01:26] #1562 closed, assigned to twoeths

[2020-09-25 04:39] #1580 closed, assigned to nobody

[2020-09-25 04:39] #1041 closed, assigned to dapplion

[2020-09-25 04:39] #1552 closed, assigned to dapplion

[2020-09-25 17:41] mpetrunic opened #1587 "Implement emitting forkChoice:head event"
Check if added block made it as head in forkchoice view and emit event `forkChoice:head`

[2020-09-25 17:42] mpetrunic opened #1588 "Implement forkChoice:reorg event"
In case we switch to another parallel chain, we should emit forkChoice:reorg event
with old head block summar, new head block summary and depth which is number of slots to common ancenstor block of those two chain heads.

[2020-09-25 17:52] mpetrunic opened #1589 "Implement voluntary exit event"
In block post porcess, iterate trough block voluntary exists and emit voluntaryExit event

[2020-09-25 17:54] mpetrunic opened #1590 "Deprecate old block event stream in favour of standard event stream"
- change validator to use standard event stream (probably abstract inside validator api)
- remove old block event stream endpoint

[2020-09-25 17:56] mpetrunic opened #1591 "Handle chain reorg event in validator"
- subscribe to chain reorg events from standard event stream
- in case we receive reorg event where currentSlot - depth results in epoch less than current epoch, fetch duties again and replace current

[2020-09-25 17:57] mpetrunic opened #1592 "Add /eth prefix to rest api"
- add /eth prefix/
- use plugin register to group routes under common namespace/url prefix

[2020-09-25 18:39] #1209 closed, assigned to mpetrunic

[2020-09-25 22:17] wemeetagain commented on #1588
Counting from the old head? or the new head?

[2020-09-26 05:37] mpetrunic commented on #1588
old :)

[2020-09-26 06:32] dapplion commented on #1592
Is this required by the spec?

[2020-09-26 06:49] dapplion commented on #1182
Resolved in current master
https://github.com/ChainSafe/lodestar/blob/f5d368eef5798902c563d968b3eeeffd23ecac10/packages/lodestar/src/api/impl/validator/validator.ts#L211-L213

[2020-09-26 06:49] #1182 closed, assigned to nobody

[2020-09-26 06:54] mpetrunic commented on #1592
yup, it's just /eth instead of /eth2 so I've corrected that

[2020-09-26 07:50] twoeths commented on #1498
This happened to me bc I tried libp2p 0.29 branch and I only have only 1 "best peer" in regular sync

[2020-09-26 12:47] dapplion opened #1595 "Discussion: Error strategy"
Let's discuss and agree on an Error strategy. We should define at least:
- How to define and throw Errors. How to add and handle metadata
- Typing
- Logging

------

The problem with mashing the stringified contents here is that you end up with a bunch of duplicate information (and the duplicated info is nasty, stringified and inflexible to different formatting.) This goes against the goal of http

[2020-09-27 02:31] #1584 closed, assigned to 3xtr4t3rr3str14l

[2020-09-28 00:39] #1460 closed, assigned to mpetrunic

[2020-09-28 12:58] twoeths opened #1597 "libp2p 0.29: Handle dialProtocol timeout"
**Describe the bug**
Sync stalled due to a request timeout does not throw Error.
This happens to me a couple of times with libp2p 0.29: during initial sync/regular sync, peers get disconnected after we called dialProtocol but it did not trigger an error when timeout
[code]

**Expected behavior**
Network req/resp should throw error for sync to handle

One candidate to fix is #1277

[2020-09-28 19:05] #1550 closed, assigned to mpetrunic

[2020-09-28 19:05] #1565 closed, assigned to mpetrunic

[2020-09-29 00:24] ec2 opened #1599 "Eth1 errors during initial sync"
I'm trying to sync with Medalla and my node seems to be throwing some errors. It is worth noting that it still continues to sync fine despite these errors.
**Describe the bug**

I start up a node by running `yarn run cli beacon --testnet medalla --weakSubjectivityStateFile state-11185.ssz`. Then  I get errors that look like this
[code]

Also potentially related are these types of errors:
[code]
**

[2020-09-29 09:24] mpetrunic commented on #1591
resolved via #1596

[2020-09-29 09:24] #1591 closed, assigned to nobody

[2020-09-29 09:25] mpetrunic commented on #1588
resolved via #1596

[2020-09-29 09:25] #1588 closed, assigned to wemeetagain

[2020-09-29 09:25] mpetrunic commented on #1587
resolved via #1596

[2020-09-29 09:25] #1587 closed, assigned to nobody

[2020-09-29 10:11] mpetrunic commented on #1571
no code changes

[2020-09-29 10:11] #1571 closed, assigned to nobody

[2020-09-29 10:27] dapplion opened #1606 "Update spec tests to v0.12.3"
See https://github.com/prysmaticlabs/prysm/pull/7276/files as reference

[2020-09-29 10:35] dapplion commented on #1570
@wemeetagain does this affect our code after your refactor?

[2020-09-29 11:32] dapplion commented on #1583
We'll be happy to accept any user contribution to develop and AppArmor profile. All eth2 clients need
- access to a specific disk path to read and write from the DB
- net access in/out to gossip

[2020-09-29 12:14] mpetrunic opened #1607 "Add rewards spec tests"
- [ ] add another source test file that executes tests in rewards directory of spec tests

[2020-09-29 12:21] dapplion commented on #1599
I'm getting the same error building genesis for Spadina
[code]

[2020-09-29 13:57] #1592 closed, assigned to mpetrunic

[2020-09-29 13:57] #1589 closed, assigned to mpetrunic

[2020-09-29 19:38] #1606 closed, assigned to mpetrunic

[2020-09-29 19:39] #1569 closed, assigned to nobody

[2020-09-29 20:57] #1568 closed, assigned to dapplion

[2020-09-30 07:12] mpetrunic commented on #1597
Quote from Vasco

[2020-09-30 08:19] mpetrunic commented on #1597
@tuyennhv Could this be it?

[2020-09-30 08:37] twoeths commented on #1597
it's not the case for us, I notice the same peer was used a couple of times (in earlier log which I did not catch) before the issue happen.

I think libp2p handles that part, lodestar doesn't do that

[2020-09-30 08:39] mpetrunic commented on #1597
DEfault timeout is 60s so within 60s of adding peer all dialProtocol signals won't work. Are you saying we got some response from peer before?

It gets added there from discv5 for example.

[2020-09-30 08:47] twoeths commented on #1597
yes

just check that discv5 doesn't use libp2p addressBook, this is how discv5 send a "peer" event to libp2p https://github.com/ChainSafe/discv5/blob/master/src/libp2p/discv5.ts#L91
then libp2p has to add multiaddr to its addressBook himself.

[2020-09-30 09:41] mpetrunic commented on #1597
https://github.com/libp2p/js-libp2p/blob/bb59b518f142065d9f40852aa9089d73ac7a7cdc/src/index.js#L502

[2020-09-30 09:55] twoeths commented on #1597
yeah libp2p add addresses to addressBook there, lodestar and discv5 don't use that.

we don't do a manual dial and the peer were used to query beacon blocks by range/root successfully a couple of times until it disconnected and the last request failed without throwing timeout error in `dialProtocol` then it cause sync stalled.

[2020-09-30 10:02] mpetrunic commented on #1597
Yes we do, this method gets called once you emit peer event from discv5.
https://github.com/libp2p/js-libp2p/blob/bb59b518f142065d9f40852aa9089d73ac7a7cdc/src/index.js#L565

Every dialProtocol is manual dial to peer. Automatic dial happens when discovery service (discv5 in our case) find peer, we dial to get peer libp2p metadata (supported protocols for example)

[2020-09-30 10:17] twoeths commented on #1597
Agree, but in our case, I believe we have a connection to peer already since we got a lot of successful requests, we call `dialProtocol` just to get a stream with same connection.

I don't think this is the scenario we face since we have a couple of successful requests/responses already, I guess `autoDial` only works if we have no connection to peer https://github.com/libp2p/js-libp2p/blob/bb59b51

[2020-09-30 10:27] mpetrunic commented on #1597
Do you think we can create test case for that so libp2p guys can help us?

[2020-09-30 10:29] twoeths commented on #1597
yeah it's a good idea, not easy to reproduce with our sync but I'll give it a try

[2020-09-30 10:37] mpetrunic commented on #1597
I don't think you need to do it in sync, just use raw dialProtocol and disconnect other peer, maybe

[2020-09-30 16:58] twoeths opened #1611 "Improve unknownBlockRoot event emit in block pool"
Currently, if we have a branch of blocks like block 1000 -> 1001 -> 1002 in block pools, when block 1003 comes, which is child of 1002, we emit parentRoot of 1003 which is 1002 as "unknownBlockRoot" event, but we have block 1002 in pool already.

We should emit the ancestor root of that branch instead, which is parentRoot of 1000.

In regular sync, I see we have a lot of blocks in pool but we keep

[2020-09-30 19:41] 3xtr4t3rr3str14l opened #1613 "restore check to ignore gossip blocks from a future slot during gossip block validation"
We are not checking for this rule in gossip block validation:

```[IGNORE] The block is not from a future slot (with a MAXIMUM_GOSSIP_CLOCK_DISPARITY allowance) -- i.e. validate that signed_beacon_block.message.slot <= current_slot (a client MAY queue future blocks for processing at the appropriate slot).```

But we should be.

Possibly related to #1543

Depends on #1547 to replace this function:

[2020-09-30 19:53] wemeetagain commented on #1613
What we're doing is subtlely wrong, but it has never been correct.
We're waiting _inside the gossip validation_ for the slot to arrive. This may result in the gossiped block being eventually propagated. The outcome is the same with or without the added clock disparity allowance.

The validation rule instead says to immediately IGNORE.
Likely the right solution involves comparing block.slot against

[2020-10-01 01:15] #1590 closed, assigned to mpetrunic

[2020-10-01 04:22] twoeths opened #1614 "Regular Sync is stalled: do not trust empty range result"
**Describe the bug**
Currently in regular sync, if we receive an empty range and later on we check best peer's head is above range end, we assume that it's really an empty range and we just move forward.
In reality, the peer may return beacon_block_by_range incorrectly, or because peer head is updated after we call beacon_block_by_range. So we have to be safe: should start from range.start and exp

[2020-10-01 08:20] mpetrunic opened #1615 "Migrate current validator api to standardized"

[2020-10-01 23:30] twoeths opened #1619 "Regular Sync: not enough connected peers"
**Describe the bug**
This happens with my libp2p branch. I notice during initial sync, I can see ~20 connected peers but at regular sync, it reduced gradually (mostly with 129 goodbye code) and in worse case, we have no sync peers.

**Expected behavior**
Should maintain ~20 connected peers like in initial sync

[2020-10-02 06:30] dapplion commented on #1293
unstale

[2020-10-02 06:31] dapplion commented on #1293
@mpetrunic Could you outline a specific example implementation for this? Then I can take the issue

[2020-10-02 10:57] mpetrunic commented on #1293
As you can see we have global rest api error handler (anything that isn't caught in api controller ends up being handled here):
https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar/src/api/rest/routes/error.ts

Since we already have ApiError handling, my idea was that inside api we throw children of ApiError.
Some example would be:
Instead of this handling here: https://github.com/C

[2020-10-03 02:02] #1611 closed, assigned to twoeths

[2020-10-03 16:39] dapplion opened #1624 "Consider moving beacon-state-transition/fast to separate package"
Create a new package `beacon-state-transition-fast` and move the fast specific code there. Current setup has ugly name clashes and forces large parts of the codebase to import from `/lib/*`.

**Other options**

Use a more structured fs in a single package `beacon-state-transition`
- naive
- fast
- util

[2020-10-03 17:04] wemeetagain opened #1625 "Consider publishing lodestar monorepo under @lodestar namespace"
**Is your feature request related to a problem? Please describe.**
Current naming is verbose.
`import {...} from "@chainsafe/lodestar-config"`
`import {...} from "@chainsafe/lodestar-types"`
`import {...} from "@chainsafe/lodestar-beacon-state-transition"`
`import {...} from "@chainsafe/lodestar-cli"`
etc.

**Describe the solution you'd like**
`import {...} from "@lodestar/config"`
`import {...} f

[2020-10-05 04:51] twoeths commented on #1597
I couldn't reproduce this in libp2p test case, if I do `dialProtocol` and disconnect peer in the middle, it threw `Error: stream ended before 1 bytes became available` instead of being suspended like in this issue.

[2020-10-05 06:49] mpetrunic commented on #1597
You could try with https://github.com/libp2p/js-libp2p/pull/764 and see if it maybe fixes, otherwise let's wait for libp2p0.29 and see if it still happening.

[2020-10-05 07:10] twoeths commented on #1597
Recently I only try everything in my libp2p 0.29 branch but it's good to know they are working on something related to the issue

[2020-10-05 07:13] mpetrunic commented on #1597
There is also PR with same changes for 0.29 version

[2020-10-05 17:25] dapplion commented on #1293
Would you mind taking this issue since you are more familiar with the API internals?

[2020-10-06 07:35] twoeths opened #1637 "Validating gossip aggregate and proof takes too long"
**Describe the bug**
[code]
It took almost 45s to validate gossip aggregate and proof `0x8762fdd3aff2b7152ed679de704b27f70929dfcba5f200eb2f8574ad231e47aa` and the node can't do anything. Need to investigate which api caused this.
That's why at some time I see the synced peers reduced to 0 and we receive no more gossip blocks and we never finish regular sync.

[2020-10-06 07:38] twoeths commented on #1619
close in favor of #1637

[2020-10-06 10:05] twoeths commented on #1637
the concerning aggregateAndProof is
[code]
so we regen state from slot 451648 to slot 451654 which is not a lot, not sure why it takes time (or maybe another api?)

I also notice that we did receive the block before the AggregatedAttestation:
[code]

in most of the cases, we should be able to get preState right from the state cache using attestation data `beaconBlockRoot` + forkchoice instead of a

[2020-10-06 10:44] mpetrunic commented on #1637
Why isn't there profile log for 45s? Also I see there are logs

Hard to debug those stuff, I would say we have some bug so we are stuck in a loop somewhere since we didn't process epoch transition here I doubt we hit some performance issue. Maybe keep chrome profiller attached and start it once you encounter stuff like that so we know in what loop we are stuck.

[2020-10-06 11:37] twoeths commented on #1637
I guess the `logger.profile` string is not unique and we call these function  multiple times at the same time, maybe we have to attach a hex root to it and monitor again

yeah will do that

[2020-10-06 15:35] #1507 closed, assigned to nobody

[2020-10-06 16:52] dapplion opened #1641 "Empty ENR breaks lodestar"
When running and stopping lodestar quickly the ENR file is empty and while loading this happens
[code]

The ENR loader should validate it better and create a new one if corrupt or empty instead of stalling the entire process

[2020-10-06 16:59] dapplion opened #1642 "Add abortableTimeout utility"
Abstract this construction https://github.com/ChainSafe/lodestar/blob/7a553443be393b93fcb75694d1cc343564cac1cd/packages/lodestar/src/network/util.ts#L141-L150 to properly test it and make sure it doesn't leak
[code]

-----

Yeah, I think that would be really useful to pull into its own function. Basically like `setTimeout` but with a signal. (and not supporting the 'evil' extra arguments that `set

[2020-10-07 07:38] mpetrunic opened #1644 "Separate chain event handlers into separate files"
I think we can separate handlers into separate files/functions but I can do it after we merge this since this diff is already huge

_Originally posted by @mpetrunic in https://github.com/ChainSafe/lodestar/pull/1633#r500049602_

[2020-10-08 04:29] twoeths commented on #1637
So the AggregateAndProof repository `removeIncluded()` api caused the issue.

<img width="389" alt="Screen Shot 2020-10-08 at 11 22 40" src="https://user-images.githubusercontent.com/10568965/95414755-c4e44b80-0958-11eb-87ef-1679403993bc.png">

One example of it in my db is we have 300 items in db, then we try to remove 128 of them then it'll loop `300*128=38400` times calling `config.types.Attest

[2020-10-08 07:54] twoeths commented on #1619
This still happens even after the `removeIncluded` fix in my local branch. The profiler shows that we don't have any long running functions (2.5s for runStateTransition), however number of peers still reduced gradually from the regular sync time (I was able to sync for 1h and connected peers reduced too).

[2020-10-08 17:20] #1206 closed, assigned to twoeths

[2020-10-08 19:06] #1637 closed, assigned to twoeths

[2020-10-08 21:24] 3xtr4t3rr3str14l opened #1649 "CI e2e test Error: multi node multi thread interop validators: UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'message' of null"
As seen here:
https://github.com/ChainSafe/lodestar/pull/1561/checks?check_run_id=1228100092#step:11:11828

[code]

[2020-10-09 06:03] #1649 closed, assigned to nobody

[2020-10-09 08:53] twoeths commented on #1619
So I below is the reasons why our peers are disconnected:
+ 129: too many peers. Note that lighthouse sorts peers by score, it means our peers don't have a good score
+ 250: bad score
+ 251: banned. There is a discussion to follow up here https://discordapp.com/channels/605577013327167508/618981555985186827/763040947164282921

So we have to improve our performance/score first. Currently from regul

[2020-10-09 12:58] mpetrunic commented on #1619
we are subscribe to gossip during our regular sync? Maybe we have bad gossip score since we are basically censoring messages?
Might be also because of our old gossip?

[2020-10-10 12:32] dapplion commented on #467
@wemeetagain bump

[2020-10-10 17:29] #1614 closed, assigned to twoeths

[2020-10-11 08:51] twoeths opened #1653 "No state in cache for finalized checkpoint state"
**Describe the bug**
This happens in Medalla Initial Sync:
[code]

**Expected behavior**
ArchiveState task runs without error

[2020-10-11 09:27] twoeths commented on #1619
Today it happened with initial sync too and I had 0 peers.So maybe it's not related to gossip.

I noticed that discv5 still sent "peer" event to libp2p frequently so there's something inside libp2p to debug.

[2020-10-11 09:58] twoeths commented on #1653
as a result of this, when I restart the node I have to start from an old checkpoint

[2020-10-12 03:28] twoeths commented on #1653
should be resolved by https://github.com/ChainSafe/lodestar/pull/1656

[2020-10-12 06:56] mpetrunic commented on #1619
hmm you could try deleting peerstore, and see if you will get some peers

[2020-10-12 06:58] twoeths commented on #1619
yeah that would help before we start the node but during the sync we don't want to have only 0-5 peers

[2020-10-12 06:58] mpetrunic commented on #1388
unstale

I think it's resolves with #1655 cc @tuyennhv

[2020-10-12 06:59] mpetrunic commented on #823
unstale

[2020-10-12 08:28] twoeths commented on #1619
although discv5 sends `peers` event to libp2p regularly, lodestar doesn't receive `peer:connect` event due to https://github.com/libp2p/js-libp2p/blob/master/src/upgrader.js#L179
The errors happen regularly, specifically:
+ ERR_ENCRYPTION_FAILED. Messages maybe "Error occurred during XX handshake: Error occurred while verifying signed payload: Peer ID doesn't match libp2p public key." or "Error oc

[2020-10-12 09:04] mpetrunic commented on #1619
is you isp blocking your traffic? lol
you have a lot of disconnection.

Could be because of incomplete public key protobuf, not sure.
https://github.com/NodeFactoryIo/js-libp2p-noise/blob/f9d56d8c87635ec03b6d7aa50e594b57923f41df/src/utils.ts#L72

[2020-10-12 09:39] twoeths opened #1657 "Forkchoice head does not seem right after initial sync"
**Describe the bug**
After initial sync, we processed up to slot 495550. Right after that we start regular sync and head slot is at 495327.

[code]

The result of that is Regular Sync tried to fetch an old range `495328-495347` which we had blocks already.

[code]

Although I can still catch up with head slot using `unknownBlockRoot` event, this is not nice.

**Expected behavior**
Head slot should

[2020-10-12 12:46] twoeths commented on #1657
So initial sync was started with the same head
[code]

It means that the same head hasn't changed during the whole initial sync

[2020-10-12 13:30] twoeths commented on #1657
so from slot 495328 to 495550, corresponding states has lower finalized epoch, that's why it does not update finalized checkpoint in forkchoice and forkchoice does not update bestChild/bestDescendant
[code]
only get new head from slot 495552
[code]

[2020-10-12 20:18] #1318 closed, assigned to mpetrunic

[2020-10-12 21:26] #1644 closed, assigned to mpetrunic

[2020-10-12 22:22] #1544 closed, assigned to 3xtr4t3rr3str14l

[2020-10-12 22:22] #1572 closed, assigned to 3xtr4t3rr3str14l

[2020-10-12 22:22] #1573 closed, assigned to 3xtr4t3rr3str14l

[2020-10-13 20:58] Spacesai1or opened #1662 "Not yet implemented methods from official spec"
While developing the [web3.js beacon chain API wrapper](https://github.com/ethereum/web3.js/tree/wyatt/eth2-refactor/packages/web3-eth2-beaconchain), here are some of the routes listed in the [official spec](https://ethereum.github.io/eth2.0-APIs/#/) that `404`:

**NOTE** I tested using the latest docker image as of `10/13/2020` based off commit [32127c4](https://github.com/ChainSafe/lodestar/tree

[2020-10-14 06:40] twoeths opened #1663 "Optimize block pool memory usage"
**Is your feature request related to a problem? Please describe.**
We got OOM issue again in non-finality time in Medalla, did not do a memory inspection but I think in-memory block pool is not sustainable and we need to improve that first.
In my test, I got ~1000 gossip/pending blocks and it need to be ~8000 to catchup with head block/slot.

**Describe the solution you'd like**
I think "BlockPool

[2020-10-14 09:21] mpetrunic commented on #1662
Hey, we already have issues for those:
- #1058
- #1057
- #1615 - `POST  ​/eth​/v1​/beacon​/blocks`

I'm hoping I can take care of those by next week.

[2020-10-14 09:21] #1662 closed, assigned to nobody

[2020-10-15 04:56] twoeths commented on #1619
I think this is the root cause: right now when we process a range of blocks without allowing anything in the middle:
[code]
the log above shows that there is nothing happened in the middle, and it took 1m27s to process a block range, we should do some tricks to allow other events to be executed in the nodejs event loop.
In initial sync, we do everything so fast so we didn't see the issue.

[2020-10-15 06:57] mpetrunic commented on #1619
Dunno, maybe try putting `await sleep(1)` after block is processed? :smile:

[2020-10-15 07:52] twoeths commented on #1619
I did `await sleep(0);`. It works just fine :D

[2020-10-15 08:39] twoeths opened #1667 "Network req/resp timeout without error"
**Describe the bug**
This is not the `dialProtocol` timeout issue in #1597 since we got the stream (I applied my hot fix #1600 for my local branch). After that we receive no response from the peer and regular sync stalled.

[code]

**Expected behavior**
We should either receive/trigger an error or the log `receive beacon_blocks_by_range request from` with same requestId.

I still saw the peer stay

[2020-10-15 09:04] twoeths opened #1668 "Improve quality of connected peers"
**Is your feature request related to a problem? Please describe.**
Now we have many peers at regular sync times but still have few sync peers at regular sync time:
[code]
We should leverage our scoring system to disconnect bad peers and connect to new ones.

**Describe the solution you'd like**
Have a new task or leverage DiversifyPeersBySubnetTask starting from initial sync time, based on our pee

[2020-10-15 21:23] 3xtr4t3rr3str14l opened #1672 "restructure StubbedChain to be more typesafe"
argh, StubbedChain is not well written but it's probably massive diff to rewrite to be as StubbedBeaconDb so ignore for now

_Originally posted by @mpetrunic in https://github.com/ChainSafe/lodestar/pull/1658#discussion_r505265588_

[2020-10-16 11:19] dapplion opened #1675 "Add more unit tests for validator client"
Replace an improve existing tests https://github.com/ChainSafe/lodestar/blob/dapplion%2Fslashing-protection%2Fmin-max-surround/packages/lodestar-validator/test/unit/services/block.test.ts

since its missing unit tests for duties and stuff which have caused a lot of problems

[2020-10-16 13:23] twoeths opened #1676 "Improve Regular Sync"
**Is your feature request related to a problem? Please describe.**
This is at infinality time of Medalla and we have to start from block ~500000 to block ~525000 (at least) and it's not efficient to query a  block range and wait for it to be processed before querying the next one.

**Describe the solution you'd like**
We should be able to query 1 range ahead and process the current buffered block

[2020-10-16 19:34] #1058 closed, assigned to mpetrunic

[2020-10-17 08:57] twoeths opened #1680 "Forkchoice: implement getUnfinalizedBlocksAtSlots"
**Is your feature request related to a problem? Please describe.**
I have ~26000 blocks in forkchoice when syncing medalla and it seems to be suspended for >20 minute. This is the profiler screenshot:
<img width="979" alt="Screen Shot 2020-10-17 at 15 46 42" src="https://user-images.githubusercontent.com/10568965/96332745-fdd69b80-108f-11eb-9749-8659d7f59a99.png">
It shows us that we have a perfor

[2020-10-17 09:17] #1045 closed, assigned to twoeths

[2020-10-17 09:17] #970 closed, assigned to nobody

[2020-10-17 09:17] #1355 closed, assigned to nobody

[2020-10-17 13:49] dapplion opened #1681 "Add `network.discv5.enabled` to the `IDiscv5DiscoveryInputOptions` type"
See
https://github.com/ChainSafe/lodestar/blob/00012384f2fefe57805e368d815c6677214baf05/packages/lodestar-cli/src/testnets/altona.ts#L25-L29

[2020-10-17 23:19] twoeths commented on #1657
with the current Medalla, I started from block 499648 and only get new head from 500629, after that I see new head happened regularly.

[2020-10-18 11:26] twoeths commented on #1667
Got this one more time
[code]
and then our sync stalled
This same peer does not seem to response us in the last beacon_blocks_by_root request
[code]
didn't see `got stream...` log for this request

also this peer does not seem to be really good as it's out-of-sync
[code]

[2020-10-18 13:05] twoeths commented on #1668
sometimes it looks like this
[code]

[2020-10-19 15:31] #1619 closed, assigned to nobody

[2020-10-19 17:50] dapplion opened #1684 "Discussion: remove deposit functionality"
See https://github.com/sigp/lighthouse/issues/1727

[2020-10-19 18:42] 3xtr4t3rr3str14l commented on #1681
this issue is also being tracked here:
#1227

[2020-10-20 09:57] twoeths commented on #1667
I think we didn't manage timeout at this line https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar/src/network/reqResp.ts#L367

we only manage timeout after we pass that

[2020-10-20 14:53] dapplion commented on #1681
True, duplicate

[2020-10-20 14:53] #1681 closed, assigned to nobody

[2020-10-20 14:53] dapplion commented on #1227
Motivation:
https://github.com/ChainSafe/lodestar/blob/00012384f2fefe57805e368d815c6677214baf05/packages/lodestar-cli/src/testnets/altona.ts#L25-L29

[2020-10-20 15:44] #1543 closed, assigned to nobody

[2020-10-20 15:45] 3xtr4t3rr3str14l commented on #1613
resolved in #1658

[2020-10-20 15:45] #1613 closed, assigned to nobody

[2020-10-20 16:21] #1595 closed, assigned to nobody

[2020-10-20 19:42] #1346 closed, assigned to twoeths

[2020-10-21 01:13] #1663 closed, assigned to twoeths

[2020-10-21 03:05] twoeths commented on #1382
unstale

[2020-10-21 06:37] twoeths opened #1690 "eth2ResponseTimer does not throw error at the right time"
**Describe the bug**
`eth2ResponseTimer` is where we handle TTFB_TIMEOUT and RESP_TIMEOUT but it doesn't throw error at the right time

[code]
in fact it only throws error at the time the peer is disconnected and our sync has to wait for 14 minutes. I got same issue with another peer in my log as well.

We may have to wait longer if peer is disconnected after hours.

**Expected behavior**
eth2Resp

[2020-10-21 10:42] twoeths opened #1692 "Javascript heap out of memory"
**Describe the bug**
Sync Medalla until slot 503311 and I got OOM issue
[code]
In my branch I cache 64 blocks max so I don't think that's an issue.
Last time I can sync to slot 525000 so this is not decided by how far we can sync Medalla, it happens kind of randomly.

**Expected behavior**
OOM issue should never happen

[2020-10-21 11:30] twoeths commented on #1692
~according to p2p spec, we have to support up to `MAX_REQUEST_BLOCKS` which is 1024 in beacon_blocks_by_range. Not sure if it's too much for us, I'll try to log request body to see.~
Update: I did not see the above requests before the crash.

[2020-10-21 16:16] #1680 closed, assigned to twoeths

[2020-10-21 16:18] #1667 closed, assigned to twoeths

[2020-10-21 16:59] GregTheGreek commented on #1625
Chatted with Cayman about this a bit yesterday.

I can resonate with the intention, but at the end up the day its just a one liner in your cli, and (hopefully :laughing:) your edditor  has auto-complete making your interaction with the prefix itself almost non-existent. Sticking with the ChainSafe branding for the time being makes the most sense for the time being. If some astronomically odd case

[2020-10-21 18:56] 3xtr4t3rr3str14l commented on #1692
I had an OOM yesterday, but wasn't able to get around to profiling it to see exactly what happened.  It happened for me at around epoch 3200 or so (sometime during a long period of unfinality)

[2020-10-22 07:25] dapplion commented on #1427
Is this error still happening? Many memory issues have been fixed recently

[2020-10-22 21:50] wemeetagain opened #1695 "Improve / unify branding across monorepo"
**Is your feature request related to a problem? Please describe.**
The readmes of each individual package in the monorepo do not adequately link back to ChainSafe and Lodestar.
Each readme doesn't convey the context that the package is part of something bigger, nor does it mention ChainSafe.

**Describe the solution you'd like**
- Include a header in each package in the monorepo, consistently plac

[2020-10-23 03:05] twoeths opened #1697 "Node has to process slots through giant range"
**Describe the bug**
At some point I saw my node kept processing through checkpoints. The debug shown that it has to do `processSlotsToNearestCheckpoint` from slot 503119 to 572736, almost 70000 slots!

![Screen Shot 2020-10-23 at 09 57 38](https://user-images.githubusercontent.com/10568965/96951403-9f3d7180-1516-11eb-90b1-5fbf44c3edda.png)

Note this log: `Checkpoint processed epoch=15725, root=0

[2020-10-23 03:21] twoeths commented on #1697
not sure if this is the root cause but this pattern may cause our node to process through a lot of epochs if the node is syncing: https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar/src/network/gossip/validation/voluntaryExit.ts#L19

[code]

[2020-10-23 03:51] twoeths commented on #1697
according to https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/sync/service.go#L267 I think we don't need to subscribe to topics other than `beacon_blocks` when the node is syncing.

`beacon_blocks` topic is needed for our Regular Sync.

[2020-10-23 06:03] twoeths commented on #1692
#1697  explains why we have this OOM randomly

[2020-10-23 06:34] twoeths opened #1698 "Sync tries to get same unknown ancestor roots at the same time"
**Describe the bug**
Sync seems to receive same unknown ancestor root at the same time and it blindly asks peers for that same block.
[code]

**Expected behavior**
Sync should know that a process to find a block by root already started so it should ignore subsequent requests of the same root.

[2020-10-23 14:04] twoeths commented on #1692
Got OOM again after removing epochProcess from cache and disable all gossip topics (except for `beacon_block` topic). It happened at slot 561685.

Will reduce number of checkpoint state cache and try again.

[2020-10-23 17:08] #1698 closed, assigned to twoeths

[2020-10-24 02:17] #1413 closed, assigned to nobody

[2020-10-24 08:47] twoeths commented on #1697
https://discordapp.com/channels/593655374469660673/593655641445367808/769256756794228746

[2020-10-24 08:57] twoeths opened #1701 "State regen causes OOM"
**Describe the bug**
Sync to slot 578307 and regen state from 502561 which caused a huge block range to reprocess and OOM happened
[code]

Note that block 502558 formed the justified checkpoint earlier, that's the last cached state where regen started from.
[code]
**Expected behavior**
State regen should not cause OOM.

[2020-10-27 04:21] twoeths commented on #1692
this issue is caching EpochProcess causing OOM. For regen causing OOM, there is a different issue #1701

[2020-10-27 05:37] twoeths commented on #1701
I notice that 589875 is the chain head so probably that came from attestation processor
and it logged number of block to replay is 40511

[2020-10-27 18:44] #1528 closed, assigned to nobody

[2020-10-27 18:47] 3xtr4t3rr3str14l commented on #1388
can this issue be closed?

[2020-10-27 19:31] SeaMonkey82 opened #1705 "Error: DuplicateDistinctLog"
**Describe the bug**
I'm getting a flood of this now.
[code]

**Expected behavior**
No error

**Steps to Reproduce**
[code]
**Desktop (please complete the following information):**
 - OS: Linux Mint
 - Version: 20
 - Branch: Master
 - Commit hash: 16d3a422d8e50c63891fcb0ea0e903815913f106

[2020-10-27 20:27] dapplion commented on #1388
Yeah

[2020-10-27 20:27] #1388 closed, assigned to nobody

[2020-10-27 21:18] 3xtr4t3rr3str14l commented on #1227
the ts-ignores still need to be removed when discv5 version bump happens that includes https://github.com/ChainSafe/discv5/pull/104

[2020-10-28 05:17] SeaMonkey82 commented on #1705
Restarted and haven't noticed this error since.

[2020-10-28 15:24] dapplion commented on #1624
Bump @wemeetagain

[2020-10-28 15:37] dapplion opened #1708 "VSCode to reference package ts src instead of lib"
VSCode has a great functionality that with SHIFT+F12 takes you directly to the source code of whatever function you want. However, for the monorepo packages, it takes you to the built `lib/*.d.ts` files which is not helpful at all. There must exist some configuration to be done in the tsconfig.json so the actual source code `src/*.ts` is referenced instead

[2020-10-28 22:22] #1555 closed, assigned to 3xtr4t3rr3str14l

[2020-10-29 07:26] dapplion commented on #1459
unstale

[2020-10-29 07:26] dapplion commented on #1469
unstale

[2020-10-29 07:27] dapplion commented on #1457
unstale

[2020-10-29 07:28] dapplion commented on #1232
unstale

[2020-10-29 07:29] dapplion commented on #1158
unstale

[2020-10-29 07:29] dapplion commented on #1458
unstale

[2020-10-29 07:29] dapplion commented on #1462
unstale

[2020-10-29 07:30] dapplion commented on #1471
unstale

[2020-10-29 07:30] dapplion commented on #1463
unstale

[2020-10-29 07:30] dapplion commented on #1472
unstale

[2020-10-29 07:30] dapplion commented on #1472
@tuyennhv have those been merged already?

[2020-10-29 07:31] dapplion commented on #1473
unstale

[2020-10-29 08:10] twoeths commented on #1472
@dapplion it's not officially merged yet, still in some personal branches

[2020-10-29 08:55] dapplion commented on #1705
Thanks for updating, closing for now re-open if it happens again

[2020-10-29 18:06] 3xtr4t3rr3str14l opened #1711 "UnhandledPromiseRejectionWarning: Error: ENOSPC: no space left on device, write"
I saw this last night while I was running the beacon node, and while I was away, the beacon node stopped syncing when I ran out of disk space, and then when I hit Ctrl+C, it spit this out:

[code]

It's an edge case and is something that is maybe hard to test for, but it would probably be good to handle the error and let the user know more kindly, imo.

[2020-10-29 18:23] 3xtr4t3rr3str14l commented on #1053
resolved in #1694

[2020-10-29 18:23] #1053 closed, assigned to 3xtr4t3rr3str14l

[2020-10-30 03:56] #1676 closed, assigned to twoeths

[2020-10-30 06:04] twoeths commented on #1701
didn't see this issue again in my latest sync after the above PR merged

[2020-10-30 06:04] #1701 closed, assigned to nobody

[2020-10-30 06:36] twoeths commented on #1473
At regular sync we lose a lot of peers because it's too slow to process slot/epoch.

[code]

if I ignore signature verification, I normally get 10-15 sync peers. Hopefully this issue help resolve it.

[2020-10-30 09:35] mpetrunic commented on #1446
unstale

Side note: gonna update to new events soon which should be lighter and faster which might resolve this isuees

[2020-10-30 09:36] mpetrunic commented on #1461
unstale

[2020-10-30 14:53] #1668 closed, assigned to twoeths

[2020-10-30 18:46] #1684 closed, assigned to nobody

[2020-10-31 00:57] SeaMonkey82 commented on #1705
I had this happen again and realized this happens when geth and lodestar are started at the same time.  Even after geth is caught up, the error persists until lodestar is restarted.

[2020-10-31 23:12] #1692 closed, assigned to twoeths

[2020-11-01 00:02] twoeths opened #1715 "OOM after node is synced to head"
**Describe the bug**
Node is synced to head:
[code]
saw some valid gossip blocks:
[code]
2 minutes after that node is crashed due to OOM

[code]
**Expected behavior**
Node can stay synced

I notice that previously I disabled subscribing to all gossip topics (except for `block`), now I apply  #1712 so that should cause the issue.

[2020-11-01 00:03] twoeths commented on #1715
Right before OOM happened, there is `ERR_QUEUE_THROTTLED` which means node had to regen a lot.

[code]

[2020-11-01 06:29] dapplion commented on #1492
unstale

[2020-11-02 05:27] twoeths commented on #1715
althought I synced to head, I disabled signature verification and hence it did not process attestations in block. Maybe that's why my chain head is not close to the latest block. (latest one is 615614 which is out of date).

I should process block attestations and try again ...

[2020-11-02 18:25] #1465 closed, assigned to mpetrunic

[2020-11-02 19:31] #1697 closed, assigned to twoeths

[2020-11-02 22:15] 3xtr4t3rr3str14l opened #1725 "Empty id in ENR when starting beacon"
When I try to run the beacon using `lodestar beacon --testnet medalla`, I get the following error:

[code]

[2020-11-03 00:22] dankrad opened #1726 "Email list to inform users of critical issues/updates"
When critical updates are published, or there are urgent problems with the clients that need all stakers to intervene, there should be a way to quickly get this information out to all Lodestar users. I recommend:
 *  Setting up an email list that stakers can subscribe to and on which highly critical information can be pushed
 * Additionally, setting up groups/accounts on other channels (twitter, t

[2020-11-03 01:37] twoeths opened #1727 "Forkchoice head getting stuck at an orphaned block"
**Describe the bug**
This is the latest head I have
[code]
I notice that's an orphaned block
**Expected behavior**
Head should move forward during the sync.

**Steps to Reproduce**
Sync Medalla to head

[2020-11-03 07:10] twoeths commented on #1727
The forkchoice `getHead()` does not seem right. Previously we do `syncChanges()` to apply weight change for each node when we call `getHead()` and the head can move forward thanks to that, now we don't do any weight changing actions when we call `getHead()`. Refer to https://github.com/ChainSafe/lodestar/blob/v0.11.0/packages/lodestar/src/chain/forkChoice/arrayDag/lmdGhost.ts#L335

Currently when

[2020-11-03 09:00] twoeths commented on #1715
the latest log shown that we didn't regen a lot, and all the crash looks like this:
[code]

it looks very similar to https://github.com/nodejs/help/issues/2388 which means we logged too much and the issue comes from the log itself.

I'd go with minimizing the AggregateAndProof gossip validation log and try again. (the latest log file I got is more than 10GB!!)

[2020-11-03 21:37] 3xtr4t3rr3str14l opened #1730 "lodestar-cli not downloading genesis.ssz for medalla"
when i run `lodestar init --testnet medalla`, it doesn't download the genesis.ssz

[2020-11-03 23:42] twoeths commented on #1715
I have the same issue again, `Mark-sweep` still shows our memory at around 2GB.
So I think last time I don't see issues just because the non-finality time is not as long as the current situation.
@ChainSafe/eth2-0 we may need to increase heap memory like `node --max-old-space-size=3072 index.js` (3GB)?
I already reduce the MAX_EPOCHS to just 10 so don't want to reduce it more.

[2020-11-04 00:55] SeaMonkey82 opened #1732 "TypeError: Cannot read property 'toString' of undefined"
**Describe the bug**
[code]

**Expected behavior**
No error

**Steps to Reproduce**
`node --trace-deprecation --stack-size=6000 --max-old-space-size=9192 ./packages/lodestar-cli/bin/lodestar beacon --rootDir=/home/seamonkey/.eth2/lodestar --metrics.enabled=true --metrics.serverPort=8010 --testnet=medalla --network.discv5.bindAddr='/ip4/0.0.0.0/udp/13430' --network.localMultiaddrs='/ip4/0.0.0.0/tcp

[2020-11-04 10:48] mpetrunic commented on #1715
I think lighthouse is running MAX_EPOCHS 2 :rofl:

[2020-11-04 15:42] dapplion opened #1733 "Protection best practices"
From https://github.com/ethereum/eth2.0-specs/pull/2082/files#diff-e3f50f31ab8c39b7d634a722cdbdf3575c0ae70c787da2007b4ab5ae24a6b3eaR613

A validator client should prevent itself from signing such requests by: a) keeping a local time clock if possible and following best practices to stop time server attacks and b) refusing to sign, by default, any message that has a large (>6h) gap from the current

[2020-11-04 19:41] 3xtr4t3rr3str14l commented on #1732
@SeaMonkey82 , i'm closing this issue since we are already tracking it in #1725 (with an upcoming fix in #1729 )

[2020-11-04 19:41] #1732 closed, assigned to nobody

[2020-11-05 02:36] twoeths opened #1734 "Regular Sync keeps using a bad peer"
**Describe the bug**
I keep seeing this same log from the same peer
[code]

**Expected behavior**
+ PeerScore system should update score when it see error like that
+ Regular Sync should pick other best peer

All code seems to be logical, need to add more log to figure out.

[2020-11-05 09:42] dapplion commented on #1506
@tuyennhv Do you think this issue is still relevant?

[2020-11-05 09:52] twoeths commented on #1727
other clients avoid this issue by making sure imported chain segment is linear (all blocks should have known parent and child), we need to do that too.

[2020-11-05 10:21] twoeths commented on #1734
so everything works according to what was designed. `beacon_blocks_by_range` timeout happens after 4-5 minutes, during that time, there are some `beacon_blocks_by_root` responses and we add 5 score each and that make peer eligible for the next round. Most of the time it switches best peer successfully.

Probably we should add score based on number of blocks returned too. Right now each `beacon_blo

[2020-11-05 10:22] mpetrunic commented on #1734
yeah, feel free to tweak scoring and test out how it works.

[2020-11-05 10:28] twoeths commented on #1506
I think it's not. We have new Regular Sync and a stable Initial Sync.

[2020-11-05 10:28] #1506 closed, assigned to nobody

[2020-11-06 12:10] mpetrunic commented on #1457
closed via #1702

[2020-11-06 12:10] #1457 closed, assigned to wemeetagain

[2020-11-08 07:07] twoeths opened #1738 "OOM due to ArchiveBlocks having to process too many blocks"
**Describe the bug**
I increased heap memory to 3GB and was able to reach the finalized state after long infinality period, however it crashed due to ArchiveBlocks task:
[code]
We should be able to separate the job into smaller batches/chunks instead of loading 77614 blocks from db and process all of them at the same time.
**Expected behavior**
We run ArchiveBlocks task successfully

**Steps to Re

[2020-11-08 08:55] mpetrunic commented on #1468
Should we maybe break this down into issue for each endpoint adding constraints it should check?

[2020-11-09 15:55] #1730 closed, assigned to 3xtr4t3rr3str14l

[2020-11-09 17:55] #1725 closed, assigned to 3xtr4t3rr3str14l

[2020-11-09 17:56] #1471 closed, assigned to dapplion

[2020-11-09 19:49] 3xtr4t3rr3str14l opened #1741 "rename Libp2pNetwork.metadata -> metadataController or similar"
Can we rename metadata in Libp2pNetwork (https://github.com/ChainSafe/lodestar/blob/00c828fb55a9a0a5916a7b50cac5a03baeea75df/packages/lodestar/src/network/network.ts#L41) to metadataController or something like that so we don't have to do metadata.metadata?

- e.g. in onMetadata (this.network.metadata.metadata) (https://github.com/ChainSafe/lodestar/blob/00c828fb55a9a0a5916a7b50cac5a03baeea75df/pa

[2020-11-09 21:13] 3xtr4t3rr3str14l commented on #1711
on second thought, it's probably not bad to have the stack trace.  closing this

[2020-11-09 21:13] #1711 closed, assigned to nobody

[2020-11-09 21:16] 3xtr4t3rr3str14l commented on #1515
probably too vague to do anything with, i think.  closing

[2020-11-09 21:16] #1515 closed, assigned to nobody

[2020-11-09 21:23] 3xtr4t3rr3str14l commented on #1293
@mpetrunic is this something you have been working on and/or have already finished?

[2020-11-10 08:03] mpetrunic commented on #1293
Not actively, but my api PRs includes those changes, there is probably some places where it's still present in beacon api.

[2020-11-10 08:38] mpetrunic opened #1745 "Type error on master"
**Describe the bug**

There is type error present in code on master.

**Expected behavior**

No type errors.

**Steps to Reproduce**

`lerna run check-types`

**Screenshots**

[code]

**Desktop (please complete the following information):**
 - OS:
 - Version:
 - Branch:
 - Commit hash:

cc @tuyennhv  seems like it's related to new regular sync

[2020-11-10 10:21] dapplion commented on #1745
How can a Typescript compilation error make it to master?

[2020-11-10 11:40] mpetrunic commented on #1745
Because `yarn run check-type` was removed from CI. Not sure why

[2020-11-10 13:02] twoeths opened #1747 "Libp2p error after we migrate to 0.29.2"
**Describe the bug**
I see some libp2p errors after we migrate libp2p to 0.29.2 and refactor code, still can sync normally but not sure if that's the reason we lose some peers
[code]
[code]
**Expected behavior**
No libp2p error

**Steps to Reproduce**
Sync medalla

[2020-11-10 13:53] dapplion commented on #1745
Why isn't checking the types part of the compilation / build process?

[2020-11-10 13:54] mpetrunic commented on #1745
no idea

[2020-11-10 21:48] 3xtr4t3rr3str14l opened #1748 "discussion: overwrite enr options when enr option does not exist on init"
i noticed that if i try to do `./bin/lodestar init --enr.ip 9.9.9.9` and i check the enr at enr-viewer.com, it does not show the ip.  should we allow the user to be able to make new enr entries via the enr options overwrites whenever those entries aren't already in the enr?  seems like it could be useful, but i'm also not sure what the original rationale was for not allowing this, so i'm open to h

[2020-11-10 22:07] 3xtr4t3rr3str14l commented on #1748
oh wait, nevermind, this does work when you pass it into `beacon` instead of `init`.  is this something we should also allow in `init`?  currently, if you do `./bin/lodestar init --help` the enr overwrites show up as cli options.  either we should remove these enr overwrites for init or add support for them, i suppose.

[2020-11-10 22:12] 3xtr4t3rr3str14l commented on #1748
this might also be part of a larger discussion about whether or not we want to allow the user to overwrite an *existing* beacon config (i.e. one that has already been initialized).  when i pass any other cli option to `init` when we already have an existing testnet folder and beacon config, it doesn't overwrite the entry.  maybe this is something we need to talk about supporting in general?  they

[2020-11-10 23:43] twoeths commented on #1738
even after I process blocks in chunks and put finalized checkpoint process in queue, I still see we have a lot of canonical blocks in forkchoice
[code]

[2020-11-10 23:45] twoeths commented on #1738
<img width="1318" alt="Screen Shot 2020-11-11 at 06 34 20" src="https://user-images.githubusercontent.com/10568965/98747037-482a0e80-23e9-11eb-9631-fde393c2c998.png">

also we have to improve `deleteNonCanonicalBlocks` with the below for loop, that's why I lost all of my last peers after all
[code]

it takes more than 30 minutes for this function
[code]

[2020-11-10 23:53] 3xtr4t3rr3str14l opened #1750 "some goodbye reasons misprinting reason contents"
**Describe the bug**

I have seen some messages like this when running the beacon node:
```2020-11-10 17:20:20 [SYNC]             info: Received goodbye request from 16Uiu2HAmMUNbsTEnkSGWAmfw9YEr8BeuBgTJ5mfyZ35WgpRyo9n6, reason=[object Object]```

**Expected behavior**

1) the reason should be printed in full instead of showing as `[object Object]`

[2020-11-11 21:52] dapplion commented on #1748
Those are good points, but makes me think: is the init command necessary? Do other clients have a similar command?

[2020-11-12 21:49] 3xtr4t3rr3str14l commented on #1748
fwiw, it doesn't look like lighthouse does it (source: https://lighthouse-book.sigmaprime.io/testnet-validator.html#step-5-start-lighthouse)
Maybe it's good to keep `init` just if someone wants to have a fresh environment set up that they then want to configure themselves before actually running `beacon`.  If we were to do away with `init`, then useres would have to run the beacon node first if th

[2020-11-12 23:13] 3xtr4t3rr3str14l opened #1754 "ERR_UNKNOWN_PARENT not logging human-readable format"
**Describe the bug**

i saw this log in both sync and gossip validation:
```2020-11-10 20:46:20 [NETWORK]          warn: Ignoring gossip block code=ERR_PARENT_UNKNOWN, parentRoot={"0":22,"1":178,"2":226,"3":54,"4":42,"5":160,"6":222,"7":100,"8":237,"9":34,"10":246,"11":200,"12":125,"13":159,"14":131,"15":135,"16":97,"17":156,"18":224,"19":189,"20":212,"21":248,"22":26,"23":96,"24":225,"25":13,"26"

[2020-11-13 02:00] #1337 closed, assigned to nobody

[2020-11-14 22:28] dapplion opened #1760 "Update caniuse-lite"
This log appears for all packages when building
[code]
is it possible to fix it or silence it somehow?

[2020-11-16 12:36] twoeths opened #1761 "Improve validator exit process"
**Describe the bug**
It takes so much time to process blocks with validator exits, we need to improve it

<img width="751" alt="Screen Shot 2020-11-16 at 19 35 02" src="https://user-images.githubusercontent.com/10568965/99253256-02cf6c00-2843-11eb-8115-dd6989a1f203.png">

it showed that processing this method may take up to 6s

[2020-11-16 12:38] twoeths commented on #1761
<img width="785" alt="Screen Shot 2020-11-16 at 19 37 24" src="https://user-images.githubusercontent.com/10568965/99253372-34e0ce00-2843-11eb-99f4-70303695c4df.png">

[2020-11-16 13:05] twoeths commented on #1738
with the improvement of blockArchive and forkchoice, the time to archive blocks for the big unfinality time of Medalla was reduced to less than 3 minutes:
[code]

[2020-11-17 20:19] #1057 closed, assigned to mpetrunic

[2020-11-17 20:21] dapplion commented on #1761
Right I saw that readOnlyMap over the entire validator set when studying the spec code. Is this how other clients do it?

[2020-11-17 20:21] #1708 closed, assigned to 3xtr4t3rr3str14l

[2020-11-17 20:29] 3xtr4t3rr3str14l commented on #1468
@mpetrunic i think that's a good idea.  just FYI, i already added some validation for the blocks and attestations part of the api so far in #1709

[2020-11-17 20:50] 3xtr4t3rr3str14l commented on #1529
yeah these logs are a little bit out of context and too long ago for me to remember much about it.  closing

[2020-11-17 20:50] #1529 closed, assigned to nobody

[2020-11-17 20:55] 3xtr4t3rr3str14l commented on #1469
@wemeetagain @dapplion is this something that has been spec'd out any further since this issue was created?

[2020-11-17 21:03] 3xtr4t3rr3str14l commented on #1462
Looks like we probably we won't be able to do this in full until we figure out what to do about lodestar-beacon-state-transition (do we put the fast state transition in its own package?  remove the old version from `util/` and just use that, etc, as tracked in #1624).  Right now, we are doing things such as `import {computeSubnetForAttestation} from "@chainsafe/lodestar-beacon-state-transition/lib

[2020-11-17 23:05] twoeths commented on #1761
`readOnlyMap` is just the map for our TreeBacked structure, but it's more expensive due to the way we access leaf nodes in Tree.
Other clients should loop through validator array in state too. I think the way to improve is just to loop only 1 time for all validator exits included in a block.

[2020-11-18 08:28] dapplion commented on #1468
@mpetrunic Would it make sense to ask a checklist of validations to use somewhere (this issue for a lack of a better place) of others to take on the task?

[2020-11-18 08:40] dapplion commented on #1469
No but it should be done if it's not too time-consuming

[2020-11-18 08:42] dapplion commented on #1462
@3xtr4t3rr3str14l If you want you can finish this open PR https://github.com/ChainSafe/lodestar/pull/1721
It just needs work to fix the tests and should be good to go

[2020-11-18 14:25] mpetrunic commented on #1468
Sorry, not sure I understand your question?

[2020-11-19 12:57] mpetrunic commented on #1741
you could change metadata getter to be just "get" or "all" instead of "metadata"

[2020-11-19 12:59] #1567 closed, assigned to nobody

[2020-11-19 21:15] #1750 closed, assigned to 3xtr4t3rr3str14l

[2020-11-19 23:39] twoeths commented on #1715
Haven't seen the OOM recently (after I get through the unfinality period and stay synced) if I do `node --max-old-space-size=3072`.

[2020-11-19 23:39] #1715 closed, assigned to twoeths

[2020-11-19 23:42] twoeths commented on #1690
libp2p was upgraded, will reopen if I see it again

[2020-11-19 23:42] #1690 closed, assigned to nobody

[2020-11-19 23:43] #1657 closed, assigned to twoeths

[2020-11-19 23:56] twoeths opened #1770 "Partition long running operations"
**Describe the bug**
Except for signature verification, the only long running operation I found is `processEpoch`. It can be up to 4s-5s, exceptional ones can be up to 10s. The consequence of this is:
+ Some status requests/responses are timed out at the same time
+ Beacon_block_by_root, Beacon_block_by_range are timed out at the same time which cause peer score reduced
+ Cannot finish handshake p

[2020-11-20 14:31] #1615 closed, assigned to mpetrunic

[2020-11-20 15:27] #1760 closed, assigned to nobody

[2020-11-20 15:32] wemeetagain opened #1771 "Integrate BLST"
Following the work in https://github.com/chainsafe/blst-ts and https://github.com/chainsafe/bls integrate into lodestar

[2020-11-20 15:38] wemeetagain opened #1772 "Add block range API to chain"
Allow the chain to accept and process a range of blocks at once

Eventually we'll integrate #1473

[2020-11-20 15:49] wemeetagain opened #1773 "Enforce Conventional Commits"
There are some possible benefits to using/enforcing conventional commits. Pls discuss

Github action to enforce?

[2020-11-20 15:54] wemeetagain opened #1774 "Code Whitespace"
Whitespace can be helpful for reading complex code. Please add some.

[2020-11-20 15:57] wemeetagain opened #1775 "Code Explanation"
- Explaining non-obvious design decisions in top-level comments
- Guiding thru the overall structure/architecture
- Adding typedocs to every public interface/constant/class/etc

Current Progress (checked indicates that documentation/comment polishing for that package has been merged into master):

- [x] benchmark-utils
- [x] lodestar
- [x] lodestar-beacon-state-transition
- [x] lodestar-cli
- [x]

[2020-11-20 16:03] wemeetagain opened #1776 "Run validator in testnet"
ensure that our validator + beacon node consistently has included attestations and proposed blocks (pyrmont or later testnet)

[2020-11-20 16:04] dapplion opened #1777 "Add Pyrmont flag + config"
Same as for other testnets such as medalla

[2020-11-20 16:23] #1294 closed, assigned to 3xtr4t3rr3str14l

[2020-11-20 22:50] twoeths opened #1779 "Failed unit test in CI"
**Describe the bug**
Sometimes this happens in CI:
[code]
**Expected behavior**
Unit tests always pass.

[2020-11-20 22:55] 3xtr4t3rr3str14l commented on #1779
I think I saw this error locally yesterday too.  Forgot to make an issue for it.  Thanks for doing that!

[2020-11-21 03:37] #1727 closed, assigned to twoeths

[2020-11-21 09:54] #1558 closed, assigned to nobody

[2020-11-21 09:55] dapplion commented on #1779
We should improve assertions to not get `AssertionError: expected undefined not to be undefined`

[2020-11-21 13:41] #1513 closed, assigned to nobody

[2020-11-21 20:35] dapplion opened #1784 "Bump Typescript to 4.1"
Should we?

----

There are some type issues to fix in some packages after quickly checking

[2020-11-22 01:40] twoeths opened #1785 "Initial sync getting stuck at orphaned block"
**Describe the bug**
Node keeps trying the same range:

[code]

Note that last slot is 606920 and it's an orphaned block.

**Expected behavior**
Chain should ignore orphaned block

**Steps to Reproduce**
Sync Medalla

Need to have the same check like in https://github.com/ChainSafe/lodestar/pull/1736

[2020-11-22 01:41] twoeths commented on #1785
Blocked by #1736

[2020-11-22 01:46] twoeths commented on #1785
on another thought, initial already check linear chain so we just need to ignore the last block to make sure not to import orphaned block

[2020-11-22 23:46] twoeths commented on #1785
we still get timeout and it caused initial sync stall in my test. This is the last log I got
[code]

[2020-11-23 01:04] twoeths commented on #1785
also we have to increase `minPeers` to get correct common finalized epoch to determine if we bypass Initial Sync or not, currently I got to Regular Sync directly although I started from finalzied epoch 15614

[2020-11-23 10:22] mpetrunic opened #1787 "Use tar archive instead of npm for spec tests"
Problem:
We used npm to distribute spec tests, but spec tests reached size limit of npm registry.

Solution:
Extend lodestar-spec-test-util to download spec tests archive from https://github.com/ethereum/eth2.0-spec-tests/releases/download/v1.0.0/general.tar.gz and resolve file path relative to extracted spec tests.

Method that should be extended:
https://github.com/ChainSafe/lodestar/blob/master

[2020-11-23 19:53] 3xtr4t3rr3str14l commented on #1727
just curious, how do we get orphaned blocks in the first place?

[2020-11-23 22:42] #1738 closed, assigned to twoeths

[2020-11-23 23:25] 3xtr4t3rr3str14l commented on #1775
I'm starting this off by making sure we have our comments covered in `lodestar-cli`.  I'm thinking it's probably a good idea to break this up into chunks so we don't have a massive diff, if we end up needing a lot of more comments, so I will probably make a PR just for the lodestar-cli comment updates.

[2020-11-23 23:32] twoeths commented on #1785
an orphaned block may be in the middle too, I'll need to address it

[code]

in this case 740805 is an orphaned block, we should not import it

[2020-11-24 09:59] twoeths opened #1789 "POC: Create a StateTransitionBeaconState"
**Is your feature request related to a problem? Please describe.**
Right now an epoch processing take at least 2 validators loop, note that each validator loop is very expensive with TreeBacked data structure.

I used to see some epoch state transition take more than 5s, some are up to 10s because we loop through validators multiple times (to prepare epoch, to rotate epoch, to slash validators, to

[2020-11-24 22:35] 3xtr4t3rr3str14l opened #1792 "deploy docs failing on master build"
as seen here:
https://github.com/ChainSafe/lodestar/runs/1444812801#step:6:163

[2020-11-26 18:40] dapplion opened #1797 "Implement upnp for port forwarding"
https://www.npmjs.com/package/nat-api

Suggested by @mpetrunic in lodestar's Discord

[2020-11-28 12:46] dapplion opened #1798 "Review BLS checks strategy"
Curate the strategy to check pubkeys and sigs for infinity and subgroup. Checks should be done always that is necessary but no more, since they are expensive.

- Prysm https://github.com/prysmaticlabs/prysm/pull/7971
- Lighthouse https://github.com/sigp/lighthouse/pull/1979/files

### Rough summary

From my understanding of those PRs

- Public keys are already valid due to PoP, no subgroup nor inf

[2020-11-28 17:10] mpetrunic commented on #1607
unstale

[2020-11-29 13:07] dapplion commented on #1607
@mpetrunic Can you spec this issue a bit please?

[2020-11-29 13:08] mpetrunic commented on #1607
Hmm, just add another source test file that executes tests in rewards directory of spec tests?!

[2020-11-29 13:08] dapplion commented on #1570
@mpetrunic @wemeetagain Is this actionable? If so could you spec what has to be changed?

[2020-11-29 13:12] dapplion commented on #1249
Could all mantainers of Lodestar agree or disagree to
- consistently follow this proposal
- not follow this proposal

Otherwise, we would continue our current state of different log styles all over the place

[2020-11-29 16:52] #1754 closed, assigned to 3xtr4t3rr3str14l

[2020-11-29 17:08] #1792 closed, assigned to 3xtr4t3rr3str14l

[2020-11-29 17:09] #1745 closed, assigned to nobody

[2020-11-29 17:59] #1787 closed, assigned to dapplion

[2020-11-30 04:01] #1785 closed, assigned to nobody

[2020-11-30 21:04] 3xtr4t3rr3str14l commented on #1777
resolved via #1790

[2020-11-30 21:04] #1777 closed, assigned to nobody

[2020-11-30 23:52] 3xtr4t3rr3str14l opened #1808 "Separate mainnet cli flag from testnet cli flag?"
Currently, (as per #1806 ), we do `--testnet mainnet` to run lodestar on mainnet.  I did this for convenience so i didn't have to restructure the current --testnet logic.  Said current current logic (i.e. much of the architecture of `lodestar-cli`) is centered around the assumption that we have a `--testnet` flag passed in order to bootstrap us to a valid eth2 environment.

This issue proposes to

[2020-12-01 01:34] dapplion commented on #1808
What are other clients doing?

[2020-12-01 08:36] dapplion opened #1810 "lodestar-spec-test-util happily skips missing tests"
Here as an example, spec tests pass with

[code]

https://github.com/ChainSafe/bls/pull/56/checks?check_run_id=1478816690#step:9:11

If I debug that run, actually an error gets thrown in the spec tests util
[code]
The directory is not there because I haven't downloaded the tests yet. But this CI should be a failure not a success.

However, that error is swallowed by Mocha and nothing happens.  Any

[2020-12-01 15:37] ColinSchwarz opened #1811 "Success parameters for stable Lodestar client"
Stable beacon node
- [x] Lodestar can run on **Mainnet** for 7 days without crashing
- [x] Lodestar can run on **Pyrmont** for 7 days without crashing
- [x] Lodestar can perform 2 consecutive syncs on **Pyrmont** without crashing or stalling

Stable validating beacon node
- [ ] Lodestar validator can run for at least 7 days with near 100% inclusion
- [ ] All Lodestar validator blocks that are prop

[2020-12-01 16:02] dapplion opened #1812 "Consider using standard commits for PR titles"
- We want the release changelog to be auto-generated
- Following standard commits is too annoying

What if we use standard commits syntax but for PR titles. It's a smaller burden and allows editing until it's merged. For example Prysm release changelogs are based on PRs and look very clean and compact https://github.com/prysmaticlabs/prysm/releases/tag/v1.0.0

- Research tooling to automate change

[2020-12-01 20:47] 3xtr4t3rr3str14l commented on #1775
I'm moving on to continue this process for the `lodestar-validator` package

[2020-12-01 20:53] 3xtr4t3rr3str14l commented on #1775
I just added the list of checkmarks above in @wemeetagain 's original comment.  I figured it might less less unwieldy than having an issue for every package.  If enough people disagree, I'll make issues for each package, but for now, if anyone starts working on this effort for a particular package, just say so.  That way we don't accidentally step on each others toes :)

[2020-12-03 07:54] #1653 closed, assigned to nobody

[2020-12-03 08:59] mpetrunic opened #1818 "lodestar-validator missing @chainsafe/lodestar-db dependency"
**Describe the bug**

Missing @chainsafe/lodestar-db dependency dependency in package.json

**Expected behavior**

For dependency to list and auto install.
We had eslint rule that was checking those things. Seems like it stopped working.

**Steps to Reproduce**

**Screenshots**

**Desktop (please complete the following information):**
 - OS:
 - Version:
 - Branch:
 - Commit hash:

[2020-12-03 09:49] mpetrunic opened #1819 "Reduce IDatabaseController interface in @chainsafe/lodestar-validator"
**Is your feature request related to a problem? Please describe.**

Currently lodestar-validator requires full IDatabaseController interface from lodestar-db even though it's using small set
of methods from that interface which requires lodestar-validator users to implement all methods.

**Describe the solution you'd like**

lodestar-validator should require subset interface. Example: `export type

[2020-12-04 00:44] 3xtr4t3rr3str14l commented on #1818
so, i tried modifying the existing entry we have for `import/no-extraneous-dependencies` eslintrc.js in the monorepo root with the following:
[code]

as well as commenting out this line (in order to turn the rule back on):
https://github.com/ChainSafe/lodestar/blob/5162c9136854c8c0b3816bb7622468ee0f3cc61b/.eslintrc.js#L93

The above won't throw a linting error when `@chainsafe/lodestar-db` is miss

[2020-12-04 10:26] twoeths commented on #1811
I'd like to see Lodestar to be that stable for Pyrmont too since the number of validators there is much higher than in mainnet. As  number of validators in mainnet keeps increasing, I think we should be prepared for that.

[2020-12-04 11:21] mpetrunic commented on #1818
That plugin worked for that before.

`devDependencies: true` should only be set in test files.

I bet it's error with packageDir, potential solution:
https://github.com/benmosher/eslint-plugin-import/issues/1174#issuecomment-509965883

[2020-12-04 14:56] #1607 closed, assigned to twoeths

[2020-12-04 16:00] wemeetagain opened #1824 "Track all heads in fork choice"
**Is your feature request related to a problem? Please describe.**
We'd like to implement the debug API endpoints, there is a 'get chain heads' method

**Describe the solution you'd like**
The fork choice should have a method to get the leaves (otherwise known as "heads")

**Additional context**
https://ethereum.github.io/eth2.0-APIs/#/Debug/getDebugChainHeads

[2020-12-04 21:49] dapplion opened #1828 "Ignore CodeClimate output"
Is it possible to still run CodeClimate and get the output added to the PR but not count towards the overall PR OK or NOTOK?

[2020-12-04 21:50] wemeetagain commented on #1828
its marked as "not required", so an :x: vs :heavy_check_mark:  shouldn't count towards mergeability.

[2020-12-04 22:19] mpetrunic commented on #1828
https://docs.codeclimate.com/docs/github-pull-requests#section-pull-request-review-comments

So we could remove it from ci and just have report as pr comment^^

[2020-12-05 12:14] dapplion commented on #1828
Oh!! That's exactly what we need

[2020-12-06 10:56] dapplion opened #1829 "Add tools to improve docs checking"
Add CI tools to improve doc checking. See https://www.writethedocs.org/guide/tools/testing/

Implementation example https://github.com/ConsenSys/doc.teku/blob/master/.circleci/config.yml

[2020-12-06 11:47] dapplion opened #1830 "strictNullChecks in chainsafe libs"
Opening this issue here for a lack of a better place:

- Make sure `strictNullChecks: true` in all chainsafe JS libraries at least the ones related to Lodestar.

[2020-12-06 17:19] dapplion commented on #1828
@wemeetagain Can you set this up since you have permissions?

[2020-12-06 17:21] dapplion commented on #307
Since we are not pursuing a slasher can we close this?

[2020-12-06 17:30] dapplion opened #1836 "Annoying getEpochBeaconCommittees test"
There's one test that randomly fails 25% of the times it's run in CI. The maintainer of the test code could take a look and fix it if possible?

[code]
From CI run https://github.com/ChainSafe/lodestar/runs/1506945865?check_suite_focus=true#step:9:1137

[2020-12-06 21:09] dapplion commented on #467
I've been working on this issue today and there are a lot of errors and very serious on the SSZ side. We must incorporate these tests in the ssz repo and fix the issues asap.
- Numbers being deserialized to `Infinity`
- Strange rounding errors, `13097433917148758497` being deserialized to `13097433917148758000`
- Wrong hash tree roots

Branch WIP https://github.com/ChainSafe/lodestar/compare/dappl

[2020-12-06 21:27] dapplion commented on #1158
ALL_FORKS is used in `processForkChanged()` in the beacon state transition function. What should happen with that function upon removing `ALL_FORKS`?

[2020-12-06 21:28] dapplion commented on #1217
@tuyennhv Would you mind assessing the viability of this now that we have BLST?

[2020-12-06 21:29] dapplion commented on #1485
Current version has strict options enabled

[2020-12-06 21:29] #1485 closed, assigned to dapplion

[2020-12-06 21:30] dapplion commented on #1227
@3xtr4t3rr3str14l Is the code ready now to remove those ts-ignores?

[2020-12-06 21:31] dapplion commented on #1232
@wemeetagain If we implement this should there be any migration? How would it deal with existing DBs?

[2020-12-07 03:01] twoeths commented on #1217
I have some statistics when I sync mainnet until block 28000:
+ lighthouse takes less than 10 minutes with signature verification
+ lodestar takes almost 1h without signature verification (due to the single thread nature)

so I think we have to wait for #1771  first where we send a block range to do state transition and verify multiple signatures at the same time. We'll see which signatures we wan

[2020-12-07 07:35] twoeths opened #1838 "Block Delay at epoch transition slot"
**Describe the bug**
Following up the conversation in https://discord.com/channels/595666850260713488/598292067260825641/785242071857627147

when producing a block for `slot % 32 === 0`, we process epoch 2 times

**Expected behavior**
when producing a block, we want to process epoch at most 1 time

[2020-12-07 08:02] twoeths commented on #1498
closing this as the issue was resolved in the above 2 PRs and haven't seen it again since then

[2020-12-07 08:02] #1498 closed, assigned to twoeths

[2020-12-07 09:10] dapplion commented on #1217
With batch signature verification we can achieve 50% savings in the best case scenario so it won't help much if are still an order of magnitude away.

[2020-12-07 09:17] dapplion commented on #1217
Would be very valuable to know how much time is currently spent doing signature verification. Then we know if we have to focus on optimizing the state transition function itself or signature verification

[2020-12-07 09:31] twoeths commented on #1217
as I said above, for initial sync we don't do any signature verification for now so if we do, the time to sync is much bigger.

if we plan on having signature verification for initial sync, we need to work on #1771 first before we bench mark.

[2020-12-07 09:57] dapplion commented on #1771
BLST already integrated in current master :tada:

https://github.com/ChainSafe/lodestar/blob/4ca5a760c928c1257172bb4bf1033de2f60e6f3d/packages/lodestar-cli/src/util/bls.ts#L3-L10

[2020-12-07 09:58] #1771 closed, assigned to nobody

[2020-12-07 09:58] dapplion commented on #1217
Sorry just closed the issue, BLST is already integrated in current master

[2020-12-07 10:01] dapplion commented on #1472
@tuyennhv  Could you link those branches here to track them?

[2020-12-07 10:02] dapplion commented on #1469
@wemeetagain Should we close this?

[2020-12-07 10:10] twoeths commented on #1771
oh I thought we want to process a chain segment (check linear chain first) in this issue. Something like:
+ do not change `lodestar-beacon-state-transition`
+ lodestar side: new `runMultipleStateTransition(..., jobs: IBlockJob[])`. Consumers would be initial sync and regular sync.
+ Accumulate signatures and use `bls.verifyMultiple()` to verify signatures beforehand
+ Run `fastStateTransition()` d

[2020-12-07 10:17] twoeths commented on #1472
They stay in https://github.com/txrx-research/eth2.0-spec-tests/tree/fork_choice_integration_tests_v012_2/tests/minimal/phase0/fork_choice/integration_tests and https://github.com/txrx-research/eth2.0-spec-tests/tree/fork_choice_integration_tests_v012_2_optional_checks/tests/minimal/phase0/fork_choice/integration_tests

I'm not sure the difference between them.

[2020-12-07 10:23] dapplion commented on #1472
Thanks! Are other clients using this tests?

[2020-12-07 10:25] twoeths commented on #1472
I'm not sure but guess they not yet to do since it hasn't become official yet

[2020-12-07 10:27] dapplion commented on #1771
Yes this will be implemented soon. The tracking issue is https://github.com/ChainSafe/lodestar/issues/1473 and this PR is the first step for that https://github.com/ChainSafe/lodestar/pull/1821

In terms of speeding up signature verification, it has 3 steps
- Change herumi for BLST, x10 speed increase :heavy_check_mark:
- Use batch verification x2 speed increase :hourglass:
- Multi-thread x2-x8 sp

[2020-12-07 10:29] dapplion commented on #1217
@tuyennhv As I summarized in https://github.com/ChainSafe/lodestar/issues/1771
In terms of speeding up signature verification, it has 3 steps
- Change herumi for BLST, x10 speed increase :heavy_check_mark:
- Use batch verification x2 speed increase :hourglass:
- Multi-thread x2-x8 speed increase :question:

So the most impactful speed increase is already delivered. That's why I think it's a good t

[2020-12-07 10:34] dapplion commented on #1836
Happened again https://github.com/ChainSafe/lodestar/pull/1831/checks?check_run_id=1509828878#step:9:1137

[2020-12-07 10:35] twoeths commented on #1217
thanks for the clarification @dapplion , we haven't applied signature verification for initial sync yet so there's no difference when BLST is in.

[2020-12-07 17:00] #1249 closed, assigned to nobody

[2020-12-07 17:05] mpetrunic opened #1840 "Implement light client patch"
Implement https://github.com/ethereum/eth2.0-specs/pull/2130 and give back feedback.

[2020-12-07 17:54] #1836 closed, assigned to mpetrunic

[2020-12-07 18:24] GregTheGreek commented on #1726
@dankrad Thank you!

We're on it, will keep this issue up to date

[2020-12-07 19:21] 3xtr4t3rr3str14l commented on #1227
yes,

yes, i believe so.  discv5 was upgraded to 0.5.0 in mid-November with the changes from https://github.com/ChainSafe/discv5/pull/104

[2020-12-07 19:23] 3xtr4t3rr3str14l commented on #1227
i'm on it

[2020-12-07 19:35] 3xtr4t3rr3str14l commented on #1775
i'm starting on `lodestar-beacon-state-transition` next

[2020-12-07 20:54] #1227 closed, assigned to 3xtr4t3rr3str14l

[2020-12-08 11:00] twoeths commented on #1217
The below statistic is from Pyrmont syncs till slot 5000 in my local environment and latest master `83c2949`

| Desc | # | Duration | Max Block Transition Time |
| - | - | - | - |
| No signature verification | 1 | 30 minutes | 9418ms at slot: 2368 |
| No signature verification | 2 | 24 minutes | 4767ms at slot: 3584 |
| Block signature verification | 1 | 22 minutes | 4693ms at slot: 2624 |
| Block

[2020-12-08 21:36] dapplion commented on #1217
@tuyennhv Thanks for benchmarking this! @wemeetagain Do you think it would be valuable to profile a couple of blocks and check what's the actual time spent in BLS signature verification on a small sample?

[2020-12-08 21:39] wemeetagain commented on #1217
Yes, I think that would be good to more deeply understand these results.

I personally don't understand how "block signature verification" could possibly be faster than "no block signature verification".

[2020-12-08 22:26] 3xtr4t3rr3str14l commented on #1775
moving on to `lodestar-fork-choice` next

EDIT: `lodestar-fork-choice` is already pretty well-documented/commented, but I'll probably add some high-level things to the README

[2020-12-08 22:58] wemeetagain commented on #1232
IMO we shouldn't provide tooling (code) for this but rather add a migration guide markdown document that includes directions like:
[code]

[2020-12-08 23:03] wemeetagain commented on #1828
Ok, I believe it's updated properly, will wait until confirmation before closing out the issue

[2020-12-09 01:13] #1838 closed, assigned to twoeths

[2020-12-09 10:40] twoeths opened #1856 "Implement debug api to download state"
https://ethereum.github.io/eth2.0-APIs/#/Debug/getState

this could be used to
+ debug any issues we have
+ or to download weak subjectivity checkpoint state

[2020-12-09 10:41] mpetrunic commented on #1856
I think we should also implement https://github.com/ethereum/eth2.0-APIs/pull/119
as it makes it more convenient to download state to file

[2020-12-09 15:50] #1824 closed, assigned to twoeths

[2020-12-10 02:10] twoeths opened #1859 "Cannot get signature set at epoch transition"
**Describe the bug**
If I enable signature verification for initial sync, the sync gets stuck at slot 32, seems like the checkpoint epoch context is not correct to get proposer index, and we should rotate epoch.

But an additional epoch rotate is not a cheap at all as it loops through state validators (500ms to 600ms as far as I know for Pyrmont), we need to benchmark verifying signature signature

[2020-12-10 03:31] twoeths opened #1860 "Use TreeBacked<SignedBeaconBlock> to reduce sync time"
Currently we use `TreeBacked<SignedBeaconBlock>` before we process a block.
But sync services also calculate roots before that time to check linear chain.
We should be able to build `TreeBacked<SignedBeaconBlock>` at network layer to reduce sync time, need to do that and benchmark.

[2020-12-10 17:28] wemeetagain commented on #1811
an anecdotal datapoint:
I've been running a Pyrmont node for 9 days with no issues.
Also been running a mainnet node for 9 days with no issues.

[2020-12-10 19:14] dapplion commented on #1499
Is this fixed already?

[2020-12-10 19:14] dapplion commented on #1574
@wemeetagain Has this been fixed upstream already?

[2020-12-10 19:16] dapplion commented on #1329
Is this an optimization worth pursuing or too niche?

[2020-12-10 19:55] wemeetagain commented on #1574
:+1: resolved in #1778

[2020-12-10 19:55] #1574 closed, assigned to dapplion

[2020-12-10 20:48] 3xtr4t3rr3str14l commented on #1828
are we good here to close this out?

[2020-12-10 20:56] 3xtr4t3rr3str14l commented on #1695
@wemeetagain  can this issue be closed?

[2020-12-10 20:56] wemeetagain commented on #1828
:+1:

[2020-12-10 20:56] #1828 closed, assigned to wemeetagain

[2020-12-10 20:58] 3xtr4t3rr3str14l commented on #1625
so i guess we're not going to do this anymore?  should this issue be closed?

[2020-12-10 21:01] 3xtr4t3rr3str14l commented on #1466
it's been a long time since i've ran `wtf-node` on the codebase, but i guess this isn't an issue anymore since we aren't using `yarn` to run the beacon node anymore?

[2020-12-10 21:04] 3xtr4t3rr3str14l commented on #1509
haven't been seeing this happen for some months now.  closing

[2020-12-10 21:04] #1509 closed, assigned to twoeths

[2020-12-10 21:05] 3xtr4t3rr3str14l commented on #1508
haven't been seeing this issue anymore.  closing

[2020-12-10 21:05] #1508 closed, assigned to twoeths

[2020-12-10 21:52] wemeetagain commented on #1466
We rearranged how the node is started/stopped. No longer a problem, we have a clean stop.

[2020-12-10 21:52] #1466 closed, assigned to 3xtr4t3rr3str14l

[2020-12-11 06:46] twoeths opened #1872 "Avoid going through regen module whenever possible"
This comes from #1723 , for some flows we can get states immediately instead of having to go through regen module and stay in queue to wait.
+ first candidate is to modify `getHeadStateContext()` to get head state right from our state cache
+ look for similar scenarios and make the improvement

[2020-12-11 08:05] mpetrunic commented on #1499
No idea. I don't think we abort block fetching from peers.

[2020-12-12 20:14] dapplion opened #1874 "Rename 'this' to chain in eventHandlers"
Here
https://github.com/ChainSafe/lodestar/blob/b787fe3cbcb670f1e0d52140540cc33a045313dc/packages/lodestar/src/chain/eventHandlers.ts#L57
`this` is used as a variable name which at least to me appears confusing. Could it be renamed to `chain`? Opening an issue first to know your opinion

[2020-12-12 20:55] dapplion opened #1875 "Network questions"
I'm reading the lodestar network code and I have some questions that may be easier to answer with code blocks here in Github.

**eth2RequestEncode serialize error**

`eth2RequestEncode()` is used exclusively here
https://github.com/ChainSafe/lodestar/blob/b787fe3cbcb670f1e0d52140540cc33a045313dc/packages/lodestar/src/network/reqresp/reqUtils.ts#L76
Where the source will have always 1 request max.

[2020-12-12 22:11] #1859 closed, assigned to twoeths

[2020-12-12 22:14] mpetrunic commented on #1874
It's not variable/param, it's keyword. It type hints that `this` context is of type BeaconChain. That typescript syntax is used on methods expected to be used as `handleChainEvents.bind(chain)`.

Tldr cannot be renamed.

[2020-12-12 22:14] #1874 closed, assigned to nobody

[2020-12-12 22:25] mpetrunic commented on #1875
We will close output stream and receive bad request (if request method expects request body) on input stream from peer.

If we would throw error instead of continue, it would make error handling and stream closing a bit more complex.

[2020-12-13 23:20] #1583 closed, assigned to nobody

[2020-12-14 09:53] mpetrunic commented on #1878
@wemeetagain Is this opened on wrong repo?

[2020-12-14 11:08] mpetrunic opened #1876 "Automatic release"

[2020-12-14 11:14] twoeths commented on #1878
it's interesting to know that we had this issue a long time ago :), this is similar to https://github.com/ChainSafe/lodestar/issues/1789

[2020-12-14 14:35] BeroBurny opened #1879 "SZZ for ValidatorResponse is wrongly typed"
**Describe the bug**

interface [`ValidatorResponse`](https://github.com/ChainSafe/lodestar/blob/9c538eec0ffe74ded393afb96acb29ec0f9df779/packages/lodestar-types/src/types/api.ts#L128) is wrongly typed for [getStateValidator](https://ethereum.github.io/eth2.0-APIs/#/Beacon/getStateValidator) endpint
has extra propery `pubkey: BLSPubkey` and missing `balance`

**Expected behavior**
using `SSZ` for

[2020-12-14 16:12] wemeetagain opened #1881 "Refresh Lodestar User Guide"
**Is your feature request related to a problem? Please describe.**
Documentation page is out of date

Refresh user guide for content and style
Add FAQ / usecases
Add dev guide / ecosystem packages
Add motivation / architecture descriptions / diagrams

**Additional context**
https://docs.ethermint.zone/

[2020-12-14 18:32] #1876 closed, assigned to mpetrunic

[2020-12-14 18:35] #1860 closed, assigned to twoeths

[2020-12-14 18:37] #1232 closed, assigned to dapplion

[2020-12-14 18:47] wemeetagain commented on #1624
See https://github.com/ChainSafe/lodestar/pull/1873#discussion_r542619731

[2020-12-15 07:46] mpetrunic commented on #1624
https://github.com/ChainSafe/lodestar/pull/1886#issuecomment-745083813

It's a huge change so we should weigh in pros and cons before implementing.

This would also resolve #1462

wdytk @dapplion @wemeetagain @tuyennhv?

[2020-12-15 07:54] dapplion commented on #1624
Your suggestion of namespacing `phase0.fast.processBlock` would remove the need to import from deep inside lib which was the main driver behind this issue. The difference between both solutions is to separate code inside the same package or in different packages. I don't have a strong opinion on either direction and would love to know your pros and cons of each path

[2020-12-15 08:12] mpetrunic commented on #1624
I guess biggest reason is that it would be easier to import because if we have phase0 namespace in both packages everywhere you use both original utilities and fast stuff you would have to manually rename import (`import {phase0 as phase0Fast}` or something).

[2020-12-15 09:38] twoeths commented on #1624
yeah I prefer this setup to have both the original and fast state transition stay inside lodestar-beacon-state-transition, they are all about state transition in the end. Imagine if we have another type of state transition, I prefer to have it stay inside lodestar-beacon-state-transition than having another separate package for it.

[2020-12-15 15:40] #1879 closed, assigned to mpetrunic

[2020-12-15 16:10] BeroBurny opened #1889 "beacon pool attestations 400 on post"
**Describe the bug**

[submitAttestation](https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar-validator/src/api/impl/rest/beacon/pool.ts) should post array not a single object to enpoint `/eth/v1/beacon/pool/attestations`, as part of [eth2 rest spec](https://ethereum.github.io/eth2.0-APIs/#/Beacon/submitPoolAttestations)

**Steps to Reproduce**
1. start the beacon node on `lighthou

[2020-12-15 21:29] 3xtr4t3rr3str14l commented on #1881
i'm gonna start heading in this general direction

[2020-12-15 21:30] 3xtr4t3rr3str14l commented on #1881
open to suggestions if anyone has anything more specific or different than what is listed above

[2020-12-17 14:57] #1856 closed, assigned to twoeths

[2020-12-18 03:56] twoeths opened #1896 "Improve DiversifyPeersBySubnetTask"
**Describe the bug**
this is the logs I found
[code]
as @wemeetagain mentioned:`libp2p.peerStore.peers` takes half a second each call
**Expected behavior**
We should avoid calling `libp2p.peerStore.peers` multiple times during this task.

[2020-12-18 07:38] twoeths opened #1897 "Get all connected peers from libp2p connection manager"
**Is your feature request related to a problem? Please describe.**
Currently we get connected peers by looping through all peers in the peer store and check if we have any connections for that peer and we have a performance issue with it.
In my medalla libp2p peer store, I got more than 800 peers.

**Describe the solution you'd like**
We should be able to get that directly from the connection mana

[2020-12-20 13:32] #1597 closed, assigned to nobody

[2020-12-20 17:48] mpetrunic commented on #1672
unstale

[2020-12-21 07:23] dapplion commented on #1370
We should revisit this. It would be a valuable experiment to try to the current release in Node v14 and see what happens

[2020-12-21 16:22] #1896 closed, assigned to twoeths

[2020-12-22 07:05] twoeths opened #1906 "Use libp2p 0.30 types"
This should be done once we get https://github.com/ChainSafe/lodestar/pull/1820 in.

Need to feedback / support libp2p in case any types are missing.

[2020-12-25 02:23] twoeths opened #1916 "Node is out of sync"
Node stays out of sync, gossip blocks received frequently, number of peers is 25. I see a lot of logs like this:
[code]

Ideally the sync service should issue "beacon_blocks_by_root" request and node should be synced again, need to turn debug mode on to get more information.

[2020-12-25 02:56] twoeths opened #1917 "Remove NaiveRegularSync"
ORARegularSync has the same logic of NaiveRegularSync with an improvement to fetch and process at the same time while NaiveRegularSync was there for backward reference only.

It's time to remove NaiveRegularSync, need to fix related unit tests referring to this class.

[2020-12-25 03:14] twoeths opened #1918 "Log file name by date"
**Is your feature request related to a problem? Please describe.**
This is the command I use to start our node
[code]

I thought it'll log to a new file on a new day but it's not, hence the log file becomes too big (>700MB). We want to create new log file at the beginning of the day.

[2020-12-25 05:00] twoeths commented on #1916
not easy to reproduce as after I restart, node stays synced.

not sure if this is the root cause, but if there is a missing block root and we get network timeout for `beacon_blocks_by_root` request then the missing block root stays in cache forever and node will be out of sync due to that. We need to fix that anyway.

[2020-12-26 08:11] twoeths commented on #1916
here's how it happened after I turned on some debugs
+ last processed block is 174071: `2020-12-25 16:14:41 [CHAIN]           ^[[34mdebug^[[39m: Block processed slot=174071, root=0x8e85d480980d6b633fb2cece5686457bb5293f872e291d217280709a2fc01d4d`
+ gossip block 174072 came and failed with `BLOCK_ERROR_FUTURE_SLOT` error: `2020-12-25 16:14:46 [NETWORK]          ^[[33mwarn^[[39m: Ignoring gossip blo

[2020-12-26 08:34] twoeths commented on #1916
+ as I see `BLOCK_ERROR_FUTURE_SLOT` quite frequently, I think we need to accept some deltas when determining that error due to time differences. This is part of the spec and was somehow removed after some code refactoring
+ when handling that error, we should add to the cache first then add to `pendingBlock` db
+ at `onClockSlot` we should get all pending blocks of past slots too and process all

[2020-12-28 08:14] twoeths commented on #1918
[code]
this should gives us 100MB log file like pyrmont_2020_12_28.log.aaaa pyrmont_2020_12_28.log.aaab

[2020-12-28 08:14] #1918 closed, assigned to nobody

[2020-12-28 09:55] dapplion commented on #1917
Fine with me!

[2020-12-29 16:57] dapplion commented on #1459
Could this be implemented now or is it blocked by something else?

[2020-12-29 16:57] dapplion commented on #1473
Implemented

[2020-12-29 16:57] #1473 closed, assigned to nobody

[2020-12-29 16:58] dapplion commented on #1461
@tuyennhv Is this already implemented in your ORAsync?

[2020-12-29 16:59] dapplion commented on #1446
@mpetrunic Is this still an issue?

[2020-12-29 17:01] mpetrunic commented on #1446
No idea. I guess not

[2020-12-29 17:02] #1446 closed, assigned to nobody

[2020-12-29 22:12] twoeths commented on #1461
this goes with the current initial sync strategy. If we go with the new ORA sync I guess it's even better.

[2020-12-30 16:44] dapplion commented on #1461
@tuyennhv So can we close this issue?

[2020-12-31 07:48] twoeths opened #1921 "Implement one-range-ahead strategy for initial sync"
One range ahead for regular sync (ORARegularSync) turns out to be good in terms of performance and more maintainable code.

We should implement the same strategy for Initial Sync and maybe refactor ORARegularSync code a little bit to have some common code for both.

[2020-12-31 07:50] twoeths commented on #1461
closing this as we'll go with the new strategy anyway in https://github.com/ChainSafe/lodestar/issues/1921

[2020-12-31 07:50] #1461 closed, assigned to nobody

[2020-12-31 08:01] twoeths commented on #1459
this class was changed in Sep 14 to have auto-pruned and prune by finalized checkpoint so we don't have to implement it anymore.

[2020-12-31 08:01] #1459 closed, assigned to nobody

[2020-12-31 11:31] dapplion commented on #1921
Could it be N-range-ahead? Lighthouse uses 4 if I remember.

[2020-12-31 11:54] twoeths commented on #1921
there is `maxSlotImport` option, we can configure it dynamically and have a suitable default value (64 currently)

[2020-12-31 22:59] twoeths opened #1923 "Manage cloud infrastructure"
1. We need to increase memory for one of the servers as 2GB RAM is not enough to run Pyrmont
2. Need to increase disk space for server 01 to run mainnet as we got this error
[code]

[2021-01-01 20:36] #1917 closed, assigned to twoeths

[2021-01-04 19:18] #1897 closed, assigned to twoeths

[2021-01-05 09:28] mpetrunic opened #1926 "Move networking code to separate repository"
Lightclient should use req/resp protocol of eth2 to communicate and receive updates. Since lightclient should be separate package/binary it needs access to code for making req/resp.

Exact gossip and rpc methods are not yet specified but we could invent our own for POC purposes.

I would keep like existing rpc method implementation like blocks_by_range and others in lodestar since lightclient does

[2021-01-05 09:39] mpetrunic opened #1927 "Implemented hard fork compatible db"
Since we store everything in ssz format to db, we could end up being unable to read pre fork data.
As suggested in chat, we could add `getTypesByEpoch` method to BeaconConfig. This assumes only time anchored types would change (contains slot or epoch) otherwise we would need another repository.

[2021-01-05 09:46] mpetrunic opened #1928 "Implement Altair fork transition"
We should extract running state transition to separate method witch should decide from what fork should state transition be ran.
Since lightclient state transition doesn't have fast implementation for now, we should create stubbed one like:
[code]

[2021-01-05 09:47] mpetrunic commented on #1926
We should probably do this on master then merge to lightclient branch

[2021-01-05 16:17] wemeetagain commented on #1923
server 01 and 02 upgraded to 4GB RAM + 80GB SSD (vs 2GB RAM + 60GB SSD)

[2021-01-06 12:26] #1306 closed, assigned to nobody

[2021-01-06 12:26] #1239 closed, assigned to nobody

[2021-01-06 19:26] dapplion commented on #1733
Is point (4) something we want to implement eventually?

[2021-01-06 19:41] #1458 closed, assigned to mpetrunic

[2021-01-06 19:53] dapplion commented on #467
@mpetrunic I would prefer for some else to take this issue since I'm not that familiar with SSZ internals

[2021-01-07 18:31] wemeetagain opened #1931 "Store state only every N epochs"
**Is your feature request related to a problem? Please describe.**
Currently lodestar takes a lot of disk space, because it stores every new finalized state to disk.

**Describe the solution you'd like**
An alternative would be to store states to disk every N epochs, or at most every N epochs. (I think some clients store as few as 1 state per 8196 epochs)

There's some discussion to be had around

[2021-01-08 02:01] twoeths commented on #1931
I would go with proposal 2 as it causes less change to how it works now and we always know the latest finalized state we have, it also makes the reboot process more simpler.

[2021-01-08 03:14] twoeths commented on #1928
@mpetrunic are there any obstacles to use fast state transition for lightclient? If it's just a matter of time, I can look into it.

[2021-01-08 06:23] mpetrunic commented on #1928
You would have to update epochctx balance on couple of places and it would make it harder to follow changes in spec. It really makes no sense to do that as there is no benefit (speed on <100 validator is irrelevant).

At some point (once lightclient spec is solid) there will be updated fast spec we can follow (imo)

[2021-01-08 07:12] twoeths commented on #1928
I don't see EpochContext manages balance and if we go with the fast state transition, it'd be mostly a 1-1 mapping to the spec. I think there are some benefit:
+ we don't have to call `getActiveValidatorIndices()` which is slow as it's available in the EpochContext/IEpochShuffling
+ when `processSyncCommittee()`, we don't have to call `getSyncCommitteeIndices()` again as we can use `pubkey2index`

[2021-01-08 07:58] mpetrunic commented on #1928
Spec will probably change rapidly in coming weeks, I really don't see a benefit in maintaining both slow and fast state transition when speed is not relevant factor until there is spec freeze

[2021-01-08 19:53] dapplion commented on #1931
Proposal 2 sounds great. I would go for a mix of both where we store definitively to disk every 8196 epochs and write to this new bucket the latest finalized epoch every 16 epochs. Best of both worlds :)

[2021-01-08 23:35] #1761 closed, assigned to twoeths

[2021-01-08 23:35] #1789 closed, assigned to twoeths

[2021-01-08 23:35] #1878 closed, assigned to wemeetagain

[2021-01-09 10:47] twoeths commented on #1931
Right now it takes time to store finalized state (mainly to serialize to `Buffer`), like in Pyrmont: `Archive States epoch #1362  - duration=1012ms` - this is almost the time of an epoch transition . If we don't have to save finalized state regularly it'll definitely help the sync speed.

[2021-01-09 12:09] dapplion opened #1932 "Logger - prettier nested errors"
Currently the logger prints nested errors in a not readable way due to the nested error stacks.

[code]

Instead, the error stacks should be detected and extracted and maybe print in an indented sequence or one after the other at the end of the logline

[2021-01-09 23:16] #1427 closed, assigned to nobody

[2021-01-10 06:24] twoeths commented on #1931
my latest Pyrmont sync takes 247GB!

[2021-01-11 10:22] twoeths opened #1935 "Broken links in documentation page"
**Describe the bug**
Navigate to https://github.com/ChainSafe/lodestar/blob/master/docs/usage/index.md and click on the links, it all lead to 404

**Expected behavior**
It should render respective page/content.

[2021-01-11 11:05] dapplion commented on #1935
These links are meant to work in MkDocs context https://chainsafe.github.io/lodestar/usage/
If we use the actual name of the file the links break there

[2021-01-12 00:32] #1935 closed, assigned to nobody

[2021-01-12 09:16] twoeths opened #1938 "Do not pass gossip attestation to forkchoice"
**Describe the bug**
A lot of gossip attestations are not included in any blocks so when receiving them through gossip, we should not include them in forkchoice. If we add them, potentially we'll have different forkchoice head compared to other clients.

**Expected behavior**
We should only pass attestations included in blocks to forkchoice.

[2021-01-12 15:29] ColinSchwarz opened #1940 "Finalized State Upload Script"
Using the beacon node API (finalized event and debug state endpoint),
Create a script that fetches every new finalized state, signs and uploads it to S3 or some public space.

 We can then start using these states to launch our beacon node and bypass having to sync from genesis.

[2021-01-12 15:34] dapplion opened #1941 "Fix Beacon x Validator docker compose setup"
User @baysa from discord reported issues trying to connect the validator with the beacon chain on a dockerized environment.

Review and fix the issues + add a one liner to spin-up a working setup with both components. Current setup only includes a beacon node.

-----

Discord message https://discord.com/channels/593655374469660673/593655641445367808/798215178625351740

I want to run lodestar using

[2021-01-13 07:59] mpetrunic commented on #1927
Discord discussion:

wemeetagain12/18/2020
If the fork epoch is part of the params, then the db will have what it needs to serialize/deserialize the right type (at least for state archive)(edited)
[9:59 PM]
we could develop some helper methods on IBeaconConfig / types to return the right type given an epoch:
config.getTypesByEpoch(epoch).BeaconState
(edited)

Marin Petrunić (mpetrunic)12/18/2020
H

[2021-01-13 08:01] mpetrunic commented on #1940
By script, I meant it could be cli command :)

[2021-01-13 08:04] mpetrunic commented on #1940
To make it more secure, we can create BeaconState envelope (SignedBeaconState `{message: BeaconState, signature: BLSSignature}`) so that we can have some trusted Chainsafe bls key signing those and we can hardcode that key it in lodestar client so we can verify downloaded state is really produced by Chainsafe.

[2021-01-13 08:13] mpetrunic opened #1943 "Lightclient db and repositories"
In light-client package instantiate database using lodestar-db and create repositories for:
- https://github.com/ethereum/eth2.0-specs/blob/dev/specs/lightclient/sync-protocol.md#lightclientsnapshot - single value I guess
- https://github.com/ethereum/eth2.0-specs/blob/dev/specs/lightclient/sync-protocol.md#lightclientupdate

Alternatively we can have one repo for https://github.com/ethereum/eth2.

[2021-01-13 08:31] twoeths opened #1944 "Broadcast voluntary exit"
**Is your feature request related to a problem? Please describe.**
Implement `/v1/beacon/pool/voluntary_exits` POST api: Submits SignedVoluntaryExit object to node's pool and if passes validation node MUST broadcast it to network.

**Describe the solution you'd like**
+ Right now we miss the validation and broadcasting of the voluntary exit to the network through gossip, need to do that at https:/

[2021-01-13 08:32] dapplion commented on #1927
Is it really necessary to be able to satisfy blocksByRange requests that span multiple forks? Can we force other clients to request from `forkSlot - 64, forkSlot -1`, then `forkSlot, forkSlot +64`?

[2021-01-13 08:32] twoeths opened #1945 "Broadcast voluntary exit through gossip"
**Is your feature request related to a problem? Please describe.**
Implement `/v1/beacon/pool/voluntary_exits` POST api: Submits SignedVoluntaryExit object to node's pool and if passes validation node MUST broadcast it to network.

**Describe the solution you'd like**
+ Right now we miss the validation and broadcasting of the voluntary exit to the network through gossip, need to do that at https:/

[2021-01-13 08:32] #1945 closed, assigned to nobody

[2021-01-13 08:47] mpetrunic commented on #1927
Well you could always open PR on spec but it's not certain it's gonna be accepted. But there are other awkward situations like handling unfinalized blocks which are indexed by root so you would have to ask root -> slot map for every action.

With approach that I've suggested it ain't gonna be problem anyways

[2021-01-13 09:47] #1932 closed, assigned to dapplion

[2021-01-13 09:48] dapplion commented on #1927
You right, too many possibilities best to support them

[2021-01-13 17:37] #1872 closed, assigned to twoeths

[2021-01-13 17:53] #1916 closed, assigned to twoeths

[2021-01-13 18:41] #1931 closed, assigned to wemeetagain

[2021-01-13 19:14] #1772 closed, assigned to twoeths

[2021-01-13 22:22] 3xtr4t3rr3str14l commented on #1926
@mpetrunic do you know where the progress of the rpc/gossip specs for lightclient are being tracked?  how will we know when they have been spec'd out?

[2021-01-14 01:59] twoeths opened #1949 "Apply gossip attestations to forkchoice"
As noted in https://github.com/ChainSafe/lodestar/pull/1939#issuecomment-759604120

Currently we don't pass gossip attestations to forkchoice, we need to do it.

[2021-01-14 02:34] twoeths opened #1950 "Implement CachedBeaconState"
The idea came from https://github.com/ChainSafe/lodestar/pull/1925#pullrequestreview-564581634

Need to come to an agreement regarding how it looks like before implementation.

[2021-01-14 09:20] mpetrunic commented on #1926
There isn't one, there is opportunity for us to prototype one and specify it.

[2021-01-14 21:24] 3xtr4t3rr3str14l commented on #1808
lighthouse doesn't call it `--testnet` but `--network` instead
https://lighthouse-book.sigmaprime.io/testnet-validator.html#become-a-testnet-validator

i feel like that approach makes sense

[2021-01-15 02:05] twoeths commented on #1950
one good thing with caching IFlatValidator (which is currently in CachedValidatorsBeaconState) is we can pull `epochBalances` directly from there instead of having to publish `epochProcess` (in lodestar-beacon-state-transition) to lodestar, the consequence of that is:
+ No need different types of EpochContext (StateTransitionEpochContext, LodestarEpochContext), only EpochContext
+ `epochProcess` s

[2021-01-15 15:00] dapplion opened #1956 "Add flag to be greedy or not with found slashing offences"
We should decide the default behavior and expose a flag to change it

[2021-01-15 15:03] dapplion opened #1957 "Slashing offence from API may not be valid after a while"
If the node operator adds a slashing offense via the API and the node is greedy, when there the node has a chance to propose the slashing offense may no longer be valid. Verify that we re-check validity when building a block and that it doesn't stall the process.

[2021-01-17 16:24] dapplion opened #1960 "Blocking error: headState does not exist"
When restarting the beacon chain after stopping fast it throws on start-up with
[code]
The process stops there and is not recoverable. I have to whipe out the entire DB to continue. This seems a regression introduced with https://github.com/ChainSafe/lodestar/pull/1937

[2021-01-18 06:53] #1672 closed, assigned to 3xtr4t3rr3str14l

[2021-01-18 06:54] #1741 closed, assigned to 3xtr4t3rr3str14l

[2021-01-18 06:54] #1944 closed, assigned to twoeths

[2021-01-18 07:07] twoeths commented on #1960
Fixed by https://github.com/ChainSafe/lodestar/pull/1962

[2021-01-18 07:07] #1960 closed, assigned to wemeetagain

[2021-01-18 07:38] twoeths opened #1963 "Investigate goodbye code 251 - Peer banned this node"
**Describe the bug**
It's not rare to see this in my pyrmont node, we need to investigate it
[code]

[2021-01-18 09:09] mpetrunic opened #1964 "Introduce app bucket to db"
We have bucket defined in lodestar-db so all project using lodestar-db shares bucket space and has to edit lodestar-db files.

We could have 1byte app prefix like:
[code]

So db key would be: `app (1 byte) + repository (4 byte) + id (x bytes)`

That way, each app could share same db and maintain it's own repository buckets without interference.

[2021-01-19 01:33] #1819 closed, assigned to 3xtr4t3rr3str14l

[2021-01-19 07:46] dapplion commented on #1963
Lighthouse bans peers when their score drops below a certain level
https://github.com/sigp/lighthouse/blob/stable/beacon_node/eth2_libp2p/src/peer_manager/score.rs

Once that happens it will block connections for some time, potentially long. However, we keep trying to connect to peers that have banned us very often, sometimes every 30 seconds.

So we def have to investigate why we are banned, but

[2021-01-19 08:26] dapplion opened #1968 "Review Gossipsub peer scoring"
Review our current peer scoring for ReqResp and gossip

https://gist.github.com/blacktemplar/5c1862cb3f0e32a1a7fb0b25e79e6e2c#file-generate-scoring-params-py

[2021-01-19 08:28] dapplion commented on #1964
Wouldn't it be best for bn and validator to have separate db instances (with their own db schemas)? Maybe for the lightclient it makes sense

[2021-01-19 10:33] mpetrunic commented on #1964
Probably, but accidents happens (or in dev is handy to keep just one db maybe), and if we use same bucket id we would corrupt data

[2021-01-19 15:46] dapplion opened #1970 "Add voluntary exit functionality to the CLI"
Nice to have to clean-up after testing Pyrmont.

[2021-01-19 15:48] wemeetagain opened #1971 "Run Validators on Pyrmont"
**Is your feature request related to a problem? Please describe.**
We want to add lodestar validators to Pyrmont to test out validator capabilities (#1811)

**Describe the solution you'd like**
- [ ] sync 2 pyrmont beacon nodes
- [ ] submit 32 deposits
- [ ] run 16 validators per node
- [ ] Monitor included attestations + blocks

**Describe alternatives you've considered**
- Ask someone in eth2 co

[2021-01-19 15:52] dapplion commented on #1776
@wemeetagain bump

[2021-01-19 15:53] wemeetagain commented on #1776
closing in favor of #1971

[2021-01-19 15:53] #1776 closed, assigned to nobody

[2021-01-19 19:09] 3xtr4t3rr3str14l opened #1972 "Replace all mentions of medalla (and any other dead testnets) with pyrmont"
We should replace all mentions of medalla (and any other dead testnets) with pyrmont (in a future issue / PR)

_Originally posted by @dapplion in https://github.com/ChainSafe/lodestar/pull/1959#discussion_r559796021_

[2021-01-19 19:36] 3xtr4t3rr3str14l commented on #1970
do you mean that you'd want a flag or something like that to add as an option to perform a voluntary exit once the node process is quit?  or maybe just something to perform a voluntary exit in general regardless of when it would be ran?  just trying to clarify the intent here

[2021-01-20 08:16] #1808 closed, assigned to 3xtr4t3rr3str14l

[2021-01-20 08:18] dapplion opened #1974 "Add PR templates"
Issue templates have been helpful for contributors to write more cohesive and rich issues. Github has the same feature but for PR. We should design a nice template with info that is very helpful for reviewers and motivate PR writers to add it on each PR

See https://docs.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository

[2021-01-20 08:44] dapplion commented on #1970
You can take a look at the Pyrsm CLI which has this functionality. It should be done upon express intention of the users with a command similar to
[code]

[2021-01-20 10:51] twoeths commented on #1950
so the class looks like this
[code]

+ we separate EpochContext (epoch stuff cache) and other BeaconState related cache while consumer only know CacheBeaconState and it has everything it needs
+ `CachedBeaconState.clone()` is cheap
+ EpochContext becomes abstract, noone should use it directly
+ stateTransition function looks like:
[code]
+ lodestar should use this new CachedBeaconState across the

[2021-01-20 10:56] dapplion opened #1976 "Add expect messages to multi-assertion tests"
There are many tests in the repo that have multiple expect() assertions in the same `it` block which requires inspecting byline which assertion failed. See example:
https://github.com/ChainSafe/lodestar/blob/298354baa70a537d6f12a946e078d8810be563a6/packages/lodestar/test/unit/api/impl/beacon/blocks/publishBlock.test.ts#L56-L57

[code]

Instead, we could add some metadata or extect message such as:

[2021-01-20 11:11] mpetrunic opened #1977 "Run unit tests in parallel"
Currently lerna runs in ci unit tests from every package sequentially. To improve CI times, we should add `--parallel` flag to `test:unit` and `lint` script in root package.json

[2021-01-20 11:18] dapplion commented on #1977
That blows up my laptop hahaha gets frozen immediately and requires a forced reset

[2021-01-20 11:26] mpetrunic commented on #1977
really?!  Works fine with me and on couple of other projects. Gonna push to see how CI handles it

[2021-01-20 11:45] mpetrunic commented on #1977
## Results:
### test:unit
[code]

### lint:
[code]

[2021-01-20 14:20] dapplion commented on #1977
Same for other js projects, not only Lodestar. I actually have to build the source with `--concurrency 1` or I have a 25% chance of freezing my laptop.

Would be cool to have some way to configure lerna in each environment so you can run with full parallelization and me with none without modifying a committed file

----

For context, my laptop
[code]
[code]

[2021-01-20 14:28] dapplion commented on #1779
Open a new issue if it happens again, too old

[2021-01-20 14:28] #1779 closed, assigned to nobody

[2021-01-20 15:21] dapplion opened #1979 "Status with future finalized epoch"
When syncing I see this log a lot. Is it a problem? Why is this information logged?
[code]

[2021-01-20 15:23] dapplion opened #1980 "Error: DuplicateDistinctLog - spam"
When syncing both Mainnet and Pyrmont this error get spammed continuously for sustained periods of time
[code]

[2021-01-20 16:07] wemeetagain opened #1981 "Separate profiling from logging"
**Is your feature request related to a problem? Please describe.**
Currently we're using a feature of `winston` logger to profile block and state archival. Unfortunately this is not very customizable and always pollutes the logs. It is also not easy to export these profiles to other places, eg: metrics.

**Describe the solution you'd like**
Do profiling separately from logging, using separate tool

[2021-01-20 21:24] dapplion opened #1983 "Potential attack on blocksByRange request with huge step"
if someone sends a blocksByRangeRequest to us with
[code]
we would read the entire BlockArchiveRepository DB

https://github.com/ChainSafe/lodestar/blob/298354baa70a537d6f12a946e078d8810be563a6/packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts#L126-L130

We could fix with:
- checking that if step > stepSizeLimit, just read blocks one by one

[2021-01-21 07:52] mpetrunic commented on #1977
@dapplion maybe some kernel bug, do you have latest?

[2021-01-21 20:28] 3xtr4t3rr3str14l commented on #1493
closed in #1947

[2021-01-21 20:28] #1493 closed, assigned to 3xtr4t3rr3str14l

[2021-01-22 10:31] mpetrunic opened #1985 "Produce lightclient blocks"
We need to implement switch to api where depending on current epoch/fork we need to produce different blocks.

[2021-01-22 12:58] dapplion commented on #1977
Updated yesterday to latest `5.4.0-64-generic` and so far it hasn't crashed :+1:

However, the interlaced output is not pretty and may make things harder to debug if a test fails. I didn't noticed a significant speed increase overall running with --parallel. The units tests in lodestar package just dominate always

[2021-01-22 13:23] mpetrunic commented on #1977
Maybe it would be better if we ran all tests except lodestar in parallel. Like:
[code]

[2021-01-22 14:48] dapplion commented on #1977
How many seconds would we save with that?

[2021-01-22 21:44] #1972 closed, assigned to 3xtr4t3rr3str14l

[2021-01-23 06:14] #1734 closed, assigned to nobody

[2021-01-25 05:15] #1293 closed, assigned to nobody

[2021-01-25 05:15] #1747 closed, assigned to nobody

[2021-01-25 08:22] mpetrunic commented on #1977
13s (1m22s vs 1m35s)

[2021-01-25 16:48] dapplion commented on #1977
In my subjective opinion, it's not worth it

[2021-01-25 18:52] dapplion opened #1989 "Consider doing sync peer management ourselves"
Sync peer management in Eth2.0 requires particular features such as
- Ban peers and don't let them connect to us
- Don't connect to peers that have ban us
- Reverse both actions after some time (TTL/decay for bans/scoring)
- Limit connections per peer
- Handle autoDial with minPeer and maxPeers, not connections

Consider the dev cost of doing peer management ourselves instead of relying in libp2p

[2021-01-25 18:55] dapplion opened #1990 "Event loop blocked by >3s"
Two recent syncs revealed event loop lag over 3s multiple times. We should investigate what action is causing so much lag and control it.

Note that event loop lag correlates with peer loss

#### Sync 1

![Screenshot from 2021-01-24 08-05-07](https://user-images.githubusercontent.com/35266934/105752056-1e43ab00-5f47-11eb-8940-6c432a6b6c31.png)

#### Sync 2

![Screenshot from 2021-01-23 10-58-17](h

[2021-01-25 18:56] dapplion opened #1991 "Incorporate new process chain segment in initial sync"

[2021-01-25 23:01] dapplion commented on #1554
Repo size is still huge since this file will leave forever in the git history https://github.com/ChainSafe/lodestar/commit/79ac7f76

The only way to get rid of it is by re-writing this repo's git history from that commit (see the process below). It's quite dramatic because all existing tags and commits hash will change, but it's doable.

[code]

[2021-01-26 01:34] #1991 closed, assigned to dapplion

[2021-01-26 06:39] twoeths opened #1993 "Could not start initial sync"
this is what I get from the log when I try to sync Pyrmont
[code]

[code]

[2021-01-26 07:40] #1993 closed, assigned to nobody

[2021-01-26 08:02] dapplion opened #1996 "Add initial sync e2e test"
It's a critical piece of our current dev efforts that should be ensured to be working by CI.

[2021-01-26 10:20] twoeths commented on #1990
sometimes I see epoch processing increased significantly and then came back. This is from my current pyrmont sync
[code]

average epoch transition is ~1.3s while sometimes it increased significantly to more than 10s!

[2021-01-26 14:32] dapplion commented on #1990
Is there something we can split out the tasks so it doesn't take so long at once?

[2021-01-26 14:38] twoeths commented on #1990
I'll try to regenerate respective BeaconStates to reproduce on local environment to see if we can improve it.

[2021-01-26 14:43] mpetrunic opened #1998 "Requesting future duties"
https://github.com/NodeFactoryIo/ChainGuardian/issues/454

I wonder if someone has some idea why lodestar-validator would request duties in the future. Didn't we change it to wait for block?

[2021-01-27 06:38] twoeths commented on #1990
I don't see a slow epoch transition after I regenerate state and run state transition through block 90976, it's only around 1.1s.

So I think it's just my laptop was too busy at that time since it happened at adjacent epochs. We need to make a new metric for epoch transition and follow it once we deploy to a server.

I'm attaching the state and block for reference.
[archivedstate_90975.zip](https:

[2021-01-27 06:54] dapplion opened #2000 "Escaping relative path require hell"
We have some very deep directories both in src and in test. I would be amazing if we could replace
[code]
with
[code]
[code]
or some other variant

It's is possible, but we have to find the right setup for us, see

- https://www.coreycleary.me/escaping-relative-path-hell
- https://www.typescriptlang.org/docs/handbook/module-resolution.html

[2021-01-27 06:56] dapplion commented on #1990
Thanks for profiling it! Even tho it's 1.1s, could you investigate the percentage CPU spent in each major routine?

[2021-01-27 07:04] dapplion opened #2001 "Use eth2-clients / slashing-protection-interchange-tests"
Use this release https://github.com/eth2-clients/slashing-protection-interchange-tests/releases/tag/v5.0.0
instead of our NPM package. For consistency with the main eth2 spec tests

CC: https://github.com/eth2-clients/slashing-protection-interchange-tests/issues/5#event-4253435278

[2021-01-27 07:17] twoeths commented on #1990
here's the statistic based on https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar-beacon-state-transition/test/perf/epoch_processing.test.ts and the attached state 90975
[code]

and for block processing

[code]

[2021-01-27 18:41] 3xtr4t3rr3str14l opened #2003 "Failed to produce aggregate and proof error: message format"
Saw this when running my active validator on pyrmont:

[code]

not just there, but in other places too:

[code]

Expected behavior:
`message` should not be `undefined undefined`

[2021-01-27 22:06] 3xtr4t3rr3str14l commented on #1775
calling this done

[2021-01-27 22:06] #1775 closed, assigned to 3xtr4t3rr3str14l

[2021-01-27 22:08] 3xtr4t3rr3str14l commented on #1641
resolved via FileENR implementation

[2021-01-27 22:08] #1641 closed, assigned to 3xtr4t3rr3str14l

[2021-01-28 11:52] dapplion opened #2004 "eth1 module requests too often"
The ETH1 module request some data too often, to trigger Infura's rate limiting. Something is wrong since all data can be grabbed optimally with few requests per minute

[code]

[2021-01-28 19:47] 3xtr4t3rr3str14l opened #2005 "JS heap blows up when running beacon node"
**Describe the bug**

When running a synced lodestar beacon node (cmd: `/lodestar beacon --network pyrmont --rootDir .pyrmont/ --eth1.providerUrl https://goerli.infura.io/v3/3ee38f4a9c4447dfbd050e5afbb4b9c6`) and the validator (cmd: `./lodestar validator --network pyrmont --rootDir .pyrmont/ --graffiti "lodestar wuz here"`) with an activated pyrmont validator, on pyrmont, everything runs smoothly

[2021-01-28 19:49] 3xtr4t3rr3str14l commented on #2005
External memory was slightly increasing over time as well:

![image](https://user-images.githubusercontent.com/32028745/106190697-a0161d00-616f-11eb-9787-6720c0ddb724.png)

[2021-01-28 19:52] 3xtr4t3rr3str14l commented on #2005
here is my crash report (tried pastebin, but they didn't like the JSON I guess):

[report.20210128.061107.19505.0.001.json.txt](https://github.com/ChainSafe/lodestar/files/5889674/report.20210128.061107.19505.0.001.json.txt)

[2021-01-28 19:57] 3xtr4t3rr3str14l opened #2006 "add `--logFile` option to validator CLI"
I think it would be a good idea to extend the `--logFile` option that we have for the beacon node to the validator as well.

[2021-01-28 20:00] 3xtr4t3rr3str14l opened #2007 "Add validator client metrics"
We do have validator monitor metrics, related to performance of validators in the Eth2.0 protocol (profitability, attestation performance)

However this issue refers to validator client metrics, which may include:

- VM stats: CPU, RAM, event loop lag, GC runs
- Signer metrics: total signed items, signature errors
- API client metrics: response times, timeouts, error count
- Slashing protection DB

[2021-01-29 10:58] twoeths opened #2010 "Error pruning forkchoice"
I got this error during Pyrmont sync

[code]

[2021-01-29 13:51] q9f commented on #2005
I have the same issue without running a validator (beacon node only)

[code]

[2021-01-29 19:45] #2006 closed, assigned to 3xtr4t3rr3str14l

[2021-01-29 19:58] dapplion opened #2012 "logger.error() must accept Error on all arguments"
Since `e` is not typed this code will compile
[code]
The logger should accept Error on all positions since Typescript won't protect us here

[2021-01-29 21:42] 3xtr4t3rr3str14l opened #2013 "add log levels to validator"
currently, the validator client only prints out `info` logs, but we need it to be configurable to where it can go to the other winston logger log levels as well.

[2021-01-31 06:51] dapplion commented on #1797
With libp2p punching NAT holes so efficiently is this necessary for our needs?

[2021-01-31 06:52] dapplion commented on #1810
Should be fixed already

[2021-01-31 06:52] #1810 closed, assigned to nobody

[2021-01-31 13:38] twoeths opened #2015 "Error processing finalized checkpoint"
I got this when syncing pyrmont locally:

[code]

[2021-01-31 18:24] dapplion commented on #2015
I've seen it too!

[2021-02-01 03:33] 3xtr4t3rr3str14l commented on #2015
ditto

[2021-02-01 06:31] mpetrunic commented on #1797
how do you mean? Afaik, we are only having peers that we find and connect to us while nobody can discover and connect to us

[2021-02-01 06:40] twoeths commented on #2005
I found some promises retained in the memory along with its data (CachedValidatorsBeaconState + EpochContext) and it keeps accumulated.
<img width="1205" alt="Screen Shot 2021-02-01 at 10 19 43" src="https://user-images.githubusercontent.com/10568965/106422899-fcd84700-6491-11eb-894d-139f28950e9e.png">

I tried to add `myId` to all suspected promises during epoch transition to find out which promi

[2021-02-01 08:10] dapplion commented on #1797
I've run lodestar behind a NAT and kept a stable peer count. libp2p uses all sorts of tricks to allow connections even if you are not directly reachable https://docs.libp2p.io/concepts/nat/

[2021-02-01 08:12] dapplion commented on #2005
I've never seen anything like this, to narrow down the possibilities I would suggest
- Making runStateTransition function sync and confirming if the leak persists
- Using a vanilla version of sleep(0) and confirming if the leak persists
- Reaching out to Chromium or NodeJS with this heap and see if they have some advice on what to do next

[2021-02-01 08:22] mpetrunic commented on #1797
If you find and connect to peer, nat is irrelevant but other nodes cannot find and connect you so you can only depend on nodes you can find.

 It's somewhat important to have incoming connections because if there is great surge of new nodes (which will probably find same nodes as we), we would get kicked (nodes are instructed to allow new nodes to connect) and end up with not enough nodes/peers.

[2021-02-01 08:49] twoeths commented on #2010
duplicated to #2015

[2021-02-01 08:49] #2010 closed, assigned to nobody

[2021-02-01 09:25] dapplion commented on #1797
Right I've noticed that too, that's important

[2021-02-01 11:06] #1927 closed, assigned to mpetrunic

[2021-02-01 18:08] #2013 closed, assigned to 3xtr4t3rr3str14l

[2021-02-01 19:43] 3xtr4t3rr3str14l commented on #2005
I wonder when the last time we ran the beacon node without getting an OOM was?  I hadn't ran the beacon node into regular sync in quite some time before I ran it and found this issue.  So, maybe one thing that could help is if we retrace our steps and look at the history of what was modified in the code section that Tuyen linked above (and/or the runStateTransition function itself) between the tim

[2021-02-01 20:06] 3xtr4t3rr3str14l opened #2017 "validator client request timeouts"
while running the validator client on pyrmont, things have been smooth, for the most part, but every now and then i'll see a timeout from one of the requests.  for example:

[code]

I also see this same error in other areas of the code too, which will sometimes cause us to miss attestations:
[code]

Either our timeout is too soon, or maybe something else is going on.

[2021-02-01 23:37] twoeths commented on #2005
I've tried version 0.13.0 in 1h and still saw the memory increased significantly, we should sync our node more frequently from now on since we have contavo servers now. Initially we couldn't test Pyrmont sync in our old server due to 2GB RAM limitation, the other thing is blockchain in Pyrmont is not as long as the current.

In my local environment, I used to increase heap size option for Pyrmont

[2021-02-01 23:42] twoeths commented on #2005
thanks for the suggestion. I tested the vanilla `sleep(0)` and still saw the issue. I'm testing a sync `runStateTransition` now and let's see how it works on server 01.

To make a sync `runStateTransition()`, I have to move `sleep(0)` to the outer for loop so it's kind of similar to my previous try. A debug in my local environment, after 2h test, is good - there is no `CachedValidatorsBeaconState`

[2021-02-02 01:51] twoeths commented on #2015
this is because we don't manage the order of archived tasks
+ archived task `n` runs and hasn't finished - maybe because it has to archive state
+ archived task `n+1` runs and finish - maybe because it doesn't have to archive state, it deletes all nodes all the way to its finalized node including the finalized node of task `n`
+ archived task reaches its last step which is `this.chain.forkChoice.p

[2021-02-02 02:02] #2003 closed, assigned to 3xtr4t3rr3str14l

[2021-02-02 07:19] mpetrunic opened #2020 "Validator client has wrong events api url"
**Describe the bug**

Validator client events api url is missing `/eth` prefix. That said, if you fix url, e2e and sim tests are failing which would indicate
that either bn doesn't emit proper events and/or validator client is handling events incorrectly.

**Expected behavior**

Validator to work with events

**Steps to Reproduce**

**Screenshots**

**Desktop (please complete the following informa

[2021-02-02 08:18] twoeths commented on #1990
it's worth to look into this https://developer.mozilla.org/en-US/docs/Web/API/HTML_DOM_API/Microtask_guide

currently we use `async/await` across the code base, in a lot of scenarios it keeps adding items to `microtasks` queue in the same event loop iteration hence that iteration takes time.

[2021-02-02 08:46] dapplion commented on #2005
Is the rate of memory increase much lower than on the current master?

[2021-02-02 08:49] dapplion commented on #2017
4000ms is the max it can wait for the protocol, otherwise it misses the opportunity to aggregate. However, the node is known to be busy for over 3 seconds https://github.com/ChainSafe/lodestar/issues/1990

[2021-02-02 09:16] twoeths commented on #2005
yeah just to give you an idea after I synced Pyrmont in 2h:
+ master should be >3GB or even 4GB at taht time, normally I stopped after 1h
+ this branch consume only 2GB at that time and it increased at a much slower speed, the increasement maybe due to my debug (--inspect) but at least I don't see CachedValidatorsBeaconState being leaked like in master

unfortunately I couldn't test on contavo-01

[2021-02-02 13:17] twoeths commented on #2005
the other time I run a sync `stateTransition` in 2.5h, the heap ranges from 1.1GB to 1.7GB stably

[2021-02-03 00:24] wemeetagain commented on #2005
One thing I noticed is the heap issue only seems to happen during regular sync.
The initial sync has a low and steady heap usage.

![pyrmont](https://user-images.githubusercontent.com/1348242/106680208-ce3a9900-6583-11eb-830a-bbaeea5cb618.png)

[2021-02-03 04:06] 3xtr4t3rr3str14l commented on #2005
@tuyennhv , currently running the beacon node on the `tuyen/experiment-sync-runStateTransition` branch.  i'm still waiting to see what happens with regard to the heap space usage, but i'm noticing that when i try to run the validator on the same branch alongside the beacon node (once the beacon node is in regular sync), then the validator consistently does not publish it's attestations (according

[2021-02-03 04:43] 3xtr4t3rr3str14l commented on #2005
to follow up on the above comment, sometimes the failed attestation publish will show up in validator logs, but not always.  like this:
[code]

but still, even if the error doesn't show up in validator logs, it never shows up in beaconcha.in (for example, in the last hour, every epoch (epochs 17245 - 17256) are shown as missed in beaconcha.in

[2021-02-03 06:59] 3xtr4t3rr3str14l commented on #2005
so, the heap blew earlier for me this time (on `tuyen/experiment-sync-runStateTransition`) than on `master`.  looks like it may have plugged one memory issue but then introduced another (notice the pink line going up)

![Screenshot from 2021-02-03 00-58-41](https://user-images.githubusercontent.com/32028745/106710173-20e37780-65bb-11eb-9d7d-9e5464458f9f.png)

[2021-02-03 09:26] morrigan commented on #1998
Hey guys, any info on this?

[2021-02-05 15:54] wemeetagain opened #2026 "Lodestar Roadmap 2021 🌟"

[2021-02-07 21:05] 3xtr4t3rr3str14l commented on #1829
unstale

[2021-02-07 21:06] 3xtr4t3rr3str14l commented on #1830
unstale

[2021-02-07 21:06] 3xtr4t3rr3str14l commented on #1472
unstale

[2021-02-08 02:51] twoeths opened #2027 "RangeError: Maximum call stack size exceeded"
Got this when restaring from a finalized state:

[code]

lodestar passes so many arguments to persistent-ts, we may need it to accept an array instead

[2021-02-08 08:01] twoeths commented on #1990
sometimes it takes almost 1s just for the `readOnlyMap` inside `processRewardsAndPenalties`, I suspect it much slower in our server
<img width="1144" alt="Screen Shot 2021-02-08 at 14 52 36" src="https://user-images.githubusercontent.com/10568965/107190536-7d142480-6a1d-11eb-87f7-a03c57bbb961.png">

Most of the time it took only 200ms-300ms for that, also I notice that there are a lot of `gc` call

[2021-02-08 10:42] BeroBurny commented on #1998
notice this is happening when the hardware is under load, which is pretty weird why validator is going in the future :man_shrugging:
can someone explain why is this happening

[2021-02-08 13:22] mpetrunic opened #2029 "Add lightclient epoch processing"
https://github.com/ethereum/eth2.0-specs/blob/dev/specs/lightclient/beacon-chain.md#epoch-processing

[2021-02-08 15:45] #2027 closed, assigned to twoeths

[2021-02-08 16:57] wemeetagain opened #2031 "Add eslint rule require-await"
Add https://eslint.org/docs/rules/require-await in a subsequent PR

_Originally posted by @dapplion in https://github.com/ChainSafe/lodestar/issues/2030#issuecomment-775288815_

[2021-02-08 21:02] dapplion commented on #1990
Damn.. Thanks @tuyennhv for the analysis! Where is the file `uint.ts` from? Our ssz library?

EDIT: Yes it's ssz, src/types/basic/uint.ts

EDIT2: @tuyennhv The code from your debugger is different than master https://github.com/ChainSafe/ssz/blob/7639b2806713f6f352b43424a5aadca0da1779e2/src/types/basic/uint.ts#L70 , is that expected?

[2021-02-08 21:17] dapplion commented on #1472
@tuyennhv What's the current status?

[2021-02-09 02:26] twoeths commented on #1990
there are NumberUintType and BigIntUintType in that same file, we need to improve both by limiting the use of BigInt if possible. Finally I was able to reproduce the issue in the performance test
[code]
this prints out
[code]

[2021-02-09 08:54] dapplion opened #2033 "Proposal: Print logs only on test error"
Rust only prints console output after a test failed. We can consider using this strategy for unit tests and e2e test (not sim). I've been adding a DEBUG env var lately to conditionally log which is not pretty.

This library accomplishes this

https://github.com/AleG94/mocha-suppress-logs

[2021-02-09 15:30] dapplion opened #2035 "Run permanent node in cloud with Alerts"
- [x] Fix dockerhub image builds, build on master and tag
- [x] Setup a node + validator on Pyrmont to Contabo
- [x] Setup watchtower to update automatically
- [x] Setup Grafana alerts to Discord

[2021-02-12 14:57] dapplion opened #2039 "Potential typo in publishAttesterSlashing"
Seems that we publish attester slashings to the `PROPOSER_SLASHING` topic

https://github.com/ChainSafe/lodestar/blob/d5d2006fa1d96736f7339ee4b38bb8af05d296eb/packages/lodestar/src/network/gossip/handlers/attesterSlashing.ts#L21-L30

[2021-02-12 23:58] 3xtr4t3rr3str14l commented on #2035
got a beacon node running on contabo-2.  trying to get the validator set up on there too

[2021-02-13 14:42] dapplion opened #2042 "Remove deprecated encoding GossipEncoding.SSZ"

[2021-02-13 14:44] dapplion opened #2043 "Address eslint/await-thenable warnings"
Remove `await` from unnecessary statements. Run `yarn lint` and look for
[code]

Then change the level of `@typescript-eslint/await-thenable` to error

[2021-02-13 19:24] ColinSchwarz opened #2044 "Lodestar Roadmap 2021 🌟"
# Goals for 2021:
## Output
1. Have light client prototype with the following deliverables
    - Merkle proof generation (`Type.getMerkleProof(value: T, paths: Path[]): Proof`)
    - Merkle proof consumption (`Type.fromMerkleProof(proof: Proof): T`)
    - Simple network req/resp protocol to get merkle proofs (either libp2p req/resp or rest) `(root, paths) => proof`
    - Maintain light client stat

[2021-02-13 22:29] wemeetagain commented on #2026
closing in favor of #2044

[2021-02-13 22:29] #2026 closed, assigned to wemeetagain

[2021-02-14 15:21] #1875 closed, assigned to nobody

[2021-02-15 07:19] twoeths commented on #1472
it's still not merged to the official spec tests

[2021-02-15 11:54] twoeths opened #2046 "Investigate long epoch transition during Pyrmont sync"
I was able to catch a 4.84s epoch transition in my local environment using Chrome profiler
<img width="1124" alt="Screen Shot 2021-02-15 at 18 42 17" src="https://user-images.githubusercontent.com/10568965/107942360-b6b8d280-6fbd-11eb-976d-08a8bad6f2b1.png">

An overview:
+ prepareEpochProcessState takes 530ms ++, and there are some small executions happened after that
+ processRewardsAndPenalties

[2021-02-15 12:41] dapplion commented on #2005
I got an out of memory crash today running on Mainnet on Digital ocean nodes

![Screenshot from 2021-02-14 08-42-34](https://user-images.githubusercontent.com/35266934/107947871-544adc80-6f93-11eb-8255-a884aa5e8138.png)

[code]

---

**UPDATE**: After some hours from the Out Of Memory crash, memory is climbing again. The worrying part is that the added memory directly affects performance, reducing

[2021-02-15 13:01] dapplion commented on #2035
Just setup a node at contabo-1. If you want  @3xtr4t3rr3str14l  you can setup a validator there, right now there's only the node

[2021-02-15 15:54] wemeetagain commented on #2046
IMO we have likely milked as much performance out of things as reasonable and should just attempt to mitigate the slowness.
We should just break up epoch processing with `await sleep(0);` to just prevent any single piece of the epoch transition from taking

For instance, there's not much that can be done regarding re-hashing the balances. It's just computationally intensive work that has to be don

[2021-02-15 15:58] wemeetagain commented on #2005
One somewhat easy fix would be to reduce the state caches sizes while we're initial-syncing. Right now we're storing a BUNCH of states that we really don't need to keep around, which accounts for most of that memory.

[2021-02-16 07:47] #1570 closed, assigned to nobody

[2021-02-16 13:37] dapplion opened #2048 "Sudden crash cause synced progress lost"
Testing mainnet in Digital Ocean the node suddenly crashed without any cause.

The node was synced to the head when the crash happened, and the node started syncing from many epochs behind indicating that sync progress was lost. What can cause this?

![Screenshot from 2021-02-16 14-38-10](https://user-images.githubusercontent.com/35266934/108070412-c8a18080-7064-11eb-939a-7dbae2cb8349.png)

[code]

[2021-02-16 14:00] dapplion commented on #2005
@wemeetagain  Can you spec a proposal in a new issue to implement this? Sounds very important and urgent.

[2021-02-16 14:04] dapplion commented on #2048
The exact same thing happened in a different machine. Sudden crash + head slot dropped
- Node A: 551400 -> 525120 (26280 slots, 821 epochs)
- Node B: 547960 -> 524980 (22980 slots, 718 epochs)

[2021-02-16 14:09] dapplion commented on #2046
@wemeetagain I had a chat with Paul from Lighthouse and their epoch transitions take 20-30 ms, 100 times faster than ours. That's an insane difference that should be at least investigated.

[2021-02-16 15:27] wemeetagain commented on #2046
It looks like we might not be iterating thru our cached validators/balances where we can?

[2021-02-16 20:06] dapplion opened #2049 "Epoch transition performance improvement - low hanging fruit"
Research potential ways to improve epoch transition total CPU time

- We might already have the balances in an array, would not need to compute this again
https://github.com/ChainSafe/lodestar/blob/a5e8116af83df67faa0da2bff47d90f731fb523c/packages/lodestar-beacon-state-transition/src/fast/epoch/processRewardsAndPenalties.ts#L14
- Improve creating the tree from balances. We might be able to use a B

[2021-02-17 08:30] dapplion opened #2050 "Consider minimizing GC runs if possible"
Reference https://stackoverflow.com/questions/18364175/best-practices-for-reducing-garbage-collector-activity-in-javascript

[2021-02-17 08:41] twoeths opened #2051 "Proposal to store less State Context inside StateContextCache"
**Is your feature request related to a problem? Please describe.**
As noted in #2005, we store too many State Contexts inside StateContextCache during initial sync unnecessarily

**Describe the solution you'd like**
+ Create one more index inside StateContextCache to know the epoch of each State Contexts
+ do `pruneFinalized` if an epoch is finalized
+ keep doing the existing `prune` per check poi

[2021-02-17 08:47] #1624 closed, assigned to mpetrunic

[2021-02-17 09:18] twoeths commented on #2005
here's a proposal I have #2051

[2021-02-17 09:32] BeroBurny opened #2052 "@chainsafe/lodestar-beacon-state-transition missing dependency"
**Describe the bug**

[code]

**Expected behavior**

after installing `@chainsafe/lodestar-beacon-state-transition` should automaticly get `@chainsafe/persistent-ts` as `@chainsafe/lodestar-beacon-state-transition` dependecy

**Steps to Reproduce**

install npm package `@chainsafe/lodestar-beacon-state-transition`

**Screenshots**

**Desktop (please complete the following information):**
 - OS:  u

[2021-02-17 12:04] dapplion commented on #2051
I think we can develop a much smarter StateContextCache that self-prunes given some conditions:
- We can track how many times a state cache has been accessed, the last time it has been accessed and delete the ones that are therefore less useful.
- It is possible for this instance to be self-aware of a memory constraint situation. If the memory is tight it could then drop more cached states, betwee

[2021-02-17 17:24] wemeetagain commented on #2051
This seems like an easy solution for the initial sync case. Perhaps we might even call `pruneFinalized` something like `pruneBeforeEpoch` and then `on('checkpoint', (c) => cache.pruneBeforeEpoch(c.epoch))` to prune all cached states before the most-recently processed checkpoint.
The question is then where to manage/attach this handler. I was hoping that @dapplion 's sync work would be landed at th

[2021-02-17 21:16] 3xtr4t3rr3str14l commented on #2035
@dapplion  sure, i'll set it up there instead.

[2021-02-18 08:02] mpetrunic commented on #2035
I have no idea how this reopened 😄

[2021-02-18 08:02] #2035 closed, assigned to mpetrunic

[2021-02-19 09:41] mpetrunic commented on #2043
resolved with https://github.com/ChainSafe/lodestar/pull/2066

[2021-02-19 09:41] #2043 closed, assigned to nobody

[2021-02-19 10:04] twoeths commented on #2046
`getAttesationDeltas()`/BigInt performance is really unpredictable (ranging from 98ms to 1375ms) as shown in PR #2064 , one possibility is to implement the function in assemblyscript. From a quick look, we can just  pass balances, config params (5 of them), EpochProcess (may pass 20 different params), finalized epoch and receive back new balances (if assemblyscript does not support passing objects

[2021-02-19 10:55] dapplion commented on #2046
I think it's worth it! Using assembly script won't introduce new complexities such as multi-treading

[2021-02-19 13:37] dapplion opened #2070 "Code style: Omit public modifier"
To make our codebase consistent, should we omit the `public` modifier since it's the default?

YES: Respond :+1:
[code]

NO: Respond :-1:
[code]

Ref: https://www.typescriptlang.org/docs/handbook/classes.html#public-by-default

[2021-02-19 13:39] dapplion opened #2071 "Code style: Arrow function in tests"
To make our codebase consistent, should we use arrow functions in tests when it's not necessary to access `this`?

YES: Respond :+1:
[code]

NO: Respond :-1:
[code]

Ref: https://www.typescriptlang.org/docs/handbook/classes.html#public-by-default

[2021-02-19 14:36] mpetrunic commented on #2070
Im quite divided on that.
On one hand if there isnt modifier I always assume "protected" (no idea why)

On other hand, less code.

[2021-02-19 14:38] mpetrunic commented on #2071
Probably wrong link, but mocha recommends not using arrow functions since 'this.timeout' wont work

Ref: https://mochajs.org/#arrow-functions

[2021-02-19 14:52] dapplion commented on #2071
That's the point on this issue, only use function when you need to access `this`

[2021-02-19 15:03] #2052 closed, assigned to mpetrunic

[2021-02-19 15:04] mpetrunic commented on #2071
wouldn't not using arrow functions in tests at all make our codebase more consistent?

[2021-02-19 15:14] dapplion commented on #2071
We can be consistent to the rule: "Use arrow functions except when this is needed". Accessing this.timeout is rare in tests and the `function` keyword adds more cognitive load

[2021-02-19 15:22] wemeetagain commented on #2005
To debug the stairstepping memory, lets take a heap snapshot when the stairstep is low, then another when the stairstep is higher. And compare the snapshots.

[2021-02-19 17:56] wemeetagain opened #2075 "Use `config.getTypes` where applicable"
**Is your feature request related to a problem? Please describe.**
After #2073, lodestar explicitly uses `phase0` types everywhere.
There's an exercise that needs to be done to make lodestar HF-ready.
IMO should wait until we've merged the `lightclient` branch into master and actually have multiple versions of types.

**Describe the solution you'd like**
Wherever multiple versions of an object may

[2021-02-19 19:15] 3xtr4t3rr3str14l commented on #2071
i've almost always used arrow functions in mocha tests, but i didn't know about the `this` problem.  personally, i'd prefer consistency and deal with the negligible cognitive load.

[2021-02-20 12:09] dapplion commented on #2071
I've tried and if you use `this.timeout` with arrow functions Typescript won't compile so the recommendation only affects non-Typescript projects

[2021-02-20 22:40] wemeetagain opened #2076 "Extract test utilities to separate private package"
**Is your feature request related to a problem? Please describe.**
`lodestar-validator` tests depend on `lodestar` test utilities.

**Describe the solution you'd like**
Extract test utilities to a private package, eg: `test-utils`

**Describe alternatives you've considered**
Keep as is

**Additional context**
See https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar-validator/test/un

[2021-02-21 15:20] dapplion opened #2078 "Improve lodestar-validator logging"
Current lodestar-validator logging at the info level is very spammy. It should log some status message every slot at most like https://github.com/ChainSafe/lodestar/pull/2059 All other status logging should be moved to verbose or removed

[2021-02-21 15:59] dapplion opened #2080 "Review API unit tests"
Beacon node API unit tests
- feature a lot of code repetition, consider defining common utils.
- They are also quite slow, consider options to speed them up or move to e2e

[2021-02-21 16:06] dapplion opened #2081 "Multi-thread sim tests - random node falls behind in sync"
Often when running the multi-thread sim tests one of the four nodes falls behind and never recovers. Why does this happen?

[code]

Attached, are logs from a failed sim test

[8_Simulation multi thread test.txt](https://github.com/ChainSafe/lodestar/files/6018025/8_Simulation.multi.thread.test.txt)

[2021-02-21 17:28] dapplion opened #2083 "Simplify Gossipsub validator fn Map"
In Gossipsub we register the same function for all topics. Then this function has to parse the incoming topic and decide which dedicated validator fn to use.

Would it be simpler / possible to directly register validator fn A for topic A and remove all the parsing?

Ref: https://github.com/ChainSafe/lodestar/blob/c013fbf6c3c7b623a6f476cbd5a7544026e009c3/packages/lodestar/src/network/gossip/gossips

[2021-02-22 14:00] dapplion commented on #2081
Related to https://github.com/ChainSafe/lodestar/pull/2067#issuecomment-782867909

[2021-02-22 19:39] wemeetagain opened #2085 "HF TODOs"
With HF code safely namespaced and #1862 merged, we can incrementally (and safely) add HF support to `master`.

Some items RE forking that are left TODO (Somewhat in dependency order)
- RE state transition library
  - [x] Finish naive lightclient state transition (#2045)
  - [x] Add fast lightclient state transition (will require slightly extending fast utils)
  - [x] Integrate lightclient spec te

[2021-02-22 20:26] #1840 closed, assigned to nobody

[2021-02-22 21:58] dapplion opened #2087 "Ensure REST API is e2e tested"
A bug in the validator client wasn't picked up by tests (https://github.com/ChainSafe/lodestar/pull/2086). Make sure at least 1 e2e test uses the REST API to advance the chain up to some checkpoint. Or run the sim tests over the REST API

[2021-02-23 04:07] twoeths commented on #2046
so I tried assemblyscript, one issue I had was OOM issue although I configured different `gc` strategies there and manually called `__collect()` (tried with v0.9.2), so for now I think this is more suitable to functions where we can allocate a static memory allocation similar to how `as-sha256` was implemented.
Also in order to pass bigint to wasm we have to use `--experimental-wasm-bigint` flag w

[2021-02-23 08:22] mpetrunic opened #2091 "Use PascalCase for type namespaces"
Currently we export type namespaces as camelcase as well as beacon state transition which casues name conflicts when importing. I would propose to use PascalCase for type exports so we can avoid that and it's more clear what is imported.

[2021-02-23 15:38] wemeetagain commented on #2091
My current thought (which is currently implemented for `phase0`) is to re-export the types in the state transition package.
[code]

[2021-02-23 15:40] #2029 closed, assigned to mpetrunic

[2021-02-23 15:42] #2051 closed, assigned to twoeths

[2021-02-23 20:25] mpetrunic commented on #2091
Seems confusing still though and we would need to be careful to import phase0 from correct package

[2021-02-23 21:08] wemeetagain commented on #2091
IMO its not been confusing in practice. Been using it and loving it.
I think using the same name, treating them as philosophically same namespace, is actually quite ergonomic. Its the same name, _everywhere_, just with an option to import a smaller subset (just types) if required. (It's somewhat similar to the ergonomics of the pyspec, but with more published packages)

It's also been quite conven

[2021-02-23 22:21] dapplion opened #2093 "Add GC metrics"
See https://github.com/SimenB/node-prometheus-gc-stats

This module exposes 3 metrics:
- nodejs_gc_runs_total: Counts the number of time GC is invoked
- nodejs_gc_pause_seconds_total: Time spent in GC in seconds
- nodejs_gc_reclaimed_bytes_total: The number of bytes GC has freed

[2021-02-23 22:22] dapplion commented on #2091
I'm okay with `phase0`, despite not complying with standard type casing Typescript will ensure we don't miss use the variable

[2021-02-24 18:20] dapplion opened #2097 "Review default error handling in API routes"
Experimenting with new routes, a TypeError resulted in the HTTP incoming connection hanging, instead of returning a 500

[2021-02-26 07:48] twoeths opened #2103 "POC: Experiment pulling balances out of TreeBacked<BeaconState>"
**Is your feature request related to a problem? Please describe.**
Currently we have a performance issue with `processRewardsAndPenalties` due to the following steps:
+ traversing the balances tree
+ build back the tree
+ getting through `BigIntUintType.toBytes()/fromBytes()` so much which requires BigInt operations a lot

It makes me think that maybe `balances` is not suitable to be part of the p

[2021-02-27 14:55] dapplion opened #2113 "Remove --ignore-optional flag in Dockerfile"
We don't have to use this flag anymore since the spec tests are not an NPM package. However, I tried to delete the flag and the node did not start crashing with:

[code]

What may be happening here?

**To recreate**

Remove flag from these two lines
https://github.com/ChainSafe/lodestar/blob/8c860b334a73ece8b310f86c58487104dd8976b3/Dockerfile#L7
https://github.com/ChainSafe/lodestar/blob/8c860b334

[2021-02-27 16:23] dapplion commented on #2113
I confirm this issue after:
1. cloning lodestar in fresh machine
2. docker-compose build -> :white_check_mark:
3. Do only the change of removing `--ignore-optional` from Dockerfile
4. docker-compose build -> :heavy_multiplication_x:

[2021-02-27 17:38] dapplion commented on #2113
@wemeetagain Can you take a look? I can't find anything suspicious

[2021-02-28 18:35] dapplion opened #2114 "Metrics are always enabled"
PR https://github.com/ChainSafe/lodestar/pull/2112 adds a C++ script to collect GC metrics. This script breaks when run in a worker apparently, which happens on the multi-thread test.

However, metrics SHOULD be disabled by default and should no be loaded on the multi-thread test.

[code]

[2021-02-28 19:47] dapplion opened #2115 "Consider increasing max_semi_space_size"
According to GC metrics on master the beacon node spends 10% of the time doing Scavenge GC runs.

![Screenshot from 2021-02-28 20-45-51](https://user-images.githubusercontent.com/35266934/109431313-37d48880-7a06-11eb-8560-95d6b0db8f40.png)

If the metrics are correct this article suggests increasing `max_semi_space_size` with the flag `--max_semi_space_size` to reduce the frequency of these runs.

[2021-02-28 20:13] wemeetagain commented on #2114
:+1: the metrics object should be optionally passed to every top-level module.
[code]
All of the metrics logic can then be hidden behind a `if (metrics) {` conditional.

[2021-02-28 20:48] dapplion commented on #2114
Maybe we can find a less verbose way of not running any code at all if metrics are disabled but consumers can just do

[code]

[2021-02-28 20:52] dapplion commented on #2093
Implemented in https://github.com/ChainSafe/lodestar/pull/2112

[2021-02-28 20:52] #2093 closed, assigned to wemeetagain

[2021-02-28 20:58] wemeetagain commented on #2114
IMO 'less verbose', ie consumers always hitting metrics, will always have a tradeoff with increased runtime cost.

If a consumer has code like `this.metrics.someMetric.set(this.expensiveFunction())`, no amount of fanciness within the metrics (eg: proxy, extended methods, etc) will stop the expensive function from running.

[2021-02-28 21:03] wemeetagain commented on #2114
Perhaps a fancy thing we could do is wrap metrics calls in anonymous functions?
[code]
More a matter of taste whether that or a simple `if` suffices.
[code]

[2021-03-01 07:43] dapplion commented on #2114
In the case you show above we can expose a property in metrics `enabled: boolean` to be used there only
[code]

[2021-03-01 10:10] twoeths commented on #2103
One drawback with the above proposal was `dereaseBalance/increaseBalance` during processing block:  we have to calculate `balancesRoot` again from scratch.

## Update
+ ~Track balances as a regular BigInt array inside BeaconStateImpl, hence we can access it easily~ Track `balances` as an array of Uint8Array (8 bytes) => `balancesRoot` should be the same to BigInt.
+ `processRewardsAndPenalties` ba

[2021-03-02 10:06] dapplion opened #2120 "Config parser error on every node restart"
The lodestar-cli stores an invalid config YAML to disk with
[code]
The string "undefined" is not a number so it always throws when starting the node with
[code]

---

Seems that it's SSZ the one doing the serialization. Any idea how to fix this?
https://github.com/ChainSafe/lodestar/blob/423124c3bdfbb86a852a67518d6ad60798c699c6/packages/lodestar-cli/src/config/beaconParams.ts#L85

[2021-03-02 10:07] dapplion commented on #2113
Root issue -> https://github.com/ChainSafe/lodestar/issues/2120

[2021-03-02 14:44] dapplion commented on #2005
I managed to capture a heapdump before the stair step and after the stair step (see the last two blue lines). They are 1 hour apart but relatively close to the step, given that it takes 3-5min to capture a heapdump.

![Screenshot from 2021-03-02 15-12-12](https://user-images.githubusercontent.com/35266934/109664677-ab44da00-7b6d-11eb-903a-73e74e675538.png)

**Note:** All heapsnapshots are availabl

[2021-03-02 19:26] #2120 closed, assigned to nobody

[2021-03-02 19:26] wemeetagain commented on #2114
Resolved with #2117

[2021-03-02 19:26] #2114 closed, assigned to nobody

[2021-03-04 10:20] dapplion opened #2127 "blocks by range responds with orphaned blocks"
AgeManning reported that a Lighthouse node in Pyrmont was served orphaned blocks and thus banned us. Investigate.

You seem to send orphaned or blocks that don't exist in the chain back and we are kicking you guys
Think this was Pyrmont. When sync errors we keep track of the client and the cause

[2021-03-04 20:16] 3xtr4t3rr3str14l commented on #2017
closing in favor of #1990

[2021-03-04 20:16] #2017 closed, assigned to 3xtr4t3rr3str14l

[2021-03-04 20:17] #1970 closed, assigned to 3xtr4t3rr3str14l

[2021-03-04 21:19] #2113 closed, assigned to 3xtr4t3rr3str14l

[2021-03-07 16:58] dapplion opened #2139 "Dangerous try / catch all in lodestar-db"
Lodestar-db has a try / catch that swallows all errors, without doing any triage first. Is this expected? Can we define what types of errors do we want to ignore and catch only those?

https://github.com/ChainSafe/lodestar/blob/a5973ea9551e3feae25a9c53d04d73616fe1d770/packages/lodestar-db/src/abstractRepository.ts#L54-L56

[2021-03-08 17:47] wemeetagain commented on #1158
No longer using `ALL_FORKS` to determine forking, rather, using `IBeaconConfig` to group fork info

[2021-03-08 17:47] #1158 closed, assigned to nobody

[2021-03-08 18:07] wemeetagain commented on #2139
We probably can remove the try/catch entirely.
I think it was originally there to convert "not-found" errors into null. Thats done within the leveldb `IDatabaseController` tho.

[2021-03-08 21:34] dapplion opened #2145 "Validator does invalid prepareBeaconCommitteeSubnet request"
The multinode multithread test for the `dapplion/peer-manager` branch showed this repeatedly in the tests https://github.com/ChainSafe/lodestar/pull/2142/checks?check_run_id=2054916882

[code]

How could the validator send this invalid request?

See full test logs attached:

[logs.txt](https://github.com/ChainSafe/lodestar/files/6104276/logs.txt)

[2021-03-08 21:45] dapplion commented on #2145
There's also this error

[code]

[2021-03-09 02:26] wemeetagain opened #2148 "Use rimraf instead everywhere / Support developing lodestar on windows"
should we use rimraf instead everywhere? It would be nice to support developing lodestar on windows?

_Originally posted by @mpetrunic in https://github.com/ChainSafe/lodestar/pull/2136#discussion_r589644340_

[2021-03-09 05:14] mpetrunic commented on #2145
For first error, it seems like we arent using ssz to serialize to json so validatorIndex doesnt become validator_index.

https://github.com/ChainSafe/lodestar/blob/133417b28edf5888ec566d07df043e033da3b040/packages/lodestar-validator/src/api/impl/rest/validator/validator.ts#L67

Second error is known, if you fix it sim tests are failing which indicates, we are doing something incorrectly with event

[2021-03-09 09:18] twoeths commented on #2046
current epoch transition for Pyrmont at around slot 363972 is 890ms.

@ChainSafe/eth2-0  I think the last thing to do for this issue is to add `await sleep(0)` in state transition and make sure we don't block for 200ms?

[2021-03-09 09:39] twoeths commented on #1990
there are different improvements implemented, this should be tracked in #2046

[2021-03-09 09:39] #1990 closed, assigned to twoeths

[2021-03-09 09:42] twoeths commented on #1938
should work on #1949  instead

[2021-03-09 09:42] #1938 closed, assigned to twoeths

[2021-03-09 20:38] wemeetagain opened #2152 "Add metric to track forking"
**Is your feature request related to a problem? Please describe.**
One step towards having a good state cache pruning strategy is tracking the amount of forking that our node is experiencing.
During low-forking situations, our cache may be much smaller. But during high-forking situations, we likely need to keep more states around.

**Describe the solution you'd like**
As a first step, add metric(s

[2021-03-09 20:40] dapplion opened #2153 "Implement regen metrics"
- Cache hits vs cache miss
- Cache frequency usage, last usage per item

[2021-03-09 22:11] wemeetagain opened #2154 "Make State Cache Pruning Smarter"
**Is your feature request related to a problem? Please describe.**

Currently, the pruning of the state caches is very basic, controlled by calling `cache.prune` on regular regular intervals, when the chain processes a checkpoint. This naive strategy leads to more memory use than is needed.

When the chain is healthy, or when chain regen is low, we may need fewer states cached.
When the chain is u

[2021-03-10 05:34] wemeetagain opened #2155 "Error in node/identity API endpoint"
**Describe the bug**

Calling the node/identity endpoint results in an error

**Steps to Reproduce**

`curl localhost:9596/eth/v1/node/identity`

[code]

[2021-03-10 08:40] twoeths commented on #2127
from https://github.com/sigp/lighthouse/blob/v1.2.0/beacon_node/network/src/sync/range_sync/chain.rs#L682

regarding `beacon_block_by_range`, what I see is we enforce canonical blocks pretty well for archived blocks and unarchived blocks but we need to do more to make sure the concatenation of these 2 arrays/streams (when handle request) form a complete linear chain segment that other clients can

[2021-03-10 08:42] dapplion commented on #2127
We could do a last loop over all blocks before sending to ensure that all blocks are part of the chain or drop them

[2021-03-10 09:38] twoeths commented on #2127
it works or `step=1` but not for `step>1`, I think we want to return correct results for all steps. Maybe we want to coordinate with `ArchiveBlocksTask` to return error if requested range overlaps with `ArchiveBlocksTask` range?

[2021-03-10 10:33] dapplion commented on #2127
What's the issue with step > 1 ?

[2021-03-10 10:36] twoeths commented on #2127
I mean we can't check parent-child relationship before we return if `step>1`

[2021-03-10 12:06] dapplion commented on #2127
Can we ask the forkchoice if blocks belong to our current head chain?

[2021-03-10 17:34] #2155 closed, assigned to nobody

[2021-03-10 17:37] wemeetagain opened #2157 "Can't fetch finalized block via API"
### Describe the bug

Fetching the finalized block using the API fails with 404

### Steps to Reproduce

`curl localhost:9596/eth/v1/beacon/headers/finalized`

[2021-03-11 01:55] twoeths commented on #2127
forkchoice is pruned frequently per finalized checkpoint so we can't count on it

[2021-03-11 14:57] wemeetagain opened #2162 "Add eslint rule to enforce _not_ using the public keyword"
https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/explicit-member-accessibility.md

'no-public'

_Originally posted by @mpetrunic in https://github.com/ChainSafe/lodestar/issues/2159#issuecomment-796636686_

[2021-03-11 14:57] #2070 closed, assigned to nobody

[2021-03-11 15:05] mpetrunic commented on #2162
I thinks its already added to dapplions pr

[2021-03-11 15:33] #2162 closed, assigned to nobody

[2021-03-12 03:53] twoeths commented on #2081
I see some `BLOCK_ERROR_PARENT_UNKNOWN` errors in the log.
@dapplion what's the reason to remove `getMissingAncestor` in https://github.com/ChainSafe/lodestar/pull/2099?

[2021-03-12 07:13] dapplion commented on #2081
The error contains the parentRoot, so it's not necessary to retrieve it
[code]
I understand that was the purpose of that method.

[2021-03-12 07:21] twoeths commented on #2081
`pendingBlocks` maybe a chain segment like block b, b+1,..., b+n . So when the next block comes at the end, we want to get parent of block b, which is the missing ancestor of the chain segment, instead of block `b+n` which we already have. And `getMissingAncestor()` was for that purpose.

[2021-03-12 10:08] twoeths commented on #2081
for the root cause of this issue, I think it's because Node 3 (in the log) got stuck at orphaned block 1, similar to what we see in the unit test https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar/test/unit/chain/forkChoice/forkChoice.test.ts#L28

It seems to me that we did add attestations to forkchoice but initially we did not initial justified balances correctly and they are al

[2021-03-12 11:22] twoeths commented on #2081
Reproduced with the debug log
[multiThread.debug.log](https://github.com/ChainSafe/lodestar/files/6129621/multiThread.debug.log)

[2021-03-12 11:35] dapplion opened #2166 "Cannot collect attestations before regular sync"
**Describe the bug**

When running node + validator right before genesis

[code]

**Expected behavior**

Node + validator should coordinate okay without errors

**Steps to Reproduce**

Run sim tests, or inspect the debug logs here https://github.com/ChainSafe/lodestar/issues/2081#issuecomment-797428629

[2021-03-12 17:39] wemeetagain opened #2167 "Remove libp2p-ts types"
**Is your feature request related to a problem? Please describe.**

We're maintaining our own hand-crafted types separately from many of the libp2p dependencies.
This is a maintenance burden and leads to problems when the types are subtlely wrong, outdated, or incomplete.
It would be much better if long-term, we use the upstream types, pushing our types upstream as necessary.

**Describe the solut

[2021-03-12 20:05] 3xtr4t3rr3str14l opened #2168 "add mnemonic phrase recover option to cli"
saw that lighthouse had this (https://github.com/sigp/lighthouse/blob/stable/account_manager/src/validator/recover.rs) and thought it might be cool/useful for us to do as well

[2021-03-15 06:54] twoeths commented on #1906
duplicae to #2167

[2021-03-15 06:54] #1906 closed, assigned to nobody

[2021-03-15 07:02] twoeths commented on #2166
this is the 1st time nodes reaches Synced status:
[code]

all of the errors happens before that time so it's expected.

[2021-03-15 07:24] dapplion commented on #2166
We can make some changes to prevent those errors:
- Beacon accepts subscriptions close but before genesis
- Beacon considers itself synced close but before genesis
- Validator waits for genesis + 1 second to request subscription

[2021-03-15 14:33] #2139 closed, assigned to nobody

[2021-03-16 05:54] #2157 closed, assigned to 3xtr4t3rr3str14l

[2021-03-16 14:49] wemeetagain opened #2177 "Serve Weak Subjectivity State"
**Is your feature request related to a problem? Please describe.**

We would like to upload certain historical states, weak subjectivity states, to the cloud, for use in bootstrapping sync.

**Describe the solution you'd like**

We need to expand our debug/states API endpoint to be able to serve historical checkpoint states at weak subjectivity epochs.
Currently, the endpoint just checks our state

[2021-03-16 14:51] #2048 closed, assigned to nobody

[2021-03-16 14:52] #2081 closed, assigned to twoeths

[2021-03-16 14:57] wemeetagain commented on #1950
resolved in #2172

[2021-03-16 14:57] #1950 closed, assigned to twoeths

[2021-03-16 18:29] #2080 closed, assigned to 3xtr4t3rr3str14l

[2021-03-17 03:29] twoeths commented on #2177
I suppose we can do state regen in a separate Worker Thread.

[2021-03-17 03:36] twoeths opened #2179 "BeaconStateContext instances are retained in Promise"
**Describe the bug**

This is from a heap snapshot I used to sync Pyrmont

<img width="1133" alt="retained_BeaconStateContext" src="https://user-images.githubusercontent.com/10568965/111410741-e289be00-870b-11eb-92aa-81099b09b8e8.png">

The promise being retained is the one in processChainSegment https://github.com/ChainSafe/lodestar/blob/master/packages/lodestar/src/chain/blocks/process.ts#L141

[2021-03-17 03:40] twoeths opened #2180 "Beacon Blocks Array is retained in Promise"
**Describe the bug**

This is from a heap snapshot after I sync Pyrmont
<img width="1001" alt="retained_Tree_Array" src="https://user-images.githubusercontent.com/10568965/111411340-f386ff00-870c-11eb-9582-ebd685dd7a1f.png">

**Expected behavior**

The Tree (and handler) and the Promise should not be retained in memory.

**Steps to Reproduce**

+ Sync Pyrmont

**Desktop (please complete the follow

[2021-03-17 03:45] twoeths opened #2181 "libp2p.dialProtocol promises are retained in memory"
**Describe the bug**

This is from a heap snapshot I use to sync Pyrmont

<img width="1177" alt="retained_eth2_Stream" src="https://user-images.githubusercontent.com/10568965/111412540-27632400-870f-11eb-83db-ab2d633a15f7.png">

**Expected behavior**

+ The stream and Promise are not retained in memory
+ `finalizeRoot` should not carry the Tree object

**Steps to Reproduce**

+ Sync Pyrmont

[2021-03-17 04:03] twoeths opened #2182 "Tree Object is retained in Promise"
**Describe the bug**

This is from a heap snapshot after I sync Pyrmont
<img width="1217" alt="retained_Tree_Object" src="https://user-images.githubusercontent.com/10568965/111413032-11099800-8710-11eb-8205-51600a00c1b2.png">

Note that this is a Tree object instead of a Tree Array in #2180

**Expected behavior**

The Tree object and Promise are not retained in memory

**Steps to Reproduce**

+ Sy

[2021-03-17 07:23] mpetrunic opened #2183 "Rename lightclient to altair"
Rename all instances of types, state transition and namespaces to Altair.
Don't rename lodestar-lightclient.

[2021-03-17 07:56] twoeths commented on #2181
this is another view where the retained tree stay in `finalizedRoot` of Status message
<img width="1159" alt="retained_Tree_finalizedRoot" src="https://user-images.githubusercontent.com/10568965/111433211-97ce6d00-8730-11eb-963b-6bf59ba8b906.png">

All retained trees in Status message takes ~200MB

[2021-03-17 13:07] wemeetagain opened #2187 "Add Prater testnet config"
**Is your feature request related to a problem? Please describe.**

Prater testnet is coming up soon. We will want to participate, and need a testnet config baked into lodestar, in the same way we have one for pyrmont.

**Additional context**
See https://github.com/eth2-clients/eth2-testnets for the prater config

[2021-03-17 18:20] dapplion commented on #1217
Fixed with https://github.com/ChainSafe/lodestar/pull/2147

[2021-03-17 18:20] #1217 closed, assigned to dapplion

[2021-03-17 18:26] dapplion commented on #823
https://github.com/ChainSafe/lodestar/pull/2142 would ensure correct behaviour

Goodbyes are sent exclusively with this method ensuring the connection is disconnect after completing the goodbye request or on error
https://github.com/ChainSafe/lodestar/blob/fa5a188e6e58e6279fb86d5aff28e944912d8485/packages/lodestar/src/network/peers/peerManager.ts#L407-L416

When receiving goodbye requests, it ensu

[2021-03-17 18:38] dapplion commented on #1329
Too niche

[2021-03-17 18:38] #1329 closed, assigned to twoeths, dapplion

[2021-03-17 18:42] dapplion opened #2191 "Do not fetch Eth1 data during initial sync"
Initial sync is a very resource intensive process, so doing extra work is not good

Eth1 module should not fetch and process blocks until regular sync or until fully synced. An extra optimization is to fetch blocks from a specific blockNumber instead of contract deployment, see https://github.com/ChainSafe/lodestar/issues/1329

[2021-03-18 08:10] #2187 closed, assigned to dapplion

[2021-03-18 09:28] dapplion commented on #1377
@tuyennhv Your performance tests are a great step in this direction. Do you think it's possible to add them as part of CI and at least produce a report that can be reviewed if necessary?

[2021-03-18 09:46] twoeths commented on #2181
so the `libp2p.dialProtocol` promises were retained in memory, and it keeps the stream with it while the `stream.sink` keeps the `requestEncode` generator along with `finalizeRoot` (and a tree)
<img width="914" alt="retained_dialProtocol_promise" src="https://user-images.githubusercontent.com/10568965/111605028-88225780-8808-11eb-9521-2c386818a42c.png">

and the retained `libp2p.dialProtocol` prom

[2021-03-18 10:23] dapplion commented on #1463
We have to wait to safely thread BLST https://github.com/supranational/blst/issues/64#issuecomment-798160680

However it would be valuable to start prototyping with WASM

[2021-03-18 10:26] dapplion commented on #1464
After introducing `await sleep(0)` statements between state transition fn runs we can survive as a stable node in both Mainnet and Pyrmont. It is very unlikely that we implement this until we refactor how we our TreeBacked / SSZ infra works. Closing for now let's revisit once that happens

[2021-03-18 10:26] #1464 closed, assigned to mpetrunic

[2021-03-18 10:28] dapplion commented on #1770
@tuyennhv We've implemented this and works quite well, should we close?

[2021-03-18 10:35] dapplion commented on #1492
The BeaconNode's validator API runs
[code]
before every check. Would that satisfy this issue?

[2021-03-18 10:44] dapplion commented on #1370
I've pushed a branch running the sim tests with Node 10,11,12,13,14,15 https://github.com/ChainSafe/lodestar/runs/2138730025 and the results are
- 10: :heavy_multiplication_x: js-libp2p declares Node >= v12 in the package.json
- 11: :heavy_multiplication_x: js-libp2p declares Node >= v12 in the package.json
- 12: :heavy_check_mark:
- 13: :heavy_check_mark:
- 14: :heavy_check_mark:
- 15: :heavy_che

[2021-03-18 10:47] dapplion commented on #1499
With the review from https://github.com/ChainSafe/lodestar/pull/2164 I would consider this issue closed. When stopping the node libp2p.stop() closes the streams of all open connections which should abort all active ReqResp requests including fetching blocks from peers

[2021-03-18 10:47] #1499 closed, assigned to dapplion

[2021-03-18 10:52] dapplion commented on #1554
Fixing this would require changing the commit hash of all release tags. Also, the weekly volume of commits of this repo is so big that the size of the `prometheus` binary is more diluted than when this issue was opened. :man_shrugging:

[2021-03-18 10:52] #1554 closed, assigned to nobody

[2021-03-18 10:53] #1625 closed, assigned to nobody

[2021-03-18 10:54] dapplion commented on #1642
Implemented in https://github.com/ChainSafe/lodestar/commit/afd9888ef58542d3dbeeb71492a1cf3cc16fc27e

[2021-03-18 10:54] #1642 closed, assigned to dapplion

[2021-03-18 10:56] dapplion commented on #1695
Should be good for now, re-visit when reviewing Lodestar branding as a whole

[2021-03-18 10:56] #1695 closed, assigned to nobody

[2021-03-18 10:57] dapplion commented on #1733
@mpetrunic  What's your opinion on the value of implementing this protections in lodestar-validator?

[2021-03-18 11:00] dapplion commented on #1773
In meetings it was agreed to not enforce at the commit level. Maybe at the PR title level (see https://github.com/ChainSafe/lodestar/issues/1812), but with our regular bi-weekly release schedule and not yet following semver's breaking policy it's not necessary

[2021-03-18 11:00] dapplion commented on #1784
Fixed with https://github.com/ChainSafe/lodestar/pull/1924

[2021-03-18 11:00] #1784 closed, assigned to nobody

[2021-03-18 11:03] dapplion commented on #1812
@mpetrunic Would this help and / or be possible with our current release automation?

[2021-03-18 11:04] dapplion commented on #1818
Fixed

https://github.com/ChainSafe/lodestar/blob/4a014f0cc3a5292f033b6ebece7059b8e994cb55/packages/lodestar-validator/package.json#L50

[2021-03-18 11:04] #1818 closed, assigned to 3xtr4t3rr3str14l

[2021-03-18 11:05] mpetrunic commented on #1812
Current release picks pr titles automatically. No idea if it would make much difference

[2021-03-18 11:05] dapplion commented on #1889
@mpetrunic Is this still an issue?

[2021-03-18 11:06] twoeths commented on #1770
we haven't implemented it yet, we want to add some more `await sleep(0);` inside lodestar-beacon-state-transition

[2021-03-18 11:06] dapplion commented on #1923
Contabo :tada:

[2021-03-18 11:06] #1923 closed, assigned to wemeetagain

[2021-03-18 11:10] dapplion commented on #1940
Update on progress:

https://github.com/ChainSafe/beacon-state-upload

[2021-03-18 11:11] dapplion commented on #1941
Fixed with https://github.com/ChainSafe/lodestar/pull/2057

[2021-03-18 11:11] #1941 closed, assigned to nobody

[2021-03-18 11:16] dapplion commented on #1964
@wemeetagain @mpetrunic Did we reached a conclusion on this?

[2021-03-18 11:27] dapplion commented on #1979
That log statement no longer exists in the code

[2021-03-18 11:27] #1979 closed, assigned to nobody

[2021-03-18 11:30] dapplion commented on #1998
@mpetrunic Is this still happening?

[2021-03-18 11:35] #2071 closed, assigned to nobody

[2021-03-18 11:36] dapplion commented on #2071
Closing for lack of support

[2021-03-18 11:37] dapplion commented on #2076
@wemeetagain How would the dependency graph look like? Do this utils depend on `lodestar`?